{% if page.handle != 'qure-microinfusion-offer' and page.handle != 'qure-micro-infusion-landing-page-affiliate' and page.handle != 'qure-microinfusion-offer-de' %}
  <section class="ba-container"
  style="
    {% if product.handle == 'micro-infusion-targeted-patches' or product.handle == 'micro-infusion-targeted-patches-single' %}
        display: none !important;
    {% endif %}
  "
  >
    <div class="ba-container-wrapper">
      <div class="panel__container">
        {% comment %} data {% endcomment %}
        <div id="info-product" class="panel">
          {% if template.name == 'product' %}
            {% comment %} product {% endcomment %}
            {% render 'endrock_product_carousel' %}
          {% endif %}
          {% unless template.name == 'product' %}
            {% comment %} pages {% endcomment %}
            {% for block in data %}
              {% if block.type == 'product_in_page' %}
                {% render 'endrock_products_page_carousel', block: block %}
              {% endif %}
            {% endfor %}
          {% endunless %}
        </div>
        {% comment %} real results {% endcomment %}
        <div id="info-result" class="panel ">
          {% for block in data %}
            {% if block.type == 'before_and_after' %}
              {% render 'endrock_real_results', block: block %}
            {% endif %}
          {% endfor %}
        </div>
        {% comment %} dermatologist {% endcomment %}
        <div id="info-derma" class="panel">
          <div class="derma-wrapper">
            {% for block in data %}
              {% if block.type == 'video_before_and_after' %}
                <div class="video-container">
                  {{
                    block.settings.video_new_section
                    | video_tag: autoplay: true, controls: true, muted: true, loop: false, class: 'derma-video'
                  }}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      {% comment %} selector {% endcomment %}
      <div class="selector-container">
        <ul class="nav-wrapper">
          <li class="nav-item">
            <button
              class="nav-button"
              id="productButton"
            >
              {{ dataSection.text_label_real_result_1 }}
            </button>
          </li>
          <li class="nav-item">
            <button
              id="resultButton"
              class="nav-button "
            >
            {{ dataSection.text_label_real_result_2 }}
            </button>
          </li>
          <li class="nav-item">
            <button
              id="dermaButton"
              class="nav-button"
            >
            {{ dataSection.text_label_real_result_3 }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>
{% endif %}