<div>
  <div>
    {{ data.image | image_url: width: 300 | image_tag: alt: data.title }}

  </div>
  <div>
    {{ data.title }}
  </div>
  <div>
    {{ data.value_props |  metafield_tag }}
  </div>
</div>