
{% assign cardTitles = data.card_3_card_titles.value %}
{% assign selectedTitle = cardTitles[cardCase] %}

<div>
  <div>
    <span>calc price</span>
  </div>
  <div>
    {{ selectedTitle }}
  </div>
  <div>
    texto e imagenes 
  </div>
</div>