{% liquid
  assign cardTitles = data.step_3_card_titles.value
  assign paymentText = data.step_3_payment_texts.value 
  assign selectedTitle = cardTitles[cardCase]
  assign selectedPaymentText = paymentText[cardCase]
 %}

<div class="step3-purchase-card-container">
  <div class="step3-card-price-container">
    {% if cardCase == 0 %}
      <div id="step3-price-normal" class="step3-price-normal-container"></div>
      {% else %}
      <div id="step3-price-quota" class="step3-price-quota-cotainer"></div>
    {% endif %}
  </div>
  <div class="step3-card-title-container">
    <div class="step3-card-title">
      <h3>{{ selectedTitle }}</h3>
    </div>
  </div>
  <div class="step3-card-information-container">
    <div class="step3-information-text">
      <p>{{ selectedPaymentText }}</p>
    </div>
    <div class="step-information-img-container">
      {% if cardCase == 0 %}
        {{ data.step_3_payment_logos_1 |  image_url: width: 300 |  image_tag: alt: 'payment logos' }}
      {% else %}
        {{ data.step_3_payment_logos_2 |  image_url: width: 300 |  image_tag: alt: 'payment logos' }}
      {% endif %}
    </div>
  </div>
</div>