<div class="announcement_bar womens_day">
    <span style="margin-right:5px"><img src="assets/womens_day.svg" alt=""> </span>
    <p>WOMEN'S DAY | SPEND $150</p> <a href="https://www.qureskincare.com/collections/best-sellers" class="pink_coloured">Get FREE Face Serum</a>
</div>