<div class="offcanvas offcanvas-end slideAccount" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasAccountLabel" form-type="form_create">Sign In</h5>
        <h5 id="offcanvasAccountLabel" form-type="form_reset" class="hidden">RESET PASSWORD</h5>
        <h5 id="offcanvasAccountLabel" form-type="form_sign" class="hidden">CREATE AN ACCOUNT</h5>
        <button type="button" class="btn-close text-reset icon-x" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form_wrapper">
            {% form 'customer_login' %}
                <div class="slideAccountForm" form-type="form_create">
                    <div class="slideAccountForm_input mb-3">
                        <input type="email" name="customer[email]" id="sign_email" class="slideAccountForm_field" placeholder="Email">
                    </div>
                    <div class="slideAccountForm_input mb-4">
                        <input type="password" name="customer[password]" id="sign_password" class="slideAccountForm_field" placeholder="Password">
                    </div>
                    <div class="slideAccountForm_btns my-4 d-block">
                        <button type="submit" class="btn btn-lg btn-primary slideAccountForm_btn">Sign In</button>
                        <a href="javascript:void(0)" class="d-block pt-2" form-type="form_reset" onclick="switchForm('form_reset')">{{ 'customer.login_page.forgot_password' | t }}</a>
                    </div>

                    <p><a style="text-decoration: underline;" href="/a/account/login">Manage your subscription here</a>.</p>
                </div>
            {% endform %}

            {% form 'recover_customer_password' %}
                <div class="slideAccountForm" form-type="form_reset">
                    <div class="slideAccountForm_input mb-3">
                        <input type="email" name="email" id="sign_email" class="slideAccountForm_field" placeholder="Email">
                    </div>
                    <div class="slideAccountForm_btns my-4 d-block">
                        <button type="submit" class="btn btn-lg btn-primary slideAccountForm_btn">Reset password</button>
                    </div>
                </div>
            {% endform %}

            {%- form 'create_customer', novalidate: 'novalidate' -%}
                <div class="slideAccountForm" form-type="form_sign">
                    <div class="d-flex gap-2">
                        <div class="slideAccountForm_input mb-3">
                            <input type="text" name="customer[first_name]" id="create_f_name" class="slideAccountForm_field" placeholder="First Name">
                        </div>
                        <div class="slideAccountForm_input mb-3">
                            <input type="text" name="customer[last_name]" id="create_l_name" class="slideAccountForm_field" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="slideAccountForm_input mb-3">
                        <input type="email" name="customer[email]" id="create_email" class="slideAccountForm_field" placeholder="Email Address">
                    </div>
                    <div class="slideAccountForm_input mb-4">
                        <input type="password" name="customer[password]" id="create_password" class="slideAccountForm_field" placeholder="Create a Password">
                    </div>
                    <div class="slideAccountForm_btns my-4 d-block">
                        <button type="submit" class="btn btn-lg btn-primary slideAccountForm_btn">CREATE AN ACCOUNT</button>
                    </div>
                </div>
            {% endform %}

            <div class="slideAccountForm_btn_bl">
                <button class="btn btn-primary switch_form_btn w-100 slideAccountForm_btn" form-type="form_create" onclick="switchForm('form_create')">SIGN IN</button>
                <button class="btn btn-primary switch_form_btn w-100 mb-2 slideAccountForm_btn" form-type="form_sign" onclick="switchForm('form_sign')">CREATE AN ACCOUNT</button>
            </div>
        </div>
    </div>
</div>