<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TTFT</title>
	{% comment %} {{ content_for_header }} {% endcomment %}
</head>
<body>
	<h1>TTFB</h1>
	{% comment %} {{ content_for_layout }} {% endcomment %}
</body>
</html>