<main class="error_404_page">
    <div class="main_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section_left">
                        <h1>404</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section_right">
                        <h2>Oops!</h2>
                        <p>Looks like you took a detour on your skincare path. <br>Navigate back to our amazing
                            products for the perfect route to radiant skin!</p>
                        <a class="btn btn-primary back_btn" href="javascript:void(0);"><img
                                src="{{ 'arrow_left_white.svg' | asset_url }}" alt="" class="me-3">Back to Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>