<div class="welcome_wrapper section">
    <div class="container">
        <div class="section_header text-center ms-0 ms-md-auto">
            <h2 class="title-xl mb-2 mb-md-5">Welcome to Qure!</h2>
        </div>
        <div class="welcome_grid">
            <div class="welcome_item_wrap">
                <div class="section_header text-center">
                    <h2 class="title-lg">Let’s get started</h2>
                </div>
                <div class="welcome_info">
                    <div class="welcome_item">
                        <div class="welcome_img">
                            <img src="https://qureskincaredns.com/new/assets/knowledge.svg" alt="" class="img-fluid">
                        </div>
                        <div class="welcome_desc">
                            <p>Everything you need to know to kickstart your journey with Q-Rejuvalight Pro.</p>
                        </div>
                    </div>
                    <div class="welcome_btns">
                        <a href="https://www.qureskincare.com/pages/q-rejuvalight-pro-led-mask-guide"
                            class="black_btn"><span><img src="https://qureskincaredns.com/new/assets/quick_start.svg" alt=""></span>Quick-Start
                            Guide</a>
                        <div class="or_text">
                            <p>or</p>
                        </div>
                        <a target="_blank"
                            href="https://crm.aronwebsolutions.com/Qure-Html-2.0/Qure-Html-2.0/https://qureskincaredns.com/new/assets/q-rejuvalight_manual.pdf"
                            class="download_btn"><span><img src="https://qureskincaredns.com/new/assets/download.svg" alt=""></span>Download
                            Full
                            Manual</a>
                    </div>
                </div>
            </div>
            <div class="welcome_item_wrap">
                <div class="section_header text-center">
                    <h2 class="title-lg">Changed your mind?</h2>
                </div>
                <div class="welcome_info">
                    <div class="welcome_item">
                        <div class="welcome_img">
                            <img src="https://qureskincaredns.com/new/assets/return.svg" alt="" class="img-fluid">
                        </div>
                        <div class="welcome_desc">
                            <p>See how you can easily return<br>
                                your Q-Rejuvalight Pro.</p>
                        </div>
                    </div>
                    <div class="welcome_btns">
                        <a href="https://qureskincare.loopreturns.com/#/"
                            class="hassle_btn black_btn">Hassle-Free Returns</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>