<div class="wrapper home-default-wrapper header-wrapperBlock">
    <div id="shopify-section-header" class="shopify-section site-header">
        <div class="header-wrapper">
            {% for block in section.blocks limit: 1 %}
                {%- case block.type -%}
                    {% when 'announcement' %}
                        {% render 'header-announcement-bar', section: section, block: block %}
                    {% when 'announcement-promotion' %}
                        {% render 'promotion-header-announcement-bar', section: section, block: block %}
                {%- endcase -%}
            {% endfor %}
            <header>
                <div class="header-new new-hp-header">
                    {% render 'header-menu-mobile', section: section %}
                    {% render 'header-menu-desktop', section: section %}
                </div>
            </header>
        </div>
    </div>
</div>

{% for block in section.blocks %}
    {%- case block.type -%}
        {% when 'tab' %}
            {% if block.settings.heading != blank %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        $(function() {
                            var origTitle, animatedTitle, timer;
                            origTitle = document.title;
                
                            function animateTitle(newTitle) {
                            var currentState = false;
                            origTitle = document.title; 
                            animatedTitle = "{{ block.settings.heading }}";
                            timer = setInterval(startAnimation, 2000);
                
                            function startAnimation() {
                                document.title = currentState ? origTitle : animatedTitle;
                                currentState = !currentState;
                                }
                            }
                
                            function restoreTitle() {
                                clearInterval(timer);
                                document.title = origTitle; 
                            }
                
                            $(window).blur(function() {
                                animateTitle();
                            });
                
                            $(window).focus(function() {
                                restoreTitle();
                            });
                        });
                    });
                </script> 
            {% endif %}
    {%- endcase -%}
{% endfor %}

{% schema %}
{
    "name": "t:sections.header.name",
    "class": "section-header",
    "settings": [

    ],
	"blocks": [
		{
			"type": "announcement",
			"name": "t:sections.header.blocks.announcement.name",
            "limit": 1,
			"settings": [
                {
                    "type" : "richtext",
                    "id" : "heading",
                    "label" : "t:common.heading.label"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Button label",
                    "label": "t:common.button.label",
                    "info": "t:common.button.info"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "t:common.button.url.label"
                }
			]
		},
		{
			"type": "announcement-promotion",
			"name": "t:sections.header.blocks.announcement-promo.name",
            "limit": 1,
			"settings": [
                {
                    "type" : "text",
                    "id" : "heading",
                    "label" : "t:common.heading.label"
                },
                {
                    "type" : "text",
                    "id" : "text",
                    "label" : "t:common.text.label"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Button label",
                    "label": "t:common.button.label",
                    "info": "t:common.button.info"
                },
                {
                    "type": "text",
                    "id": "button_mobile_label",
                    "default": "Button label",
                    "label": "t:common.button.mobile.label",
                    "info": "t:common.button.info"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "t:common.button.url.label"
                }
			]
		},
		{
			"type": "tab",
			"name": "t:sections.header.blocks.tab.name",
            "limit": 1,
			"settings": [
                {
                    "type" : "text",
                    "id" : "heading",
                    "label" : "t:common.heading.label"
                }
			]
		},
		{
			"type": "banner",
			"name": "t:sections.header.blocks.banner.name",
            "limit": 6,
			"settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:common.image.label"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "default": "Button label",
                    "label": "t:common.button.label",
                    "info": "t:common.button.info"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "t:common.button.url.label"
                }
			]
		}
	]
}
{% endschema %}