<div class="available_bar {{ section.settings.classname }}">
    {% if section.settings.heading != blank %}
        <p>{{ section.settings.heading }}</p>
    {% endif %}
</div>

{% schema %}
    {
        "name": "t:sections.line.name",
        "class": "section-line",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "text",
                "id": "classname",
                "label": "t:common.classname.label",
                "default": "bg-green text-dark"
            }
        ],
        "presets": [
			{
				"name": "t:sections.line.name",
                "settings": {
                    "heading": "ONE OF THE ONLY FACIAL TREATMENTS YOUR SKIN NEEDS",
                    "classname": "bg-green text-dark"
                }
			}
        ]
    }
{% endschema %}