<div class="mb-5">
    <div class="container mt-5">
        <div class="subscriptions_header_2">
            <h1 class="mb-4 text-start text-lg-center">{{ page.title }}</h1>
        </div>
        {{ page.content }}
    </div>
</div>