<div class="subscriptions_section">
    <div class="container">
        <div class="subscriptions_header text-center">
            <h1 class="subscription_subheadline">{{ page.title }}</h1>
        </div>
        {{ page.content }}
    </div>
</div>