<!-- -- solution form start -- -->
<div class="solution_form section">
    <div class="container">
        <div class="row">
            {% if section.settings.heading != blank %}
                <h2 class="title-lg pb-2">{{ section.settings.heading }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                {{ section.settings.text }}
            {% endif %}

            {% for block in section.blocks %}
                {% if block.settings.form_id != blank %}
                    <link rel="stylesheet" href="{{ 'klaviyo-solution-form.css' | asset_url }}">
                    <div class="sf_form">
                        <div class="klaviyo-form-{{ block.settings.form_id }}"></div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
<!-- -- solution form start -- -->

{% schema %}
    {
        "name": "t:sections.solution-form.name",
        "class": "section-personalized",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "t:common.heading.label"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "t:common.text.label"
            }
        ],
        "blocks": [
            {
                "type": "form",
                "name": "t:common.form.label",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "form_id",
                        "label": "t:common.form.id.label"
                    }
                ]
            } 
        ],
        "presets": [
			{
				"name": "t:sections.solution-form.name",
                "settings": {
                    "heading": "Personalized solutions for your skin’s unique needs",
                    "text": "<p>Answer a few questions and we’ll tell you how to achieve your skincare goals.<\/p>"
                }
			}
        ]
    }
{% endschema %}