<main class="app_page">

<!-- -- main banner start -- -->
<div class="main_banner">
    <picture>
        <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/app_banner_desk.webp" width="1903" height="736">
        <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/app_banner_desk.webp" width="1903" height="736">
        <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/app_banner_desk.webp" width="1903" height="736">
        <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/app_banner_desk.webp" width="1903" height="736">
        <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/app_banner_mob.webp" width="375" height="469">
        <img src="https://qureskincaredns.com/new/assets/app_banner_mob.webp" width="375" height="469" alt="" class="img-fluid">
    </picture>
    <div class="main_b_wrapper bg_gradient_mob text-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="section_header">
                        <h1 class="title-xl">The only FDA-cleared LED light therapy mask with an app.</h1>
                    </div>
                    <div class="app_img">
                        <div class="app_item me-4">
                            <a href="https://apps.apple.com/us/app/qure-skincare/id1537832613" target="_blank">
                                <img src="https://qureskincaredns.com/new/assets/app_store.svg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="app_item">
                            <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure"
                                target="_blank">
                                <img src="https://qureskincaredns.com/new/assets/google_play.svg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- -- main banner end -- -->

<!-- -- press slider start -- -->
<div class="press_bl">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="p_bl_header">
                    <p>FEATURED IN</p>
                </div>

            </div>
            <div class="col-lg-10">
                <div class="swiper press_slider">
                    <div class="swiper-wrapper ps_wrapper">
                        <div class="swiper-slide">
                            <div class="ps_item">
                                <img src="https://qureskincaredns.com/new/assets/cosmopolitan.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ps_item">
                                <img src="https://qureskincaredns.com/new/assets/bazaar.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ps_item">
                                <img src="https://qureskincaredns.com/new/assets/elle.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ps_item">
                                <img src="https://qureskincaredns.com/new/assets/glamour.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ps_item">
                                <img src="https://qureskincaredns.com/new/assets/grazia.svg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- -- press slider end -- -->


<!-- -- app slider start -- -->
<div class="app_slider_bl section">
    <div class="container">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg paddingB">An app for out-of-this world skincare</h2>
            <p>Your skin’s unique. So your treatment should be. Step into the world of personalized
                skincare with the Qure Skincare App. It gives you full control of your
                clinical-grade LED light therapy treatments. No more visits to beauty clinics, no
                more waiting rooms at the dermatologist.</p>
        </div>
        <div class="app_slider_wrapper">
            <div class="swiper dot_pagination app_slider twa__swiper" id="twa__swiper-app_slider"
                data-section-id="app_slider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1" data-tablet="2" data-desktop="2.3" data-spacing="100"
                data-arrowleft="app_slider-swiper-prev" data-arrowright="app_slider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="app_s_item">
                            <div class="as_img order-2 order-md-1 order-2 order-md-1">
                                <img src="https://qureskincaredns.com/new/assets/app_i_1.webp" alt="" class="img-fluid">
                            </div>
                            <div class="as_info order-1 order-md-2 order-1 order-md-2">
                                <h3>Customize Treatments</h3>
                            </div>
                            <div class="as_desc order-3 order-3">
                                <p>Customize your LED light therapy treatments for a personalized program that’s
                                    unique to your skin’s profile. Tailor your treatments on 5 facial areas to
                                    treat your specific skin concerns, no one else's.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="app_s_item">
                            <div class="as_img order-2 order-md-1">
                                <img src="https://qureskincaredns.com/new/assets/app_i_2.webp" alt="" class="img-fluid">
                            </div>
                            <div class="as_info order-1 order-md-2">
                                <h3>Plan and Schedule</h3>
                            </div>
                            <div class="as_desc order-3">
                                <p>Use the Qure calendar to schedule in your home at clinical treatments on
                                    your own time and get reminders straight to your phone. Scheduled
                                    treatments appear as a clock icon and completed treatment appear solid
                                    ticks.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="app_s_item">
                            <div class="as_img order-2 order-md-1">
                                <img src="https://qureskincaredns.com/new/assets/app_i_3.webp" alt="" class="img-fluid">
                            </div>
                            <div class="as_info order-1 order-md-2">
                                <h3>Track Treatments</h3>
                            </div>
                            <div class="as_desc order-3">
                                <p>The Qure planner shows your treatment history and scheduled treatments in
                                    a monthly calendar. View your total summary of completed challenges,
                                    monthly and yearly treatments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="app_s_item">
                            <div class="as_img order-2 order-md-1">
                                <img src="https://qureskincaredns.com/new/assets/app_i_4.webp" alt="">
                            </div>
                            <div class="as_info order-1 order-md-2">
                                <h3>Stay on Track</h3>
                            </div>
                            <div class="as_desc order-3">
                                <p>Join a challenge and complete a full-anti-aging or anti-breakout
                                    treatment course for maxiumum results.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </div>
</div>
<!-- -- app slider end -- -->

<!-- --  skincare slider start  -- -->
<div class="skincare_slider bg_yellow">
    <div class="container">
        <div class="section_header text-center">
            <h2 class="title-lg pb-2">
                Science-backed skincare that’s proven to work.
            </h2>
            <p>See the real, unedited results for yourself</p>
            <p class="d-block d-md-none">Want smoother fine lines? Even toned complexion? Clearer skin?</p>
            <p class="d-block d-md-none">Our science-backed skincare and treatments are <span
                    style="font-style:italic;font-weight:400">clinically-proven</span> to work.<br>
                <span>Reclaim your confidence at any age,</span> no matter what your skin concern is
            </p>
            <p class="d-none d-md-block">Want smoother fine lines? Even toned complexion? Clearer skin?<br>
                Our science-backed skincare and treatments are <span
                    style="font-style:italic;font-weight:400">clinically-proven</span> to work.<br>
                <span>Reclaim your confidence at any age,</span> no matter what your skin concern is, so you
                can.
            </p>
        </div>
        <div class="swiper dot_pagination skin_slider twa__swiper" id="twa__swiper-skinSlider"
            data-section-id="skinSlider" data-autoplay="false" data-loop="false" data-centerslide="false"
            data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="0"
            data-arrowleft="skinSlider-swiper-prev" data-arrowright="skinSlider-swiper-next">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="skin_item bg-light">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skin_item_header">Fine Lines and Wrinkles</div>
                                <div class="skincare_left">
                                    <div class="row gx-2">
                                        <div class="col-6">
                                            <div class="result_img_m before_img">
                                                <img src="https://qureskincaredns.com/new/assets/michelle_before_img.webp" alt=""
                                                    class="img-fluid">
                                                <span class="result_badge">BEFORE</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="result_img_m after_img">
                                                <img src="https://qureskincaredns.com/new/assets/michelle_after_img.webp" alt=""
                                                    class="img-fluid">
                                                <span class="result_badge">AFTER 8 WEEKS</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="r_c_info">
                                        <div class="c_information">
                                            <div class="flag_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-4">Michelle S.</p>
                                            <div class="verified_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            </div>
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="skincare_right">
                                    <div class="skincare_percent">
                                        <div class="progressCont"><span class="progressWrapper">
                                                <span class="progessInfo text-dark">87%</span>
                                                <svg class="vMQQx" height="77" width="77"
                                                    viewBox="-29 -29 58 58">
                                                    <defs>
                                                        <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                            y2="0">
                                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                        pathLength="100" class="K4v4P" r="24"
                                                        style="stroke-width: 1px;"></circle>
                                                    <circle visibility="visible" fill="none" pathLength="100"
                                                        transform="rotate(-90)" class="OKwUu" r="24"
                                                        stroke="url(#gradient)"
                                                        style="stroke-dasharray: 100; stroke-dashoffset: 13; stroke-width: 5px;">
                                                    </circle>
                                                </svg>
                                            </span>
                                        </div>
                                        <p><strong>smoother</strong> facial wrinkles and fine lines</p>
                                    </div>
                                    <div class="ss_list">
                                        <ul>
                                            <li>Reduces depth of wrinkles and <strong>smooths fine
                                                    lines.</strong></li>
                                            <li>Stimulates natural collagen for <strong>firmer, fuller
                                                    skin.</strong></li>
                                            <li>Calms redness and promotes a <strong>healthy, glowing
                                                    complexion.</strong></li>
                                        </ul>
                                    </div>
                                    <div class="ss_clinical">
                                        <div class="ss_c_title">
                                            <h4>In a Clinical Trial...</h4>
                                        </div>
                                        <div class="ss_c_detail">
                                            <p><strong>...8 out of 10 subjects</strong>reported a significant
                                                <strong>reduction in periorbital wrinkles</strong>
                                            </p>
                                            <a class="popup-modal ss_c_link" href="#test-modal1">Read More About
                                                Clinical Study <span><img src="https://qureskincaredns.com/new/assets/info.svg"
                                                        alt=""></span></a>
                                            <div id="test-modal1" class="mfp-hide white-popup-block skin_popup">
                                                <div class="ss_clinical">
                                                    <div class="ss_c_title">
                                                        <h4>Clinical Study</h4>
                                                    </div>
                                                    <div class="ss_c_detail">
                                                        <p>87% experienced a reduction in the Fitzpatrick
                                                            wrinkling severity score via a blinded clinical
                                                            assessment. Improvements in skin appearance observed
                                                            in LED-treated individuals suggested that LED at 660
                                                            nm is a safe and effective collagen-enhancement
                                                            strategy. No adverse events or downtime were
                                                            reported.
                                                        </p>

                                                        <p><strong> About the clinical trial</strong>
                                                        </p>

                                                        <p>Clinical trial was conducted and investigated the
                                                            potential of light-emitting diode (LED) treatments
                                                            with a 660 nm. LED effects were then assessed in
                                                            aged/photoaged individuals in a split-face
                                                            single-blinded study.</p>

                                                        <p style="font-style: italic;"> Reference: SOURCE: J
                                                            Invest Dermatol. 2009 Dec;129(12):2751-9. doi:
                                                            10.1038/jid.2009.186. Epub 2009 Jul 9</p>

                                                    </div>
                                                    <button title="Close (Esc)" type="button"
                                                        class="mfp-close">close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="skin_item bg-light">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skin_item_header">Pigmentation & Inflammation</div>
                                <div class="skincare_left">
                                    <div class="row gx-2">
                                        <div class="col-6">
                                            <div class="result_img_m before_img">
                                                <img src="https://qureskincaredns.com/new/assets/mica_1_before_img.webp" alt=""
                                                    class="img-fluid">
                                                <span class="result_badge">BEFORE</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="result_img_m after_img">
                                                <img src="https://qureskincaredns.com/new/assets/mica_after_img.webp" alt="" class="img-fluid">
                                                <span class="result_badge">AFTER 8 WEEKS</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="r_c_info">
                                        <div class="c_information">
                                            <div class="flag_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-4">Mica A.</p>
                                            <div class="verified_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            </div>
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="skincare_right">
                                    <div class="skincare_percent">
                                        <div class="progressCont"><span class="progressWrapper">
                                                <span class="progessInfo text-dark">91%</span>
                                                <svg class="vMQQx" height="77" width="77"
                                                    viewBox="-29 -29 58 58">
                                                    <defs>
                                                        <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                            y2="0">
                                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                        pathLength="100" class="K4v4P" r="24"
                                                        style="stroke-width: 1px;"></circle>
                                                    <circle visibility="visible" fill="none" pathLength="100"
                                                        transform="rotate(-90)" class="OKwUu" r="24"
                                                        stroke="url(#gradient)"
                                                        style="stroke-dasharray: 100; stroke-dashoffset: 9; stroke-width: 5px;">
                                                    </circle>
                                                </svg>
                                            </span>
                                        </div>
                                        <p><strong>improved</strong> skin tone and enhanced smoothness</p>
                                    </div>
                                    <div class="ss_list">
                                        <ul>
                                            <li><strong>Soothing, anti-inflammatory</strong> benefits reduces
                                                redness and inflammation.</li>
                                            <li><strong>Fades pigmentation</strong> and <strong>dark
                                                    spots</strong> for more radiant, even-toned skin.</li>
                                            <li><strong>Heals</strong> and <strong>rejuvenates</strong> skin,
                                                helping with sun damage, hyperpigmentation.</li>
                                        </ul>
                                    </div>
                                    <div class="ss_clinical">
                                        <div class="ss_c_title">
                                            <h4>In a Clinical Trial...</h4>
                                        </div>
                                        <div class="ss_c_detail">
                                            <p><strong>...10 out of 10 subjects</strong> experienced
                                                <strong>improved skin complexion and collagen density</strong>
                                            </p>
                                            <a class="popup-modal ss_c_link" href="#test-modal1">Read More About
                                                Clinical Study <span><img src="https://qureskincaredns.com/new/assets/info.svg"
                                                        alt=""></span></a>
                                            <div id="test-modal1" class="mfp-hide white-popup-block skin_popup">
                                                <div class="ss_clinical">
                                                    <div class="ss_c_title">
                                                        <h4>Clinical Study</h4>
                                                    </div>
                                                    <div class="ss_c_detail">
                                                        <p>87% experienced a reduction in the Fitzpatrick
                                                            wrinkling severity score via a blinded clinical
                                                            assessment. Improvements in skin appearance observed
                                                            in LED-treated individuals suggested that LED at 660
                                                            nm is a safe and effective collagen-enhancement
                                                            strategy. No adverse events or downtime were
                                                            reported.
                                                        </p>

                                                        <p><strong> About the clinical trial</strong>
                                                        </p>

                                                        <p>Clinical trial was conducted and investigated the
                                                            potential of light-emitting diode (LED) treatments
                                                            with a 660 nm. LED effects were then assessed in
                                                            aged/photoaged individuals in a split-face
                                                            single-blinded study.</p>

                                                        <p style="font-style: italic;"> Reference: SOURCE: J
                                                            Invest Dermatol. 2009 Dec;129(12):2751-9. doi:
                                                            10.1038/jid.2009.186. Epub 2009 Jul 9</p>

                                                    </div>
                                                    <button title="Close (Esc)" type="button"
                                                        class="mfp-close">close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="skin_item bg-light">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skin_item_header">Acne and Breakouts</div>
                                <div class="skincare_left">
                                    <div class="row gx-2">
                                        <div class="col-6">
                                            <div class="result_img_m before_img">
                                                <img src="https://qureskincaredns.com/new/assets/bj_nardi_before_img.webp" alt=""
                                                    class="img-fluid">
                                                <span class="result_badge">BEFORE</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="result_img_m after_img">
                                                <img src="https://qureskincaredns.com/new/assets/bj_nardi_after_img.webp" alt=""
                                                    class="img-fluid">
                                                <span class="result_badge">AFTER 8 WEEKS</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="r_c_info">
                                        <div class="c_information">
                                            <div class="flag_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/canada_f.svg" alt="" class="img-fluid">
                                            </div>
                                            <p class="r_c_name pe-4">BJ Nardi.</p>
                                            <div class="verified_img pe-2">
                                                <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                            </div>
                                            <p>Verified customer</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="skincare_right">
                                    <div class="skincare_percent">
                                        <div class="progressCont"><span class="progressWrapper">
                                                <span class="progessInfo text-dark">83%</span>
                                                <svg class="vMQQx" height="77" width="77"
                                                    viewBox="-29 -29 58 58">
                                                    <defs>
                                                        <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                            y2="0">
                                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                        </linearGradient>
                                                    </defs>
                                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                        pathLength="100" class="K4v4P" r="24"
                                                        style="stroke-width: 1px;"></circle>
                                                    <circle visibility="visible" fill="none" pathLength="100"
                                                        transform="rotate(-90)" class="OKwUu" r="24"
                                                        stroke="url(#gradient)"
                                                        style="stroke-dasharray: 100; stroke-dashoffset: 17; stroke-width: 5px;">
                                                    </circle>
                                                </svg>
                                            </span>
                                        </div>
                                        <p><strong>reduction</strong> of acne breakouts</p>
                                    </div>
                                    <div class="ss_list">
                                        <ul>
                                            <li><strong>Reduces acne</strong> and <strong>prevents future
                                                    breakouts</strong> by eliminating bacteria.</li>
                                            <li>Heals and fades post breakout marks for more <strong>even tone
                                                    skin.</strong></li>
                                            <li>Rapidly <strong>reduces inflammation</strong> and regulates oil
                                                production.</li>
                                        </ul>
                                    </div>
                                    <div class="ss_clinical">
                                        <div class="ss_c_title">
                                            <h4>In a Clinical Trial...</h4>
                                        </div>
                                        <div class="ss_c_detail">
                                            <p><strong>...9 out of 10</strong> subjects said they saw<strong>a
                                                    reduction in the skin acne after 2 weeks.</strong></p>
                                            <a class="popup-modal ss_c_link" href="#test-modal3">Read
                                                more
                                                about clinical Study <span><img src="https://qureskincaredns.com/new/assets/info.svg"
                                                        alt=""></span></a>
                                            <div id="test-modal3" class="mfp-hide white-popup-block skin_popup">
                                                <div class="ss_clinical">
                                                    <div class="ss_c_title">
                                                        <h4>Clinical Study</h4>
                                                    </div>
                                                    <div class="ss_c_detail">
                                                        <p>Improvement ranging up to 83.3% of moderate acne
                                                            lesion count. A downward shift in the Burton
                                                            grade
                                                            was seen overall. No adverse effects were
                                                            reported.
                                                        </p>

                                                        <p><strong> About the clinical trial</strong>
                                                        </p>

                                                        <p>Clinical trial was conducted with male and female
                                                            subjects with acne grades at baseline ranging
                                                            from
                                                            Burton grade 1 to 5. Subjects were treated with
                                                            LED
                                                            therapy, alternating between the blue (415 nm)
                                                            and
                                                            near-IR (830 nm) heads. No other treatment was
                                                            allowed. Results were assessed and compared with
                                                            the
                                                            baseline values at 1, 4 and 8 weeks
                                                            post-treatment.
                                                        </p>

                                                        <p style="font-style: italic;"> Reference: SOURCE: J
                                                            Invest Dermatol. 2009 Dec;129(12):2751-9. doi:
                                                            10.1038/jid.2009.186. Epub 2009 Jul 9</p>

                                                    </div>
                                                    <button title="Close (Esc)" type="button"
                                                        class="mfp-close">close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</div>
<!-- --  skincare slider start  -- -->

<!-- -- futures skincare start -- -->
<div class="future_skincare fs_light">
    <div class="fs-content order-2 order-md-1">
        <h2>Out-of-this<br> world skincare awaits you</h2>
        <div class="app_img">
            <div class="app_item me-4">
                <a href="https://apps.apple.com/us/app/qure-skincare/id1537832613" target="_blank">
                    <img src="https://qureskincaredns.com/new/assets/app_store.svg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="app_item">
                <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure"
                    target="_blank">
                    <img src="https://qureskincaredns.com/new/assets/google_play.svg" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
    <div class="fs-img order-1 order-md-2">
        <div class="fs-grid-block">
            <img src="https://qureskincaredns.com/new/assets/future_s_5.webp" alt="" class="img-fluid">
        </div>
        </section>

    </div>
    <!-- -- futures skincare end -- -->

</main>