{% comment %} 
https://www.qureskincare.com/pages/why-qurify
{% endcomment %}

<!-- -- image with text start -- -->
<div class="imageText py-md-4 wq_main_banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="it_info ps-0">
                    <div class="header">
                        <h2 class="title-lg mb-4">Dry, sensitive, irritated skin?</h2>
                        <p>It’s Time to Shift Blame to Your Tap Water (Not Your Ingredients List)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="it_img ps-0 ps-md-5 mw-mob-100">
                    <img src="https://qureskincaredns.com/new/assets/why_qurify.webp" alt="" class="img-fluid d-none d-md-block">
                    <img src="https://qureskincaredns.com/new/assets/why_qurify_mob.webp" alt="" class="img-fluid d-block d-md-none">
                    <div class="header d-flex d-md-none">
                        <h2 class="title-lg mb-4">Dry, sensitive, irritated skin?</h2>
                        <p>It’s Time to Shift Blame to Your Tap Water (Not Your Ingredients List)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->


<!-- --  truth about tap water start -- -->
<div class="truth_tap section">
    <div class="container">
        <div class="section_header text-md-center mw-100">
            <h2 class="title-lg paddingB">The truth about the tap water you are washing your face with
            </h2>
            <p class="mw-736">Tap water is contaminated with over <a
                    href="https://www.ewg.org/news-insights/news-roundup/2021/11/ewg-news-roundup-115-ewgs-2021-national-drinking-water-database"
                    target="_blank" style="text-decoration:underline;color:#000">320
                    chemicals,</a> according to the Environmental
                Working Group. Is the truth about what’s affecting your complexion hiding just beyond your
                faucet? Read on to find out!
            </p>
        </div>

        <div class="progress_grid">
            <div class="progressInfo">
                <div class="progressCont">
                    <p><span class="progressWrapper">
                            <span class="progessInfo text-dark">95%</span>
                            <svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                    </linearGradient>
                                </defs>
                                <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                    class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                <circle visibility="visible" fill="none" pathLength="100"
                                    transform="rotate(-90)" class="OKwUu" r="24" stroke="#C92127"
                                    style="stroke-dasharray: 100; stroke-dashoffset: 5; stroke-width: 5px;">
                                </circle>
                            </svg>
                        </span>
                    </p>
                </div>
                <div>
                    <p class="tt_item_header">
                        <strong>95% of tap water is chlorinated</strong>
                    </p>
                    <p>Chlorine is a drying and dehydrates the skin.</p>
                </div>
            </div>
            <div class="progressInfo">
                <div class="progressCont">
                    <p><span class="progressWrapper">
                            <span class="progessInfo text-dark">60%</span>
                            <svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                    </linearGradient>
                                </defs>
                                <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                    class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                <circle visibility="visible" fill="none" pathLength="100"
                                    transform="rotate(-90)" class="OKwUu" r="24" stroke="#C92127"
                                    style="stroke-dasharray: 100; stroke-dashoffset: 40; stroke-width: 5px;">
                                </circle>
                            </svg>
                        </span>
                    </p>
                </div>
                <div>
                    <p class="tt_item_header">
                        <strong>60% of tap water has
                            turbidity</strong>
                    </p>
                    <p>Mud, rust and micro-contaminants in water can irritate sensitive skin.</p>
                </div>
            </div>
            <div class="progressInfo">
                <div class="progressCont">
                    <p><span class="progressWrapper">
                            <span class="progessInfo text-dark">95%</span>
                            <svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                    </linearGradient>
                                </defs>
                                <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                    class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                <circle visibility="visible" fill="none" pathLength="100"
                                    transform="rotate(-90)" class="OKwUu" r="24" stroke="#C92127"
                                    style="stroke-dasharray: 100; stroke-dashoffset: 5; stroke-width: 5px;">
                                </circle>
                            </svg>
                        </span>
                    </p>
                </div>
                <div>
                    <p class="tt_item_header">
                        <strong>95% of tap water has
                            micro-plastics</strong>
                    </p>
                    <p>These can cause micro-abrasions and damage sensitive skin. </p>
                </div>
            </div>
            <div class="progressInfo">
                <div class="progressCont">
                    <p><span class="progressWrapper">
                            <span class="progessInfo text-dark">85%</span>
                            <svg class="vMQQx" height="77" width="77" viewBox="-29 -29 58 58">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                        <stop offset="0%" stop-color="#C7E7DC"></stop>
                                        <stop offset="100%" stop-color="#C7E7DC"></stop>
                                    </linearGradient>
                                </defs>
                                <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                    class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                <circle visibility="visible" fill="none" pathLength="100"
                                    transform="rotate(-90)" class="OKwUu" r="24" stroke="#C92127"
                                    style="stroke-dasharray: 100; stroke-dashoffset: 15; stroke-width: 5px;">
                                </circle>
                            </svg>
                        </span>
                    </p>
                </div>
                <div>
                    <p class="tt_item_header">
                        <strong>85%
                            of tap water is
                            too hard </strong>
                    </p>
                    <p>Hard water can have hard metals or excess Mg2+ and Ca2+ that can clog and the irritate
                        skin.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --  truth about tap water end -- -->


<!-- -- lurking your water start -- -->
<div class="lurking_water section">
    <div class="container">
        <div class="section_header text-md-center mw-736">
            <h2 class="title-lg paddingB">Do you know what is lurking in your water?</h2>
            <p>Chlorine, calcium and magnesium – oh my! Known skin irritants like these could be seeping
                straight from your tap onto your skin! Do you know what is lurking in your water?</p>
        </div>
        <div class="lurking_water_grid">
            <div class="lurking_water_item">
                <div class="lw_top_info">
                    <div class="ingredients_item">
                        <img src="https://qureskincaredns.com/new/assets/ingredients_calcium.svg" alt="" class="img-fluid">
                    </div>
                    <div class="lw_info">
                        <div class="lw_info_tag bg_red">Most harmful!</div>
                        <div class="lw_info_name">Calcium</div>
                    </div>
                </div>
                <div class="lw_content">
                    <p>Calcium can irritate the skin, causing dry, scaly, pinkish patches. It can also clog
                        pores,
                        which can lead to blackheads, blemishes, and/or rosacea. </p>
                </div>
            </div>
            <div class="lurking_water_item">
                <div class="lw_top_info">
                    <div class="ingredients_item">
                        <img src="https://qureskincaredns.com/new/assets/ingredients_magnesium.svg" alt="" class="img-fluid">
                    </div>
                    <div class="lw_info">
                        <div class="lw_info_tag bg_orange">Long-term damage!</div>
                        <div class="lw_info_name">Magnesium</div>
                    </div>
                </div>
                <div class="lw_content">
                    <p>Magnesium can result in the formation of free radicals which damage healthy skin cells
                        and break down collagen, resulting in fine lines and wrinkles. </p>
                </div>
            </div>
            <div class="lurking_water_item">
                <div class="lw_top_info">
                    <div class="ingredients_item">
                        <img src="https://qureskincaredns.com/new/assets/ingredients_chlorine.svg" alt="" class="img-fluid">
                    </div>
                    <div class="lw_info">
                        <div class="lw_info_tag bg_yellow">Known irritant</div>
                        <div class="lw_info_name">Chlorine</div>
                    </div>
                </div>
                <div class="lw_content">
                    <p>Traditionally added to kill bacteria. Chlorine can deplete the skin of the natural oils
                        that hold moisture in, leading to dry and itchy skin.</p>
                </div>
            </div>
        </div>
        <div class="lurking_water_item grid_3">
            <div class="lw_top_info">
                <div class="ingredients_item">
                    <img src="https://qureskincaredns.com/new/assets/ingredients_rust.svg" alt="" class="img-fluid">
                </div>
                <div class="lw_content">
                    <p>Mud, rust and micro-contaminants in water can irritate sensitive skin.</p>
                </div>
            </div>
            <div class="lw_top_info">
                <div class="ingredients_item">
                    <img src="https://qureskincaredns.com/new/assets/ingredients_micro-plastics.svg" alt="" class="img-fluid">
                </div>
                <div class="lw_content">
                    <p>Microplastics can cause micro-abrasions and damage sensitive skin.</p>
                </div>
            </div>
            <div class="lw_top_info">
                <div class="ingredients_item">
                    <img src="https://qureskincaredns.com/new/assets/ingredients_lead-particles.svg" alt="" class="img-fluid">
                </div>
                <div class="lw_content">
                    <p>Hard water can have hard metals or excess Mg2+ and Ca2+ that can clog and irritate the
                        skin.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- lurking your water start -- -->

<!-- -- How does this affect your skin? start -- -->
<div class="affect_skin section">
    <div class="dsn-right-container">
        <div class="video_with_slide">
            <div class="affect_skin_block">
                <div class="section_header w-100 mw-100">
                    <h2 class="title-lg paddingB">
                        How does this affect your skin?
                    </h2>
                    <p>Our skin barrier acts as a protector against toxins and contaminants from the external
                        environment. Everyday, twice a day, known skin irritants like these could be seeping
                        straight from your tap onto your skin! This can cause the following….</p>
                </div>
            </div>

            <div class="affect_skinContent">
                    <div class="swiper  swiper-containerAffect dot_pagination">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_1.webp" alt="" class="img-fluid">
                                    <h6>Dryness:</h6>
                                    <p>Chlorine can deplete the skin of the natural oils that hold moisture
                                        in, leading to dry and itchy skin.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_2.webp" alt="" class="img-fluid">
                                    <h6>Wrinkles:</h6>
                                    <p>Magnesium can break down collagen, resulting in premature aging.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_3.webp" alt="" class="img-fluid">
                                    <h6>Breakouts:</h6>
                                    <p>Calcium can clog pores, clog which can lead to blackheads, blemishes,
                                        and/or rosacea. </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_4.webp" alt="" class="img-fluid">
                                    <h6>Skin Conditions:</h6>
                                    <p>Research has confirmed that hard water is a major contributor to
                                        worsened atopic eczema and atopic dermatitis. </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_5.webp" alt="" class="img-fluid">
                                    <h6>Sensitivity:</h6>
                                    <p>Contaminants in tap water can permeate the skin, weakening the
                                        barrier, leading to sensitivity.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="affect_item">
                                    <img src="https://qureskincaredns.com/new/assets/as_6.webp" alt="" class="img-fluid">
                                    <h6>Irritation:</h6>
                                    <p>A weakened skin barrier might also cause skin irritation, making it
                                        sensitive and red.</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- -- see it in action end -- -->
<!-- -- How does this affect your skin? end -- -->

<!-- -- qurify giveaway form start -- -->
<div class="giveaway_form" id="giveaway_form_wrap">
    <div class="container">
        <div class="section_header text-md-center pb-4 mw-100">
            <div class="title-lg paddingB text-md-center">What contaminants is your skin absorbing every
                day?
            </div>
            <p>Enter your information below to get a free, custom water report for your local area.
                <br>Learn
                about
                what’s in your water and how it can be affecting your skin.
            </p>
        </div>

        <style>
            @media only screen and (min-width: 769px) {
                .klaviyo-mobile {
                    display: none;
                }
                .klaviyo-form {
                    padding-bottom: 0px;
                }
                }
                @media (max-width: 768px) {
                .klaviyo-desktop,
                .only-desktop {
                    display: none;
                }
                }
                .klaviyo-form {
                min-height: 200px;
                }
                .klaviyo-desktop {
                    max-width: 600px;
                    margin: 0 auto;
                }
                .klaviyo-desktop button {
                    width: 50% !important;
                    margin: 0 auto;
                }
        </style>

        <div class="klaviyo-form klaviyo-desktop">
            <div class="klaviyo-form-SVbDx9"></div>
        </div>

        <div class="klaviyo-form klaviyo-mobile">
            <div class="klaviyo-form-WezUbv"></div>
        </div>

        {% comment %} <form id="giveaway_form">
            <div class="textfield textfield--light">
                <input type="text" id="g_name" class="textfield__input required" required>
                <label for="g_name" class="textfield__label textfield__label--required">Name</label>
            </div>
            <div class="textfield textfield--light">
                <input type="email" id="g_email" class="textfield__input required" required>
                <label for="g_email" class="textfield__label textfield__label--required">Email</label>
            </div>
            <div class="textfield textfield--light">
                <input type="text" id="g_zip" class="textfield__input required" required>
                <label for="g_zip" class="textfield__label textfield__label--required">Zip Code</label>
            </div>
            <div class="textfield text-md-center mw-373">
                <button type="submit" class="btn btn-lg btn-primary buy_btn my-4 mw-100">Get my FREE
                    Water
                    Report
                </button>
                <p>By submitting this form, you agree to receive recurring automated promotional and
                    personalized marketing Emails from Qure to the Email used when signing up. See <a
                        href="javascript:void(0)"
                        style="text-decoration: underline;cursor:pointer;color: #000;">Terms
                        &
                        Privacy.</a></p>
            </div>
        </form> {% endcomment %}
    </div>
</div>
<!-- -- qurify giveaway form end -- -->


<!-- -- new side of skincare start -- -->
<div class="new_side_skincare section">
    <div class="container">
        <div class="section_header text-md-center">
            <h2 class="title-lg paddingB">Tap into a whole new side of skincare</h2>
        </div>
        <div class="nss_wrap">
            <div class="nss_item">
                <img src="https://qureskincaredns.com/new/assets/nss_1.webp" alt="" class="img-fluid">
                <p>1. Improve skin barrier</p>
            </div>
            <div class="nss_item">
                <img src="https://qureskincaredns.com/new/assets/nss_2.webp" alt="" class="img-fluid">
                <p>2. Helps reduce breakouts</p>
            </div>
            <div class="nss_item">
                <img src="https://qureskincaredns.com/new/assets/nss_3.webp" alt="" class="img-fluid">
                <p>3. Increase skin hydration</p>
            </div>
        </div>
        <div class="nss_wrap">
            <div class="nss_item">
                <img src="https://qureskincaredns.com/new/assets/nss_4.webp" alt="" class="img-fluid">
                <p>4. Enhance skin radiance</p>
            </div>
            <div class="nss_item">
                <img src="https://qureskincaredns.com/new/assets/nss_5.webp" alt="" class="img-fluid">
                <p>5. Improve redness & irritation</p>
            </div>
        </div>
    </div>
</div>
<!-- -- new side of skincare end -- -->


<!-- -- trusted block start -- -->
<div class="trusted_bl trusted_bl_lp section">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-md-6">
                <div class="trusted_cl_m mb-2 mb-md-0">
                    <div class="trusted_tag">
                        <div class="t_like_img pe-2">
                            <img src="https://qureskincaredns.com/new/assets/trusted_thumb.svg" alt="">
                        </div>
                        <p class="border-r pe-2">4.4K</p>
                        <p class="px-2">48K views</p>
                    </div>
                    <img src="https://qureskincaredns.com/new/assets/trusted_main.webp" alt="" class="img-fluid t_m_img">
                    <div class="play_btn">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=QuJ3puVLKzU"><span><img
                                    src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="">
                                <h6>Click To Watch Review</h6>
                            </span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trusted_bl_info">
                    <h2 class="title-lg">"You wanna look for something that’s gonna reduce both
                        <strong>calcium
                            carbonate</strong> and <strong>chlorine</strong> from your water...[Q-urify
                        does
                        both.]"
                    </h2>
                    <div class="trusted_dr mt-5">
                        <div class="trusted_dr_img">
                            <img src="https://qureskincaredns.com/new/assets/dr.shah.webp" alt="" class="img-fluid">
                        </div>
                        <div class="trusted_dr_info text-center text-md-start">
                            <div class="trusted_dr_name">Dr. Shah, MD</div>
                            <div class="trusted_dr_desg">Board-Certified Dermatologist</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- -- trusted block end -- -->


<!-- -- image with text start -- -->
<div class="imageText hardwater section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="header mb-5 mb-md-0">
                    <h2 class="title-lg mb-4">Advanced filtering technology</h2>
                    <p>Our Q-Skin Tech Filter and Carbon Filter help filtrate those contaminants that make
                        your
                        tap water “hard” – like calcium, magnesium, chlorine, and much more. You get clean,
                        purified water that’s unbelievably refreshing on your skin. 
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="it_img pb-3 pb-md-0 ps-0 ps-md-5">
                    <img src="https://qureskincaredns.com/new/assets/advance_filtering.webp" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->


<!-- -- clinically proven start -- -->
<div class="clinically_proven section">
    <div class="container">
        <div class="section_header mw-800 text-md-center">
            <h2 class="title-lg paddingB">See results in just 2 weeks!</h2>
            <p>Q-urify is clinically proven* to boost hydration in as little as 2 weeks! Most participants
                saw
                clearer, more hydrated, glowing skin and loved the ease of use. Here are the astounding
                results: </p>
        </div>
        <div class="clinically_proven_wrap">
            <div class="clinicallyProven_item d-block d-md-none">
                <img src="https://qureskincaredns.com/new/assets/replacement_tab1-3.webp" alt="" class="img-fluid">
            </div>
            <div class="clinicallyProven_item order-2 order-md-1">
                <div class="clinicallyProven_header">In a clinical study conducted by Regulatory
                    Consultants:
                </div>
                <div class="cp_progress_wrap">
                    <div class="cp_progress">
                        <div class="progressCont">
                            <p><span class="progressWrapper">
                                    <span class="progessInfo text-dark">90%</span>
                                    <svg class="vMQQx" height="96" width="96" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 5px;">
                                        </circle>
                                    </svg>
                                </span>
                            </p>
                        </div>
                        <p>of participants said they wouldn't go back to tap water.</p>
                    </div>
                    <div class="cp_progress">
                        <div class="progressCont">
                            <p><span class="progressWrapper">
                                    <span class="progessInfo text-dark">60%</span>
                                    <svg class="vMQQx" height="96" width="96" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 40; stroke-width: 5px;">
                                        </circle>
                                    </svg>
                                </span>
                            </p>
                        </div>
                        <p>noticed clearer, more radiant skin.</p>
                    </div>
                    <div class="cp_progress">
                        <div class="progressCont">
                            <p><span class="progressWrapper">
                                    <span class="progessInfo text-dark">100%</span>
                                    <svg class="vMQQx" height="96" width="96" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                            style="stroke-dasharray: 101; stroke-dashoffset: 0; stroke-width: 5px;">
                                        </circle>
                                    </svg>
                                </span>
                            </p>
                        </div>
                        <p>said the filter was easy to fit into their skincare routine.</p>
                    </div>
                </div>
            </div>

            <div class="clinicallyProven_item order-1 order-md-2">
                <div class="clinicallyProven_header">Clinically proven to improve skin hydration in 14 days
                </div>
                <img src="https://qureskincaredns.com/new/assets/cp_graph.webp" class="img-fluid">
            </div>
        </div>
        <div class="mt-4">
            <p style="font-size:11px;line-height:16px">*Test subjects range in age between 25-65 with normal and
                sensitive skin.<br>
                Study conducted by Regulatory Consultants. </p>
        </div>
    </div>
</div>
<!-- -- clinically proven end -- -->


<!-- -- why should qurify your water start -- -->
<div class="qurify_your_water section">
    <div class="container">
        <div class="section_header ms-0 mx-md-auto text-md-center">
            <h2 class="title-lg paddingB">Why you should Q-urify your water</h2>
        </div>

        <div class="d-none d-md-block">
            <!-- <div class="swiper q_w_slider dot_pagination"> -->
            <div class="swiper twa__swiper qw_slider dot_pagination" id="twa__swiper-qw_slider"
                data-section-id="qw_slider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="2" data-tablet="4" data-desktop="4" data-spacing="40"
                data-arrowleft="qw_slider-swiper-prev" data-arrowright="qw_slider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_derma.svg" alt="" class="img-fluid">
                            <p>Dermatologist-Reviewed</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_tap.svg" alt="" class="img-fluid">
                            <p>90% participants wouldn't go back to tap water</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_shipping.svg" alt="" class="img-fluid">
                            <p>Free Shipping Orders Over $100</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_clear.svg" alt="" class="img-fluid">
                            <p>60% noticed their skin was more radiant and clearer</p>
                        </div>
                    </div>


                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/acne_prone.svg" alt="" class="img-fluid">
                            <p>Perfect for sensitive, dry, or acne-prone skin</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/reduce_calcium.svg" alt="" class="img-fluid">
                            <p>Reduces calcium, magnesium, and chlorine</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/filtration.svg" alt="" class="img-fluid">
                            <p>Features Q-Skin tech Filter and Carbon Fiber Ultra Filtration</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/routine.svg" alt="" class="img-fluid">
                            <p>100% say the filter was easy to fit into their skincare routine</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_buy.svg" alt="" class="img-fluid">
                            <p>Buy Now, Pay Later</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="q_water_card">
                            <img src="https://qureskincaredns.com/new/assets/q_w_install.svg" alt="" class="img-fluid">
                            <p>No additional steps, easy install & replacements</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>


        </div>


        <div class="d-block d-md-none">
            <div class="qwCard_expandable">
                <div class="q_w_slidermob">
                    <div class="q_water_card">
                        <img src="https://qureskincaredns.com/new/assets/q_w_derma.svg" alt="" class="img-fluid">
                        <p>Dermatologist-Reviewed</p>
                    </div>
                    <div class="q_water_card">
                        <img src="https://qureskincaredns.com/new/assets/q_w_tap.svg" alt="" class="img-fluid">
                        <p>90% participants wouldn't go back to tap water</p>
                    </div>
                    <div class="q_water_card">
                        <img src="https://qureskincaredns.com/new/assets/q_w_shipping.svg" alt="" class="img-fluid">
                        <p>Free Shipping Orders Over $100</p>
                    </div>
                    <div class="q_water_card">
                        <img src="https://qureskincaredns.com/new/assets/q_w_clear.svg" alt="" class="img-fluid">
                        <p>60% noticed their skin was more radiant and clearer</p>
                    </div>
                    <div class="qwCard__hidden-div hidden">
                        <div class="q_w_slidermob">
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/acne_prone.svg" alt="" class="img-fluid">
                                <p>Perfect for sensitive, dry, or acne-prone skin</p>
                            </div>
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/reduce_calcium.svg" alt="" class="img-fluid">
                                <p>Reduces calcium, magnesium, and chlorine</p>
                            </div>
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/filtration.svg" alt="" class="img-fluid">
                                <p>Features Q-Skin tech Filter and Carbon Fiber Ultra Filtration</p>
                            </div>
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/routine.svg" alt="" class="img-fluid">
                                <p>100% say the filter was easy to fit into their skincare routine</p>
                            </div>
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/q_w_buy.svg" alt="" class="img-fluid">
                                <p>Buy Now, Pay Later</p>
                            </div>
                            <div class="q_water_card">
                                <img src="https://qureskincaredns.com/new/assets/q_w_install.svg" alt="" class="img-fluid">
                                <p>No additional steps, easy install & replacements</p>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                    <a class="qwCard__accordion">Show More...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- why should qurify your water end -- -->


<!-- -- image with text start -- -->
<div class="imageText section best_skin">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="it_img mw-mob-100">
                    <div class="d-block d-md-none progress_box">
                        <div class="progressCont">
                            <p><span class="progressWrapper">
                                    <span class="progessInfo text-dark">90%</span>
                                    <svg class="vMQQx" height="136" width="136" viewBox="-29 -29 58 58">
                                        <defs>
                                            <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                            </linearGradient>
                                        </defs>
                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                            class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                        <circle visibility="visible" fill="none" pathLength="100"
                                            transform="rotate(-90)" class="OKwUu" r="24" stroke="#C6E4DC"
                                            style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 5px;">
                                        </circle>
                                    </svg>
                                </span>
                            </p>
                        </div>
                        <p>of participants said they wouldn't go back to tap water.</p>
                    </div>
                    <img src="https://qureskincaredns.com/new/assets/free_report.webp" alt="" class="img-fluid d-none d-md-block">
                    <img src="https://qureskincaredns.com/new/assets/free_report.webp" alt="" class="img-fluid d-block d-md-none">
                    <div class="header d-block d-md-none container">
                        <h2 class="title-lg my-3">Are you ready for your best skin yet?</h2>
                        <a href="https://www.qureskincare.com/pages/qurify-offer#shop"
                            class="btn btn-lg btn-primary buy_btn my-4 mw-100">GIVE ME
                            GREAT
                            SKIN
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 d-none d-md-flex">
                <div class="it_info">
                    <div class="header">
                        <div class="d-flex align-items-center gap-2">
                            <div class="progressCont">
                                <p><span class="progressWrapper">
                                        <span class="progessInfo text-dark">90%</span>
                                        <svg class="vMQQx" height="136" width="136" viewBox="-29 -29 58 58">
                                            <defs>
                                                <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                                    <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                    <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                </linearGradient>
                                            </defs>
                                            <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                                class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                            <circle visibility="visible" fill="none" pathLength="100"
                                                transform="rotate(-90)" class="OKwUu" r="24" stroke="#C6E4DC"
                                                style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 5px;">
                                            </circle>
                                        </svg>
                                    </span>
                                </p>
                            </div>
                            <p>of participants said they wouldn't go back to tap water.</p>
                        </div>
                        <h2 class="title-lg my-3">Are you ready for your best skin yet?</h2>
                        <a href="https://www.qureskincare.com/pages/qurify-offer#shop"
                            class="btn btn-lg btn-primary buy_btn my-4 mw-100">GIVE ME
                            GREAT
                            SKIN
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -- image with text end -- -->