<main class="affiliate">
    <!-- -- main banner start -- -->
    <div class="main_banner">
        <picture>
            <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/affiliate_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/affiliate_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/affiliate_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/affiliate_banner_desk.webp" class="img-fluid"
                width="540" height="209">
            <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/affiliate_banner_mob.webp" class="img-fluid"
                width="125" height="173">
            <img src="https://qureskincaredns.com/new/assets/affiliate_banner_mob.webp" width="125" height="186" alt="" class="img-fluid">
        </picture>
        <div class="main_b_wrapper bg_gradient_mob text-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="banner_content">
                            <div class="section_header">
                                <h1 class="title-xl">Qure Skincare Affiliate Program</h1>
                                <div class="sh_desc">
                                    <p class="pb-4">Become a Qure Ambassador and be part of a community that shapes
                                        the
                                        future of skincare.
                                    </p>
                                    <p>Let’s bridge the gap to better skincare together and spread skin confidence
                                        worldwide.
                                    </p>
                                </div>

                            </div>
                            <div class="btn-auto mw-359">
                                <a href="https://qure.postaffiliatepro.com/affiliates/signup.php#SignupForm" class="btn_white m-0" target="_blank">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- main banner end -- -->

    <!-- -- qure uses start -- -->
    <div class="q_uses_bl section bg-yellow-gradient">
        <div class="container">
            <div class="section_header mb-3 text-center">
                <h2 class="title-xl paddingB">How does it work?</h2>
                <p>Earn commission on sales with our Qure Skincare Affiliate Program.
                    Simply sign up, shine the light on skincare that actually works, and watch the $$$ roll in while
                    the no-worries skincare moments roll on.</p>
                <p> You’ll get exclusive access to new clinical-grade treatments and products, promotions, and the
                    latest updates.</p>
                <p><strong>We may be a mask, but we don’t hide behind it. We’re at the front of skin care. Through
                        our
                        affiliate program</strong></p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 q_uses_item-outer">
                    <div class="q_uses_item pe-4">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_h_w_1.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_content">
                            <h3>Sign Up</h3>
                            <p>Use the link below to apply for our exclusive affiliate program and</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 q_uses_item-outer">
                    <div class="q_uses_item px-4">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_h_w_2.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_content">
                            <h3>Create amazing content</h3>
                            <p>Create amazing content around any of our science-backed skincare products and
                                treatments. Create a video, write a blog post, record a vlog or take a picture
                                of your Qure skincare investment.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 q_uses_item-outer">
                    <div class="q_uses_item ps-4">
                        <div class="q_use_img">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_h_w_3.webp" alt="" class="img-fluid">
                        </div>
                        <div class="q_uses_content">
                            <h3>Share the content</h3>
                            <p>Share the content you created using your unique affiliate link. Include your
                                affiliate link in your social bio. You’ll earn commission on all eligible sales
                                made through your exclusive affiliate link.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- qure uses end -- -->

    <!-- -- featured promotion start -- -->
    <div class="featured_promotion">
        <div class="container">
            <div class="fp-wrapper">
                <div class="fp_item">
                    <div class="fp_icon">
                        <img src="https://qureskincaredns.com/new/assets/free-shipping-ftr.svg" alt="">
                    </div>
                    <div class="fp_icon_text">
                        <p>Free Shipping </p>
                        <p>Orders Over $100</p>
                    </div>
                </div>
                <div class="fp_item">
                    <div class="fp_icon">
                        <img src="https://qureskincaredns.com/new/assets/buy-now-ftr.svg" alt="">
                    </div>
                    <div class="fp_icon_text">
                        <p>Buy Now,</p>
                        <p>Pay Later</p>
                    </div>
                </div>
                <div class="fp_item">
                    <div class="fp_icon">
                        <img src="https://qureskincaredns.com/new/assets/derma-ftr.svg" alt="">
                    </div>
                    <div class="fp_icon_text">
                        <p>Dermatologist </p>
                        <p>Reviewed</p>
                    </div>
                </div>
                <div class="fp_item">
                    <div class="fp_icon">
                        <img src="https://qureskincaredns.com/new/assets/science-ftr.svg" alt="">
                    </div>
                    <div class="fp_icon_text">
                        <p>Proven Results, </p>
                        <p>Backed by science</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- -- featured promotion end -- -->

    <!-- -- join section start -- -->
    <div class="join_bl section">
        <div class="container">
            <div class="section_header text-center mb-3">
                <h2 class="title-xl">Why should you join?</h2>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_money.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Earn Money</h6>
                            <p>A competitive % commission per sale</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_creatives.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Access to Creatives</h6>
                            <p>Shared creatives and graphics so you are set up for success</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_vip.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Exclusive Perks</h6>
                            <p>Receive free products, bonuses, and first access to new products, promotions and VIP
                                campaigns</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_social.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Social Collabs</h6>
                            <p>Opportunity to be featured on Qure Skincare social media channels and boost your
                                exposure</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_discounts.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Special Discounts</h6>
                            <p>Exclusive discounts & offers to share with your friends, family, and followers</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="join_item">
                        <div class="j_icon">
                            <img src="https://qureskincaredns.com/new/assets/join_handshake.svg" alt="">
                        </div>
                        <div class="j_desc">
                            <h6>Dedicated Ambassador Manager</h6>
                            <p>To help you understand how to grow your following, get the most out of the program
                                and progress at an individual level</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- join section end -- -->

    <!-- -- social media start -- -->
    <div class="social_media bg_grey section">
        <div class="container">
            <div class="sm_wrapper">
                <div class="swiper dot_pagination socialM_slider twa__swiper" id="twa__swiper-socialM_slider"
                    data-section-id="socialM_slider" data-autoplay="false" data-loop="false"
                    data-centerslide="false" data-mobile="1" data-tablet="3" data-desktop="3" data-spacing="20"
                    data-arrowleft="socialM_slider-swiper-prev" data-arrowright="socialM_slider-swiper-next">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="sm_item text-center">
                                <img src="https://qureskincaredns.com/new/assets/affiliate_s_m_1.webp" alt="" class="img-fluid">
                                <h2 class="title-lg">Skincare Experts</h2>
                                <div class="btn-black">
                                    <a href="#" class="btn m-0">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sm_item text-center">
                                <img src="https://qureskincaredns.com/new/assets/affiliate_s_m_2.webp" alt="" class="img-fluid">
                                <h2 class="title-lg">Influencers</h2>
                                <div class="btn-black">
                                    <a href="#" class="btn m-0">Join Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="sm_item text-center">
                                <img src="https://qureskincaredns.com/new/assets/affiliate_s_m_3.webp" alt="" class="img-fluid">
                                <h2 class="title-lg">Dermatologists</h2>
                                <div class="btn-black">
                                    <a href="#" class="btn m-0">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- -- social media start -- -->

    <!-- -- social media start -- -->
    <div class="social_media all_bg_gradient_yellow_bt section">
        <div class="section_header text-center mb-3">
            <h2 class="title-lg">Join the Qure family</h2>
        </div>
        <div class="sm_wrapper">
            <div class="swiper dot_pagination instagram_slider twa__swiper" id="twa__swiper-instagram_slider"
                data-section-id="instagram_slider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="2" data-tablet="5" data-desktop="5" data-spacing="10"
                data-arrowleft="instagram_slider-swiper-prev" data-arrowright="instagram_slider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="sm_item text-center">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_insta_1.webp" alt="" class="img-fluid insta_img">
                            <div class="insta_tag">
                                <img src="https://qureskincaredns.com/new/assets/amandalee_hill.webp" alt="">
                                <p>@amandalee_hill</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sm_item text-center">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_insta_2.webp" alt="" class="img-fluid insta_img">
                            <div class="insta_tag">
                                <img src="https://qureskincaredns.com/new/assets/vanidiy.webp" alt="">
                                <p>@vanidiy</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sm_item text-center">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_insta_3.webp" alt="" class="img-fluid insta_img">
                            <div class="insta_tag">
                                <img src="https://qureskincaredns.com/new/assets/dr_skinsanity.webp" alt="">
                                <p>@dr_skinsanity</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sm_item text-center">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_insta_4.webp" alt="" class="img-fluid insta_img">
                            <div class="insta_tag">
                                <img src="https://qureskincaredns.com/new/assets/skin_so_fabulous.webp" alt="">
                                <p>@skin_so_fabulous</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="sm_item text-center">
                            <img src="https://qureskincaredns.com/new/assets/affiliate_insta_5.webp" alt="" class="img-fluid insta_img">
                            <div class="insta_tag">
                                <img src="https://qureskincaredns.com/new/assets/hilarykennedy.webp" alt="">
                                <p>@hilarykennedy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="btn-black"><a href="#" class="btn m-0">Join Now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- -- social media start -- -->
</main>