<main class="free_water">
    <!-- -- main banner start -- -->
    <div class="main_banner">
        <picture>
            <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/free-water-banner-desk.webp" width="90" height="31">
            <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/free-water-banner-desk.webp" width="90" height="31">
            <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/free-water-banner-desk.webp" width="90" height="31">
            <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/free-water-banner-desk.webp" width="90" height="31">
            <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/free-water-banner-mob.webp" width="90" height="31">
            <img src="https://qureskincaredns.com/new/assets/free-water-banner-mob.webp" width="375" height="424" alt="" class="img-fluid">
        </picture>
        <div class="main_b_wrapper bg_gradient_mob text-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 offset-lg-6 col-md-6">
                        <div class="banner_content">
                            <div class="section_header">
                                <h1 class="title-xl">Stop washing your face with Chlorine</h1>
                                <div class="sh_desc">
                                    <p class="pb-5">See what chemicals are in your water
                                    </p>
                                </div>
                                <div class="btn-auto mw-359">
                                    <a href="#giveaway_form_wrap" class="btn_white bg-green m-0 mw-375">Get my FREE
                                        Water
                                        Report</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- main banner end -- -->

    <!-- ----- tap water skin start ----- -->
    <div class="tap_water section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="tap_water_info">
                        <h2 class="title-lg">What tap water does to your skin:</h2>
                        <p>Tap water significantly harms your skin.<br> Many of the chemicals found in our water
                            systems may contribute to:</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tap_water_icons">
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water1.svg" alt="">
                            <p>Dryness</p>
                        </div>
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water2.svg" alt="">
                            <p>Premature aging </p>
                        </div>
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water3.svg" alt="">
                            <p>Breakouts</p>
                        </div>
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water4.svg" alt="">
                            <p>Redness & <br>Irritation</p>
                        </div>
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water5.svg" alt="">
                            <p>Sensitive<br>
                                skin</p>
                        </div>
                        <div class="tw_item">
                            <img src="https://qureskincaredns.com/new/assets/free-water6.svg" alt="">
                            <p>Skin<br> Conditions</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----- tap water skin end ----- -->

    <!-- -- qurify giveaway form start -- -->
    <div class="giveaway_form section" id="giveaway_form_wrap">
        <div class="container">
            <div class="grab_header text-md-center pb-4">
                <div class="title-lg paddingB text-md-center">What contaminants is your skin absorbing every day?
                </div>
                <p>Enter your information below to get a free, custom water report for your local area. <br>Learn
                    about
                    what’s in your water and how it can be affecting your skin.</p>
            </div>
            <form id="giveaway_form">
                <div class="textfield textfield--light">
                    <input type="text" id="g_name" class="textfield__input required" required>
                    <label for="g_name" class="textfield__label textfield__label--required">Name</label>
                </div>
                <div class="textfield textfield--light">
                    <input type="email" id="g_email" class="textfield__input required" required>
                    <label for="g_email" class="textfield__label textfield__label--required">Email</label>
                </div>
                <div class="textfield textfield--light">
                    <input type="text" id="g_zip" class="textfield__input required" required>
                    <label for="g_zip" class="textfield__label textfield__label--required">Zip Code</label>
                </div>
                <div class="textfield text-md-center mw-373">
                    <button type="submit" class="btn btn-lg btn-primary buy_btn my-4 mw-100">Get my FREE Water
                        Report
                    </button>
                    <p>By submitting this form, you agree to receive recurring automated promotional and
                        personalized marketing Emails from Qure to the Email used when signing up. See <a
                            href="javascript:void(0)"
                            style="text-decoration: underline;cursor:pointer;color: #000;">Terms
                            &
                            Privacy.</a></p>
                </div>
            </form>
        </div>
    </div>
    <!-- -- qurify giveaway form end -- -->

    <!-- -- Did you know start --- -->
    <div class="did_you_know section">
        <div class="container">
            <div class="section_header">
                <div class="title-lg paddingB text-md-center">Did you know?
                </div>
            </div>
            <div class="row">
                <div class="dyk_wrapper">
                    <div class="dyk_item order-1">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">96%</span>
                                <svg class="vMQQx" height="68" width="68" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 4; stroke-width: 5px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h6>of tap water is treated with chlorine</h6>
                            <p>known for its drying effects that can leave the skin dehydrated.</p>
                        </div>
                    </div>
                    <div class="dyk_item order-4 order-md-2">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">83%</span>
                                <svg class="vMQQx" height="68" width="68" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 17; stroke-width: 5px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h6>of tap water is hard
                            </h6>
                            <p>hard metals or excess Mg2+ and Ca2+ can clog pores and irritate skin.</p>
                        </div>
                    </div>
                    <div class="dyk_item order-3">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">94%</span>
                                <svg class="vMQQx" height="68" width="68" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 6; stroke-width: 5px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h6>of tap water contains micro-plastics</h6>
                            <p>these tiny particles can result in micro-abrasions and damage sensitive skin.</p>
                        </div>
                    </div>
                    <div class="dyk_item order-2 order-md-4">
                        <div class="progressCont">
                            <span class="progressWrapper">
                                <span class="progessInfo text-dark">60%</span>
                                <svg class="vMQQx" height="68" width="68" viewBox="-29 -29 58 58">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
                                            <stop offset="0%" stop-color="#C7E7DC"></stop>
                                            <stop offset="100%" stop-color="#C7E7DC"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100"
                                        class="K4v4P" r="24" style="stroke-width: 1px;"></circle>
                                    <circle visibility="visible" fill="none" pathLength="100"
                                        transform="rotate(-90)" class="OKwUu" r="24" stroke="url(#gradient)"
                                        style="stroke-dasharray: 100; stroke-dashoffset: 40; stroke-width: 5px;">
                                    </circle>
                                </svg>
                            </span>
                        </div>
                        <div>
                            <h6>of tap water contains turbidity
                            </h6>
                            <p>includes mud, rust, and micro-contaminants, which irritate sensitive skin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- Did you know end --- -->
    <!-- -- skincare routine start -- -->
    <div class="skincare_routine section">
        <div class="container">
            <div class="section_header mw-100">
                <div class="title-lg text-md-center">Clean water is “step zero” in your skincare routine.
                </div>
            </div>
            <p class="mw-600 mx-auto text-center">Take control at the source by filtering your water, addressing the
                primary cause
                of most skin
                concerns, and fortify your skin from within.</p>
            <div class="get_report_btn">
                <a href="#giveaway_form_wrap">Get my FREE Water
                    Report</a>
            </div>

        </div>
    </div>
    <!-- -- skincare routine end -- -->

    <!-- -- meet qurify start -- -->
    <div class="meet_qurify section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="meet_qurify_info mw-493">
                        <div class="title-lg">Meet Q-urify Water Filter
                        </div>
                        <div class="refill_review justify-content-start align-items-center my-4">
                            <div class="star_gp">
                                <img src="https://qureskincaredns.com/new/assets/star-review.svg" alt="">
                            </div>
                            <p class="text-sm fw-normal d-none d-md-block"
                                style="text-decoration: none;line-height: 24px;">90% of
                                customers don’t go
                                back to tap water
                            </p>
                            <p class="text-sm fw-normal d-block d-md-none" style="text-decoration: none;">96%
                                satisfaction rate
                            </p>
                        </div>
                        <p>Secure your complimentary water quality analysis today! Discover whether your tap water
                            contains chemicals that may harm your skin. If any impurities are detected, experience
                            the exceptional capabilities of the Qurify Skincare Water Filter – your ultimate
                            solution for pure, healthy water.</p>
                        <div class="get_report_btn ms-0 d-none d-md-block">
                            <a href="#giveaway_form_wrap">Get my FREE Water
                                Report</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="meet_qurify_img">
                        <img src="https://qureskincaredns.com/new/assets/qurify_need.webp" alt="" class="img-fluid">
                    </div>
                    <div class="get_report_btn ms-0 d-block d-md-none">
                        <a href="#giveaway_form_wrap">Get my FREE Water
                            Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- meet qurify end -- -->
</main>