<main class="our_story">
    <!-- -- main banner start -- -->
    <div class="main_banner">
        <picture>
            <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/main_about.webp" class="img-fluid" width="1440"
                height="557">
            <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/main_about.webp" class="img-fluid" width="1440"
                height="557">
            <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/main_about.webp" class="img-fluid" width="1440"
                height="557">
            <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/main_about.webp" class="img-fluid" width="1440"
                height="557">
            <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/main_about.webp" class="img-fluid" width="1440"
                height="557">
            <img src="https://qureskincaredns.com/new/assets/main_about_mob.webp" width="225" height="281" alt="" class="img-fluid">
        </picture>
        <div class="main_b_wrapper bg_gradient_mob text-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="section_header text-center">
                            <h1 class="title-xl mb-4">We're rethinking skincare</h1>
                            <p>Bringing you clinical-grade technologies and products for DIY skin therapies, in the
                                comfort of your own home, and at a price everyone can afford.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- main banner end -- -->


    <!-- -- press slider start -- -->
    <div class="press_bl">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2">
                    <div class="p_bl_header">
                        <p>FEATURED IN</p>
                    </div>

                </div>
                <div class="col-lg-10">
                    <div class="swiper press_slider">
                        <div class="swiper-wrapper ps_wrapper">
                            <div class="swiper-slide">
                                <div class="ps_item">
                                    <img src="https://qureskincaredns.com/new/assets/cosmopolitan.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ps_item">
                                    <img src="https://qureskincaredns.com/new/assets/bazaar.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ps_item">
                                    <img src="https://qureskincaredns.com/new/assets/elle.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ps_item">
                                    <img src="https://qureskincaredns.com/new/assets/glamour.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ps_item">
                                    <img src="https://qureskincaredns.com/new/assets/grazia.svg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- -- press slider end -- -->


    <!-- -- image with text start -- -->
    <div class="imageText section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="it_img">
                        <img src="https://qureskincaredns.com/new/assets/about_it_1.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="it_info mw-500">
                        <h2 class="title-lg paddingB">Skin health is not about switching products, but changing the
                            process
                        </h2>
                        <p>Most of us have tried dozens of creams, oils, balms, ointments. The fact that we keep
                            switching products proves that topical alone don’t get you the desired results. What we
                            need is
                            <strong>something proven—a treatment,</strong> rather than a cream.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- -- image with text end -- -->

    <!-- -- image with text start -- -->
    <div class="imageText section pt-0 pt-md-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 order-2 order-md-1">
                    <div class="it_info ps-0 mw-500">
                        <h2 class="title-lg paddingB">Putting you in control of your skin</h2>
                        <p>Professional, clinical-grade treatments are now <strong>available to everyone.</strong>
                            You no longer have
                            to pay thousands for in-clinic treatments. </p>

                        <p>You have the <strong>power to treat your skin,</strong> every day and see faster,
                            longer-lasting results
                            with proven scientific processes, methods, and ingredients. <strong>Because no one knows
                                your
                                skin better than you do.</strong></p>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2">
                    <div class="it_img">
                        <img src="https://qureskincaredns.com/new/assets/about_it_2.webp" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- image with text end -- -->

    <div class="qure_advantages">
        <img src="https://qureskincaredns.com/new/assets/about_beauty_clicnic.webp" alt="" class="img-fluid qa_bg d-none d-md-block">
        <img src="https://qureskincaredns.com/new/assets/about_beauty_clicnic_mob.webp" alt="" class="img-fluid qa_bg d-block d-md-none">
        <div class="qa__inner">
            <div class="container">
                <div class="section_header p-0 m-0 mw-600">
                    <h2 class="title-lg text-light text-center text-md-start">It's like going to a beauty clinic 5
                        times a week, without
                        leaving your
                        couch.</h2>
                </div>
            </div>

        </div>

    </div>


    <!-- --  skincare slider start  -- -->
    <div class="skincare_slider">
        <div class="container">
            <div class="section_header">
                <h2 class="title-lg text-center">
                    Results backed by science
                </h2>
            </div>
            <div class="swiper twa__swiper skin_slider dot_pagination" id="twa__swiper-skinSlider"
                data-section-id="skinSlider" data-autoplay="false" data-loop="false" data-centerslide="false"
                data-mobile="1" data-tablet="1" data-desktop="1" data-spacing="30"
                data-arrowleft="skinSlider-swiper-prev" data-arrowright="skinSlider-swiper-next">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="skin_item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="skin_item_header">Fine Lines and Wrinkles</div>
                                    <div class="skincare_left">
                                        <div class="row gx-2">
                                            <div class="col-6">
                                                <div class="result_img_m before_img">
                                                    <img src="https://qureskincaredns.com/new/assets/michelle_before_img.webp" alt=""
                                                        class="img-fluid">
                                                    <span class="result_badge">BEFORE</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="result_img_m after_img">
                                                    <img src="https://qureskincaredns.com/new/assets/michelle_after_img.webp" alt=""
                                                        class="img-fluid">
                                                    <span class="result_badge">AFTER 8 WEEKS</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="r_c_info">
                                            <div class="c_information">
                                                <div class="flag_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                                </div>
                                                <p class="r_c_name pe-4">Michelle S.</p>
                                                <div class="verified_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                                </div>
                                                <p>Verified customer</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="skincare_right">
                                        <div class="skincare_percent">
                                            <div class="progressCont"><span class="progressWrapper">
                                                    <span class="progessInfo text-dark">87%</span>
                                                    <svg class="vMQQx" height="77" width="77"
                                                        viewBox="-29 -29 58 58">
                                                        <defs>
                                                            <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                                y2="0">
                                                                <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                            </linearGradient>
                                                        </defs>
                                                        <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                            pathLength="100" class="K4v4P" r="24"
                                                            style="stroke-width: 1px;"></circle>
                                                        <circle visibility="visible" fill="none" pathLength="100"
                                                            transform="rotate(-90)" class="OKwUu" r="24"
                                                            stroke="url(#gradient)"
                                                            style="stroke-dasharray: 100; stroke-dashoffset: 13; stroke-width: 5px;">
                                                        </circle>
                                                    </svg>
                                                </span>
                                            </div>
                                            <div>
                                                <p><strong>smoother</strong> facial wrinkles and fine lines</p>
                                                <a class="popup-modal ss_c_link" href="#test-modal1">Read More About
                                                    Clinical Study <span><img src="https://qureskincaredns.com/new/assets/info.svg"
                                                            alt=""></span></a>
                                                <div id="test-modal1" class="mfp-hide white-popup-block skin_popup">
                                                    <div class="ss_clinical">
                                                        <div class="ss_c_title">
                                                            <h4>Clinical Study</h4>
                                                        </div>
                                                        <div class="ss_c_detail">
                                                            <p>87% experienced a reduction in the Fitzpatrick
                                                                wrinkling severity score via a blinded clinical
                                                                assessment. Improvements in skin appearance observed
                                                                in LED-treated individuals suggested that LED at 660
                                                                nm is a safe and effective collagen-enhancement
                                                                strategy. No adverse events or downtime were
                                                                reported.
                                                            </p>

                                                            <p><strong> About the clinical trial</strong>
                                                            </p>

                                                            <p>Clinical trial was conducted and investigated the
                                                                potential of light-emitting diode (LED) treatments
                                                                with a 660 nm. LED effects were then assessed in
                                                                aged/photoaged individuals in a split-face
                                                                single-blinded study.</p>

                                                            <p style="font-style: italic;"> Reference: SOURCE: J
                                                                Invest Dermatol. 2009 Dec;129(12):2751-9. doi:
                                                                10.1038/jid.2009.186. Epub 2009 Jul 9</p>

                                                        </div>
                                                        <button title="Close (Esc)" type="button"
                                                            class="mfp-close">close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ss_list">
                                            <ul>
                                                <li>Reduces depth of wrinkles and <strong>smooths fine
                                                        lines.</strong></li>
                                                <li>Stimulates natural collagen for <strong>firmer, fuller
                                                        skin.</strong></li>
                                                <li>Calms redness and promotes a <strong>healthy, glowing
                                                        complexion.</strong></li>
                                            </ul>
                                        </div>
                                        <div class="ss_skin_mask">
                                            <div class="ss_mask_img">
                                                <img src="https://qureskincaredns.com/new/assets/results_mask.webp" alt="">
                                            </div>
                                            <div class="ss_mask_info">
                                                <h5>Q-Rejuvalight LED Mask</h5>
                                                <a href="/products/q-rejuvalight-pro-facewear">Learn more &gt;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="skin_item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="skin_item_header">Pigmentation & Inflammation</div>
                                    <div class="skincare_left">
                                        <div class="row gx-2">
                                            <div class="col-6">
                                                <div class="result_img_m before_img">
                                                    <img src="https://qureskincaredns.com/new/assets/jess_before_img.webp" alt="" class="img-fluid">
                                                    <span class="result_badge">BEFORE</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="result_img_m after_img">
                                                    <img src="https://qureskincaredns.com/new/assets/jess_after_img.webp" alt="" class="img-fluid">
                                                    <span class="result_badge">AFTER 4 WEEKS</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="r_c_info">
                                            <div class="c_information">
                                                <div class="flag_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/america_f.webp" alt="" class="img-fluid">
                                                </div>
                                                <p class="r_c_name pe-4">Jess</p>
                                                <div class="verified_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                                </div>
                                                <p>Verified customer</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="skincare_right">
                                        <div class="skincare_percent">
                                            <div class="progressCont">
                                                <p><span class="progressWrapper">
                                                        <span class="progessInfo text-dark">91%</span>
                                                        <svg class="vMQQx" height="77" width="77"
                                                            viewBox="-29 -29 58 58">
                                                            <defs>
                                                                <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                                    y2="0">
                                                                    <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                    <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                </linearGradient>
                                                            </defs>
                                                            <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                pathLength="100" class="K4v4P" r="24"
                                                                style="stroke-width: 1px;"></circle>
                                                            <circle visibility="visible" fill="none"
                                                                pathLength="100" transform="rotate(-90)"
                                                                class="OKwUu" r="24" stroke="url(#gradient)"
                                                                style="stroke-dasharray: 100; stroke-dashoffset: 9; stroke-width: 5px;">
                                                            </circle>
                                                        </svg>
                                                    </span>
                                                </p>
                                            </div>
                                            <p><strong>improved</strong> skin tone and enhanced smoothness</p>
                                        </div>
                                        <div class="ss_list">
                                            <ul>
                                                <li><strong>Soothing, anti-inflammatory</strong> benefits reduces
                                                    redness and inflammation.</li>
                                                <li><strong>Fades pigmentation</strong> and <strong>dark
                                                        spots</strong> for more radiant, even-toned skin.</li>
                                                <li><strong>Heals</strong> and <strong>rejuvenates</strong> skin,
                                                    helping with sun damage, hyperpigmentation.</li>
                                            </ul>
                                        </div>
                                        <div class="ss_skin_mask">
                                            <div class="ss_mask_img">
                                                <img src="https://qureskincaredns.com/new/assets/results_mask.webp" alt="">
                                            </div>
                                            <div class="ss_mask_info">
                                                <h5>Q-Rejuvalight LED Mask</h5>
                                                <a href="/products/q-rejuvalight-pro-facewear">Learn more
                                                    &gt;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="skin_item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="skin_item_header">Acne and Breakouts</div>
                                    <div class="skincare_left">
                                        <div class="row gx-2">
                                            <div class="col-6">
                                                <div class="result_img_m before_img">
                                                    <img src="https://qureskincaredns.com/new/assets/bj_nardi_before_img.webp" alt=""
                                                        class="img-fluid">
                                                    <span class="result_badge">BEFORE</span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="result_img_m after_img">
                                                    <img src="https://qureskincaredns.com/new/assets/bj_nardi_after_img.webp" alt=""
                                                        class="img-fluid">
                                                    <span class="result_badge">AFTER 4 WEEKS</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="r_c_info">
                                            <div class="c_information">
                                                <div class="flag_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/canada_f.svg" alt="" class="img-fluid">
                                                </div>
                                                <p class="r_c_name pe-4">BJ Nardi.</p>
                                                <div class="verified_img pe-2">
                                                    <img src="https://qureskincaredns.com/new/assets/verified.svg" alt="">
                                                </div>
                                                <p>Verified customer</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="skincare_right">
                                        <div class="skincare_percent">
                                            <div class="progressCont">
                                                <p><span class="progressWrapper">
                                                        <span class="progessInfo text-dark">83%</span>
                                                        <svg class="vMQQx" height="77" width="77"
                                                            viewBox="-29 -29 58 58">
                                                            <defs>
                                                                <linearGradient id="gradient" x1="0" x2="0" y1="1"
                                                                    y2="0">
                                                                    <stop offset="0%" stop-color="#C7E7DC"></stop>
                                                                    <stop offset="100%" stop-color="#C7E7DC"></stop>
                                                                </linearGradient>
                                                            </defs>
                                                            <circle stroke="rgba(221, 224, 228, 1)" fill="none"
                                                                pathLength="100" class="K4v4P" r="24"
                                                                style="stroke-width: 1px;"></circle>
                                                            <circle visibility="visible" fill="none"
                                                                pathLength="100" transform="rotate(-90)"
                                                                class="OKwUu" r="24" stroke="url(#gradient)"
                                                                style="stroke-dasharray: 100; stroke-dashoffset: 17; stroke-width: 5px;">
                                                            </circle>
                                                        </svg>
                                                    </span>
                                                </p>
                                            </div>
                                            <p><strong>reduction</strong> of acne breakouts</p>
                                        </div>
                                        <div class="ss_list">
                                            <ul>
                                                <li><strong>Reduces acne</strong> and <strong>prevents future
                                                        breakouts</strong> by eliminating bacteria.</li>
                                                <li>Heals and fades post breakout marks for more <strong>even tone
                                                        skin.</strong></li>
                                                <li>Rapidly <strong>reduces inflammation</strong> and regulates oil
                                                    production.</li>
                                            </ul>
                                        </div>
                                        <div class="ss_skin_mask">
                                            <div class="ss_mask_img">
                                                <img src="https://qureskincaredns.com/new/assets/results_mask.webp" alt="">
                                            </div>
                                            <div class="ss_mask_info">
                                                <h5>Q-Rejuvalight LED Mask</h5>
                                                <a href="/products/q-rejuvalight-pro-facewear">Learn more
                                                    &gt;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- --  skincare slider end  -- -->

    <!-- -- trusted section start -- -->
    <div class="trusted_bl section">
        <div class="trusted_cl">
            <div class="container">
                <div class="section_header d-block d-lg-none">
                    <h2 class="title-lg text-center">
                        Trusted by world leading Dermatologists
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="trusted_left mw-452">
                            <div class="section_header d-none d-lg-block pt-0">
                                <h2 class="title-lg">
                                    Trusted by world leading Dermatologists
                                </h2>
                                <p>What sets us apart is the unwavering trust we've earned from dermatologists on a
                                    mission to democratize professional skincare. </p>
                                <p>We're proud to bridge the gap between professional expertise and accessible
                                    skincare, bypassing the industry’s “skin gatekeepers” to give you science-based,
                                    clinical-grade skin treatments you can do easily, all by yourself, in the
                                    comfort and privacy of your own home.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="trusted_cl_m mb-2 mb-md-0">
                            <div class="trusted_tag">
                                <div class="t_like_img pe-2">
                                    <img src="https://qureskincaredns.com/new/assets/trusted_thumb.svg" alt="">
                                </div>
                                <p class="border-r pe-2">4.8K</p>
                                <p class="px-2">192k views</p>
                            </div>
                            <img src="https://qureskincaredns.com/new/assets/trusted_main.webp" alt="" class="img-fluid t_m_img">
                            <div class="play_btn">
                                <a class="popup-youtube"
                                    href="https://www.youtube.com/watch?v=I2Fe-kP-2Jg"><span><img
                                            src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="">
                                        <h6>Click To Watch Review</h6>
                                    </span></a>
                            </div>
                        </div>
                        <div class="trusted_withInfo text-start d-block d-lg-none">
                            <p>What sets us apart is the unwavering trust we've earned from dermatologists on a
                                mission to democratize professional skincare. </p>

                            <p>We're proud to bridge the gap between professional expertise and accessible skincare,
                                bypassing the industry’s “skin gatekeepers” to give you science-based,
                                clinical-grade skin treatments you can do easily, all by yourself, in the comfort
                                and privacy of your own home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- trusted section end -- -->

</main>