<link rel="stylesheet" href="{{ 'product-qure-safety.css' | asset_url }}">
<style>
    .hide {
        display: none !important;
    }
</style>


<main class="homepage q-urify_safety led_guide">
    <div id="first__box">
        <!-- Guide Banner Start-->
        <div class="guide_banner overflow-hidden d-none d-md-block">
            <div class="row">
                <div class="col-md-6 p-md-0">
                    <div class="guide_img">
                        <img src="https://qureskincaredns.com/new/assets/led_guide_main.webp" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 p-md-0">
                    <div class="h-100 d-grid">
                        <div class="guide_content d-grid align-items-center">
                            <div class="section_header ps-0 mw-500 ms-0">
                                <h2 class="title-xl paddingB"> Q-Rejuvalight Pro LED Mask Quickstart Guide</h2>
                                <p>Great skin is waiting… Let's get started!
                                </p>
                            </div>
                        </div>
                        <div class="guide_links">
                            <div class="d-grid align-items-center h-100">
                                <h2 class="contents-title mb-0">Jump to:</h2>
                                <div class="contents-info">
                                    <div class="tab">
                                        <ul>
                                            <li><span>01</span><a href="#how-to-use" class="tablinks how-to-use">How to Use Your
                                                    Q-Rejuvalight Pro LED Mask</a></li>
                                            <li><span>02</span><a href="#getting-started" class="tablinks getting-started">Getting Started
                                                    with the Qure App</a></li>
                                            <li><span>03</span><a href="#troubleshooting" class="tablinks troubleshooting">Charging &
                                                    Troubleshooting</a></li>
                                            <li><span>04</span><a href="#take-care" class="tablinks take-care">Taking Care of
                                                    Your Q-Rejuvalight Pro LED Mask</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Guide Banner End-->

        <!-- Safety Banner -->
        <div class="d-block d-md-none">
            <div class="safety-banner">
                <img src="https://qureskincaredns.com/new/assets/led_guide_main_mob.webp" alt="" class="img-fluid">
                <div class="safety-banner-cnt">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="offset-md-7 col-md-5 col-10 p-0">
                                <div class="safety-banner-cont mb-4">
                                    <h1 class="mb-2">Q-Rejuvalight Pro LED Mask Quickstart Guide</h1>
                                    <p>Great skin is waiting… Let's get started!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="guide_links p-0">
                <div class="container">
                    <div class="py-5">
                        <h2 class="contents-title">Jump to:</h2>
                        <div class="contents-info">
                            <div class="tab">
                                <ul>
                                    <li><span>01</span><a href="#how-to-use" class="tablinks">How to Use Your LED
                                            Mask</a></li>
                                    <li><span>02</span><a href="#getting-started" class="tablinks">The Qure App: Connecting
                                            & Key Features</a></li>
                                    <li><span>03</span><a href="#troubleshooting" class="tablinks">Charging &
                                            Troubleshooting</a></li>
                                    <li><span>04</span><a href="#take-care" class="tablinks">Taking Care of Your
                                            Device</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Safety Banner -->
        <div class="instruction">
            <div class="container">
                <div class="short_info_wrap">
                    <div class="short_info">
                        <div class="see_work position-relative video_popup order-2 order-md-1">
                            <img src="https://qureskincaredns.com/new/assets/led_short1.webp" alt="" class="img-fluid">
                            <div class="play_btn">
                                <a class="popup-youtube">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper d-none d-md-block"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_9gp2hc1mho popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-none d-md-block">
                                            <h6 class="d-none d-md-block">Watch Now</h6>
                                        </span>

                                        <div class="wistia_responsive_wrapper d-block d-md-none"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_jlz3itwzrb popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-block d-md-none">
                                            <h6 class="d-block d-md-none">Watch Now</h6>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h2 class="title-lg d-none d-md-block order-1 order-md-2">How to get started</h2>
                        <h2 class="title-lg d-block d-md-none order-1 order-md-2">How to use</h2>
                        <div class="instruction_manual order-3">
                            <p>Ready to kickstart your journey with Q-Rejuvalight Pro? </p>
                            <p>Let us guide you through the steps and usage process for your LED mask. Don't
                                miss out –
                                hit play and let's get glowing together!</p>
                            <ul>
                                <li>Applying the strap and protective eyewear</li>
                                <li>Charging your LED mask</li>
                                <li>Treatment modes</li>
                                <li>Cleaning and storing your mask</li>
                            </ul>
                            <a href="#how-to-use" class="tablinks btn see_more btn-primary buy_btn1 mt-2"><span
                                    class="me-2">See more</span> <img src="https://qureskincaredns.com/new/assets/arrow_right.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="short_info">
                        <div class="see_work position-relative video_popup order-2 order-md-1">
                            <img src="https://qureskincaredns.com/new/assets/led_short2.webp" alt="" class="img-fluid">
                            <div class="play_btn">
                                <a class="popup-youtube">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper d-none d-md-block"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_88s56ioecb popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-none d-md-block">
                                            <h6 class="d-none d-md-block">Watch Now</h6>
                                        </span>

                                        <div class="wistia_responsive_wrapper d-block d-md-none"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_2czea3t8ir popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-block d-md-none">
                                            <h6 class="d-block d-md-none">Watch Now</h6>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h2 class="title-lg d-none d-md-block order-1 order-md-2">Connect the App</h2>
                        <h2 class="title-lg d-block d-md-none order-1 order-md-2">Connect the Qure App </h2>
                        <div class="order-3">
                            <div class="f_app_links d-flex justify-content-between mb-4 gap-2">
                                <div class="f_app_store">
                                    <a href="https://apps.apple.com/nl/app/qure-skincare-pro/id1670113821"
                                        target="_blank"><img src="https://qureskincaredns.com/new/assets/led_appStore.webp" alt=""
                                            class="img-fluid"></a>
                                </div>
                                <div class="f_g_play">
                                    <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure"
                                        target="_blank"><img src="https://qureskincaredns.com/new/assets/led_googlePlay.webp" alt=""
                                            class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="instruction_manual">
                                <p>Download, set up, and use Qure app to its fullest extent. These features will
                                    streamline your LED therapy journey and help you get the most our of your LED
                                    mask, and the . Let's dive into our app features!</p>
                                <ul>
                                    <li>Setting up your account</li>
                                    <li>Pairing your LED mask with the app</li>
                                    <li>Customizing LED treatments</li>
                                    <li>Scheduling and setting reminders</li>
                                    <li>Features of the app </li>
                                </ul>
                                <a class="tablinks btn see_more btn-primary buy_btn1 mt-2" href="#getting-started"><span
                                        class="me-2">See more</span> <img src="https://qureskincaredns.com/new/assets/arrow_right.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="short_info">
                        <div class="see_work position-relative video_popup order-2 order-md-1">
                            <img src="https://qureskincaredns.com/new/assets/led_short3.webp" alt="" class="img-fluid">
                            <div class="play_btn">
                                <a class="popup-youtube">
                                    <div class="wistia_responsive_padding" style="position:relative;">
                                        <div class="wistia_responsive_wrapper d-none d-md-block"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_13uddtjxhe popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-none d-md-block">
                                            <h6 class="d-none d-md-block">Watch Now</h6>
                                        </span>

                                        <div class="wistia_responsive_wrapper d-block d-md-none"
                                            style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                            <span
                                                class="wistia_embed wistia_async_q0p76nmcrs popover=true videoFoam=true"
                                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                                        </div>
                                        <span><img src="https://qureskincaredns.com/new/assets/trusted_play_sm.svg" alt=""
                                                class="d-block d-md-none">
                                            <h6 class="d-block d-md-none">Watch Now</h6>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h2 class="title-lg order-1 order-md-2">Troubleshooting</h2>
                        <div class="instruction_manual order-3">
                            <p>Experiencing issues with your device or need help with charging? We've got you
                                covered. See common troubleshooting steps to fix any issues you may encounter,
                                and we'll also provide tips on how to properly charge your device for optimal
                                performance. Don’t let technical hiccups hold you back - hit play now and let's
                                get your device back on track!</p>
                            <ul>
                                <li>Charging your LED mask</li>
                                <li>Battery status check </li>
                                <li>Troubleshooting issues</li>
                                <li>Registration issues</li>
                            </ul>
                            <a class="tablinks btn see_more btn-primary buy_btn1 mt-2" href="#troubleshooting"><span
                                    class="me-2">See more</span> <img src="https://qureskincaredns.com/new/assets/arrow_right.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab View  -->
        <div id="introduction" class="pb-5 pb-md-0">
            <div class="container">
                <div class="tab_img_text mw-mob-100">
                    <div class="tab_img">
                        <img src="https://qureskincaredns.com/new/assets/led_guide_mask.webp" alt="" class="img-fluid w-100">
                    </div>
                    <div class="tab_text">
                        <p class="pb-4">Box out, mask on! Here’s how to set up your
                            Q-Rejuvalight Pro and start your light therapy treatment right away.</p>
                        <div class="text-end text-md-start">
                            <button class="let_start btn btn-primary see_more"><span class="me-2">Let's Get
                                    Started</span><img src="https://qureskincaredns.com/new/assets/arrow-right-white.png" alt=""> </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabing-new m-0">
        <div class="progress__container">
            <div class="progress__containerGroup" style="display: none;">
                <div class="guide_progress_wrap">
                    <div class="progress_step1">
                        <div class="progress_step active progress_setp_first"><a href="#how-to-use"
                                class="tablinks"><span class="d-none d-md-block">How
                                    to Use Your
                                    Q-Rejuv..</span>
                                <span class="d-block d-md-none">How to...</span></a></div>
                    </div>
                    <div class="progress_step1">
                        <div class="progress_step"><a href="#getting-started" class="tablinks"><span
                                    class="d-none d-md-block">... with the Qure
                                    App</span>
                                <span class="d-block d-md-none">...App...</span></a>
                        </div>
                    </div>
                    <div class="progress_step1">
                        <div class="progress_step"><a href="#troubleshooting" class="tablinks"><span
                                    class="d-none d-md-block">Charging &
                                    Troubleshoot...</span>
                                <span class="d-block d-md-none">Trouble...</span></a>
                        </div>
                    </div>
                    <div class="progress_step1">
                        <div class="progress_step progress_setp_last"><a href="#take-care" class="tablinks"><span
                                    class="d-none d-md-block">Taking Care
                                    of Your
                                    Q-Re...</span>
                                <span class="d-block d-md-none">Care...</span></a>
                        </div>
                    </div>
                </div>
                <div id="how-to-use" class="tabcontent">
                    <div class="tab_con tab_con_6">
                        <div class="tab_section_header">
                            <h2 class="title-lg">How to set up your <br>Q-Rejuvalight Pro LED Mask</h2>
                        </div>
                        <div class="micro_week">
                            <div class="micro_left dekstop_view">
                                <div class="actVideo_block">
                                    <div class="ctmVideo__block">
                                        <div class="player">
                                            <div class="wistia_responsive_padding"
                                                style="padding:177.78% 0 0 0;position:relative;">
                                                <div class="wistia_responsive_wrapper"
                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                    <div class="wistia_embed wistia_async_jlz3itwzrb seo=false videoFoam=true"
                                                        style="height:100%;position:relative;width:100%">
                                                        <div class="wistia_swatch"
                                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                            <img src="https://fast.wistia.com/embed/medias/jlz3itwzrb/swatch"
                                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                alt="" aria-hidden="true"
                                                                onload="this.parentNode.style.opacity=1;" />
                                                        </div>
                                                    </div>
                                                    <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="micro_right">
                                <div class="right_slider">
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>1</span>SET UP
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro1.webp" class="img-fluid">
                                            </div>
                                            <ul>
                                                <li>With the logos facing down, slide the strap into the
                                                    first clip. Thread it through the adjustor and
                                                    around
                                                    the second clip.</li>
                                                <li>Secure it with the pin inside the mask. </li>
                                                <li>Attach goggles from the inside of the mask. </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>2</span>GET STARTED
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro2.webp" class="img-fluid">
                                            </div>

                                            <ul>
                                                <li>Cleanse & dry your skin thoroughly to ensure you
                                                    start
                                                    with a clean slate. </li>
                                                <li>To power ON, hold the button for 2-3 seconds until
                                                    the
                                                    indicator light turns on. </li>
                                                <li>Position the mask on your face. Adjust the straps to
                                                    fit
                                                    your face comfortably.</li>
                                                <li>For Anti-Aging treatment: Press once.<br>
                                                    For Anti-Breakout treatment: Press twice.<br>
                                                    After three minutes, the device will shut off
                                                    automatically.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="getting-started" class="tabcontent">
                    <div class="tab_con tab_con_6">
                        <div class="tab_section_header mw-546">
                            <h2 class="title-lg paddingB">Getting started with the Qure App</h2>
                            <p>The Qure App makes connecting to and personalizing your LED treatments easy from your
                                Android or iPhone. </p>
                            <div class="f_app_links d-flex gap-4 justify-content-center mb-4 mw-359 mx-auto">
                                <div class="f_app_store">
                                    <a href="https://apps.apple.com/nl/app/qure-skincare-pro/id1670113821"
                                        target="_blank"><img src="https://qureskincaredns.com/new/assets/app_store.svg" alt=""></a>
                                </div>
                                <div class="f_g_play">
                                    <a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure"
                                        target="_blank"><img src="https://qureskincaredns.com/new/assets/google_play.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="micro_week">
                            <div class="micro_left dekstop_view">
                                <div class="actVideo_block">
                                    <div class="ctmVideo__block">
                                        <div class="player">
                                            <div class="wistia_responsive_padding"
                                                style="padding:177.78% 0 0 0;position:relative;">
                                                <div class="wistia_responsive_wrapper"
                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                    <div class="wistia_embed wistia_async_2czea3t8ir seo=false videoFoam=true"
                                                        style="height:100%;position:relative;width:100%">
                                                        <div class="wistia_swatch"
                                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                            <img src="https://fast.wistia.com/embed/medias/2czea3t8ir/swatch"
                                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                alt="" aria-hidden="true"
                                                                onload="this.parentNode.style.opacity=1;" />
                                                        </div>
                                                    </div>
                                                    <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="micro_right">
                                <div class="right_slider">
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>1</span>Customize your
                                            treatment:
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro3.webp" class="img-fluid">
                                            </div>
                                            <ul>
                                                <li>Search “Qure Skincare” in the Play Store or App
                                                    Store.
                                                </li>
                                                <li>Once downloaded, follow the on-screen instructions
                                                    to
                                                    create an account. </li>
                                                <li>Turn on your device as well as Bluetooth on your
                                                    phone.
                                                </li>
                                                <li>Click “Connect.” The app will confirm a successful
                                                    connection!</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>2</span>Get reminders:
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro4.webp" class="img-fluid">
                                            </div>

                                            <ul>
                                                <li>After your treatment is complete, choose “Go to
                                                    calendar” then “Plan a treatment.”</li>
                                                <li>Choose a date and time for your next treatment. 
                                                </li>
                                                <li>Activate daily reminders to receive notifications.
                                                    <br>You’re all set!
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="troubleshooting" class="tabcontent">
                    <div class="tab_con tab_con_6">
                        <div class="tab_section_header mw-476 mx-auto">
                            <h2 class="title-lg paddingB">Charging & Troubleshooting</h2>
                            <p>Discover the need-to-know for charging your <span
                                    style="white-space: nowrap;">Q-Rejuvalight</span> Pro plus helpful tips
                                for
                                fixing your mask at home. </p>
                        </div>
                        <div class="micro_week">
                            <div class="micro_left dekstop_view">
                                <div class="actVideo_block">
                                    <div class="ctmVideo__block">
                                        <div class="player">
                                            <div class="wistia_responsive_padding"
                                                style="padding:177.78% 0 0 0;position:relative;">
                                                <div class="wistia_responsive_wrapper"
                                                    style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                                    <div class="wistia_embed wistia_async_q0p76nmcrs seo=false videoFoam=true"
                                                        style="height:100%;position:relative;width:100%">
                                                        <div class="wistia_swatch"
                                                            style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                                            <img src="https://fast.wistia.com/embed/medias/q0p76nmcrs/swatch"
                                                                style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                                                alt="" aria-hidden="true"
                                                                onload="this.parentNode.style.opacity=1;" />
                                                        </div>
                                                    </div>
                                                    <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="micro_right">
                                <div class="right_slider">
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>1</span>TO CHARGE
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro5.webp" class="img-fluid">
                                            </div>
                                            <ul>
                                                <li>Connect the USB-C cord to your Q-Rejuvalight Pro.
                                                </li>
                                                <li>Plug it into a USB power adapter.</li>
                                                <li>While charging, the indicator light will flash. When the battery is full, the indicator light will turn off.</li>
                                                <li>No light when plugged in means it's fully charged
                                                    already.</li>
                                                <li>Unplugged, a solid white light indicated a full
                                                    battery.
                                                </li>
                                                <li>You cannot power on your device while it’s connected
                                                    to
                                                    the charger. </li>
                                                <li>Blinking indicator signals a low battery. </li>
                                                <li>A two-and-a-half-hour charge can deliver up to 10
                                                    treatments.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="micro_step">
                                        <div class="micro_step_title"><span>2</span>Troubleshooting:
                                        </div>
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro6.webp" class="img-fluid">
                                            </div>

                                            <ul>
                                                <div class="micro_step_title">IF:
                                                </div>
                                                <li>Your mask doesn’t turn on before first use</li>
                                                <li>Your mask doesn’t last the full treatment</li>
                                                <li>Your mask fails to turn on</li>
                                                <div class="micro_step_title">TRY:
                                                </div>
                                                <li>Check that the light turns off when fully charged.
                                                    Check
                                                    that a solid white light turns on when you turn on
                                                    the
                                                    device.</li>
                                                <li>Test with an alternate USB-C cable. </li>
                                                <li>Plug with a different outlet or wall socket. </li>
                                                <li>Ensure the mask is fully charged (indicator off
                                                    after 3+
                                                    hours). </li>
                                                <li>Verify charge in the app’s battery icon when
                                                    connected.
                                                </li>
                                                <li>Attempt charging with a 5V or lower adapter. </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="micro_step">
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro7.webp" class="img-fluid">
                                            </div>

                                            <ul>
                                                <div class="micro_step_title">IF:
                                                </div>
                                                <li>You can’t connect to the app</li>
                                                <div class="micro_step_title">TRY:
                                                </div>
                                                <li>Ensure Location Sharing is on.</li>
                                                <li>Exit the app and reopen the app.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="micro_step">
                                        <div class="mico_bullet">
                                            <div class="micro_img_wrap">
                                                <img src="https://qureskincaredns.com/new/assets/led_micro8.webp" class="img-fluid">
                                            </div>

                                            <ul>
                                                <div class="micro_step_title">IF:
                                                </div>
                                                <li>You have trouble registering within the app.</li>
                                                <div class="micro_step_title">TRY:
                                                </div>
                                                <li>Uninstall the app.</li>
                                                <li>Reinstall the app. </li>
                                                <li>Register again. </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="take-care" class="tabcontent">
                    <div class="tab_con mw-768">
                        <div class="tab_section_header mw-546 mx-auto">
                            <h2 class="title-lg paddingB">Taking care of your <br>Q-Rejuvalight Pro LED Mask</h2>
                        </div>
                        <div class="care_detail">
                            <div>
                                <div class="care_content">
                                    <p>Remember to wipe the mask down after each treatment.
                                    </p>
                                    <p>When not in use, place your mask in the luxury storage bag provided with your
                                        set! Store it in a cool, moisture-free environment.</p>
                                </div>
                            </div>

                            <div class="care_content">
                                <p class="mb-1">To maximize battery life:</p>
                                <div class="instruction_manual ms-4">
                                    <ul class="pt-0">
                                        <li>Avoid leaving your device charging for long periods of time.</li>
                                        <li>Avoid letting the battery completely run out. </li>
                                        <li>When storing the device long-term, keep it half charged. In other words,
                                            don’t
                                            keep
                                            it charging and don’t store it with an empty battery.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="shine_you mw-546 mx-auto section">
                            <div class="section_header  text-center">
                                <h4 class="title-lg">Shine a Light on YOU</h4>
                            </div>

                            <div class="micro_tips d-block">
                                <span>PRO TIP:</span>
                                <p>
                                    Make sure to take "before and after" pictures to document your progress.<br>The
                                    most
                                    important thing to remember is that results are cumulative, so consistent daily
                                    treatment is key. Now get glowing!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab_button">
                <a class="preview-btn hide rounded_btn" rel="noindex nofollow">
                    <img src="https://qureskincaredns.com/new/assets/arrow-prev.svg" alt="">
                    <span>Back</span></a>
                <a class="first__box rounded_btn"><img src="https://qureskincaredns.com/new/assets/arrow-prev.svg" alt=""><img class="icon2"
                        src="https://qureskincaredns.com/new/assets/arrow-prev.svg" alt=""><span>Home</span></a>
                <a class="next-btn" rel="noindex nofollow"><span class="me-2">Next</span><img
                        src="https://qureskincaredns.com/new/assets/arrow-next.png" alt=""></a>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const letStartBtn = document.querySelector('.let_start');
        const firstBox = document.getElementById('first__box');
        const progressContainer = document.querySelector('.progress__containerGroup');
        const tablinks = document.querySelectorAll('.tablinks');

        const progress_step = document.querySelectorAll('.progress_step');
        const tabcontents = document.querySelectorAll('.tabcontent');
        const tabButton = document.querySelector('.tab_button');
        const previewBtn = document.querySelector('.preview-btn');
        const nextBtn = document.querySelector('.next-btn');
        const firstBoxTab = document.querySelector('.first__box');

        progressContainer.style.display = 'none';
        tabButton.style.display = 'none';

        letStartBtn.addEventListener('click', function () {
            firstBox.style.display = 'none';
            progressContainer.style.display = 'block';
            tabButton.style.display = 'flex';
            showTab(tablinks[0].getAttribute('href').substring(1));
            updateButtonVisibility();


            $(window).scrollTop($(".tabing-new").offset().top - 100); // Scroll to the top of the section
            return false;
        });

        firstBoxTab.addEventListener('click', function () {
            firstBox.style.display = 'block';
            progressContainer.style.display = 'none';
            tabButton.style.display = 'none';
        });

        function showTab(tabId) {
            tabcontents.forEach(tabcontent => {
                if (tabcontent.id === tabId) {
                    tabcontent.style.display = 'block';
                } else {
                    tabcontent.style.display = 'none';
                }
            });
            updateActiveTab(tabId);
            progressContainer.style.display = 'block';
            tabButton.style.display = 'flex';
            firstBox.style.display = 'none';
        }

        function prevTab() {
            let currentIndex = Array.from(tablinks).findIndex(tablink => tablink.classList.contains('active'));
            currentIndex--;
            if (currentIndex < 0) {
                currentIndex = 0;
            }
            showTab(tablinks[currentIndex].getAttribute('href').substring(1));
            updateButtonVisibility();
            addActiveClassToProgressStep(currentIndex);
        }

        // Go to the next tab
        function nextTab() {
            let currentIndex = Array.from(tablinks).findIndex(tablink => tablink.classList.contains('active'));
            currentIndex++;
            if (currentIndex >= tablinks.length) {
                currentIndex = tablinks.length - 1;
            }
            showTab(tablinks[currentIndex].getAttribute('href').substring(1));
            updateButtonVisibility();
            addActiveClassToProgressStep(currentIndex);
        }
        function updateButtonVisibility() {
            const currentTabId = Array.from(tablinks).find(tablink => tablink.classList.contains('active')).getAttribute('href').substring(1);
            const currentIndex = Array.from(tablinks).findIndex(tablink => tablink.classList.contains('active'));

            if (currentIndex === 0) {
                previewBtn.classList.add('hide');
            } else {
                previewBtn.classList.remove('hide');
            }

            console.log("total length = ", tablinks.length);
            console.log("current Index = ", currentIndex);

            if (currentIndex === 3) {
                nextBtn.style.display = 'none';
                previewBtn.classList.add('showLast');
            } else {
                nextBtn.style.display = 'block';
                previewBtn.classList.remove('showLast');
            }
        }

        function updateActiveTab(tabId) {
            tablinks.forEach(tablink => {
                if (tablink.getAttribute('href').substring(1) === tabId) {
                    tablink.classList.add('active');
                    tablink.parentElement.classList.add('active');
                } else {
                    tablink.classList.remove('active');
                    tablink.parentElement.classList.remove('active');
                }
            });
        }
        function addActiveClassToProgressStep(index) {
            progress_step.forEach((step, i) => {
                if (i === index) {
                    step.classList.add('active');
                } else {
                    step.classList.remove('active');
                }
            });
        }
        previewBtn.addEventListener('click', function () {
            prevTab();
        });
        nextBtn.addEventListener('click', function () {
            nextTab();
        });

        // Event listener for tab links
        tablinks.forEach((tablink, index) => {
            tablink.addEventListener('click', function (event) {
                event.preventDefault();
                const tabId = this.getAttribute('href').substring(1);
                showTab(tabId);
                updateButtonVisibility();
                const parentProgressStep = tablink.closest('.progress_step');
                if (parentProgressStep) {
                    progress_step.forEach(step => step.classList.remove('active'));
                    parentProgressStep.classList.add('active');
                }
            });
        });

        $(document).on("click", ".tablinks", function () {
            event.preventDefault();
            const tabId = this.getAttribute('href').substring(1);
            showTab(tabId);
            updateButtonVisibility();
            const parentProgressStep = this.closest('.progress_step');
            if (parentProgressStep) {
                progress_step.forEach(step => step.classList.remove('active'));
                parentProgressStep.classList.add('active');
            }
        });
    });


</script>

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>