<main class="stocklist">
    <!-- -- main banner start -- -->
    <div class="main_banner">
        <picture>
            <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/distributor_desk.png" width="90" height="31">
            <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/distributor_desk.png" width="90" height="31">
            <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/distributor_desk.png" width="90" height="31">
            <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/distributor_desk.png" width="90" height="31">
            <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/distributor_mob.png" width="90" height="31">
            <img src="https://qureskincaredns.com/new/assets/distributor_mob.png" width="374" height="453" alt="" class="img-fluid">
        </picture>
        <div class="main_b_wrapper bg_gradient_mob text-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-8">
                        <div class="banner_content">
                            <div class="section_header">
                                <h1 class="title-xl text-center">Will you be our next professional partner?</h1>

                                <div class="btn-auto mw-100 mt-3 mt-md-5">
                                    <a href="" class="btn_white buy_btn mw-394">Submit
                                        stockist enquiry<img src="https://qureskincaredns.com/new/assets/arrow_right_black.svg"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -- main banner end -- -->

    <!-- -- press slider start -- -->
    <div class="press_bl">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 d-none d-md-block">
                    <div class="p_bl_header">
                        <p>FEATURED IN</p>
                    </div>

                </div>
                <div class="col-lg-10">
                    <div class="press_slider press_slider_row2">
                        <div class="ps_wrapper">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="ps_wrapper pb-3 pb-md-0">
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/vogue.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/elle.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/glamour.svg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="ps_wrapper">
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/grazia.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/cosmopolitan.svg" alt="" class="img-fluid">
                                        </div>
                                        <div class="ps_item">
                                            <img src="https://qureskincaredns.com/new/assets/bazaar.png" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- -- press slider end -- -->

    <!-- -- skincare revolution start -- -->
    <div class="revolution section">
        <div class="container">
            <div class="section_header text-center">
                <h2 class="title-lg paddingB">Qure’s Professional Skincare Revolution</h2>
                <p>Using science-backed technology, research, and forward-focused insights, Qure creates visionary
                    solutions, setting the new benchmark in the beauty industry.</p>

                <p>Bringing together world-class experts with product designers and engineers, we disrupt the
                    dermatologist industry and question how we can give power to people to teat their own skin from
                    home
                    with proven DIY therapies for an affordable price.</p>

                <p>Gain maximum advantage of the industry’s consistent growth.</p>

                <p>Join the revolution and ecome our professional partner.</p>
            </div>
        </div>
    </div>
    <!-- -- skincare revolution end -- -->

    <!-- -- stocklist ftr start -- -->
    <div class="stocklist_ftr">
        <div class="s_f_wrapper">
            <div class="s_f_item">
                <div class="s_f_num">↑25.1%</div>
                <p class="d-none d-md-block">Growth of home
                    beauty devices</p>
                <p class="d-block d-md-none">Growth of home<br>
                    beauty devices</p>
            </div>
            <div class="s_f_item active">
                <div class="s_f_num">↑ 5.1%</div>
                <p class="d-none d-md-block">Growth of light
                    therapy market </p>
                <p class="d-block d-md-none">Growth of light<br>
                    therapy market </p>
            </div>
            <div class="s_f_item">
                <div class="s_f_num">↑5.6%</div>
                <p class="d-none d-md-block">Growth of blue light therapy market, driven by preference for
                    non-invasive acne treatment</p>
                <p class="d-block d-md-none">Blue light therapy<br>
                    non-invasive acne<br> treatment</p>
            </div>
            <div class="s_f_item">
                <div class="s_f_num">↑4.5%</div>
                <p class="d-none d-md-block">Growth of red light therapy market driven by demand of non-invasive
                    skin rejuvenation
                    treatment</p>
                <p class="d-block d-md-none">Red light therapy<br>
                    non-invasive skin<br> rejuvenation treatment</p>
            </div>
        </div>
    </div>
    <!-- -- stocklist ftr end -- -->

    <!-- -- stocklist form start - -->
    <div class="stocklist_form">
        <div class="container">
            <form>
                <div class="qure_input">
                    <input type="text" id="s_name" class="qure_input_field" placeholder="Name">
                </div>
                <div class="qure_input">
                    <input type="text" id="s_company" class="qure_input_field" placeholder="Company Name">
                </div>
                <div class="qure_input">
                    <input type="number" id="s_pNumber" class="qure_input_field" placeholder="Phone Number">
                </div>
                <div class="qure_input">
                    <input type="email" id="s_email" class="qure_input_field" placeholder="Email">
                </div>
                <div class="qure_input">
                    <input type="text" id="s_location" class="qure_input_field"
                        placeholder="Location(City & Country)">
                </div>
                <div class="qure_input">
                    <input type="text" id="s_website" class="qure_input_field" placeholder="Website URL">
                </div>
                <div class="qure_input">
                    <input type="text" id="s_company" class="qure_input_field" placeholder="Company Name">
                </div>
                <div class="qure_form_btn my-4 d-block">
                    <button type="submit" class="btn btn-lg btn-primary buy_btn">Submit Now<img
                            src="https://qureskincaredns.com/new/assets/arrow_right.svg">
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- -- stocklist form end - -->
</main>