{% comment %} 
https://www.qureskincare.com/pages/q-urify-water-filter-guide
{% endcomment %}

<!-- Safety Banner -->
<section class="safety-banner">
  <picture>
    <source media="(min-width:1920px)" srcset="https://qureskincaredns.com/new/assets/qurify-banner_n.webp" width="1903" height="727">
    <source media="(min-width:1600px)" srcset="https://qureskincaredns.com/new/assets/qurify-banner_n.webp" width="1903" height="727">
    <source media="(min-width:1100px)" srcset="https://qureskincaredns.com/new/assets/qurify-banner_n.webp" width="1903" height="727">
    <source media="(min-width:720px)" srcset="https://qureskincaredns.com/new/assets/qurify-banner_n.webp" width="1903" height="727">
    <source media="(min-width:540px)" srcset="https://qureskincaredns.com/new/assets/qurify-banner-mob.webp" width="125" height="106">
    <img src="https://qureskincaredns.com/new/assets/qurify-banner-mob.webp" width="125" height="106" alt="" class="img-fluid bg_banner">
  </picture>
  <div class="safety-banner-cnt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="offset-md-7 col-md-5 col-10 p-0">
          <div class="safety-banner-cont">
            <h1>Tap into purified water for better skin.</h1>
            <h6>Q-urify Water Filter Guide</h6>
            <p>Installation and Replacement Procedures</p>
            <div class="new-class d-none d-md-block">
              <img src="https://qureskincaredns.com/new/assets/qurify-sm.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Safety Banner -->

<div class="instruction">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="instruction_manual">
          <p>Please read the complete instruction manual carefully before installing and using your Q-urify Water
            Filter. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="see_work swiper-slide video_popup my-4 my-md-0">
          <img src="https://qureskincaredns.com/new/assets/qurify-install.png" alt="" class="img-fluid">
          <div class="play_btn">
            <a class="popup-youtube">
              <div class="wistia_responsive_padding" style="position:relative;">
                <div class="wistia_responsive_wrapper d-none d-md-block"
                  style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                    class="wistia_embed wistia_async_smsirpr65t popover=true videoFoam=true"
                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="d-none d-md-block">
                  <h6 class="d-none d-md-block">Install the device</h6>
                </span>

                <div class="wistia_responsive_wrapper d-block d-md-none"
                  style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                    class="wistia_embed wistia_async_ss5m8edgyd popover=true videoFoam=true"
                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="d-block d-md-none">
                  <h6 class="d-block d-md-none">Install the Q-urify Filter </h6>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="see_work swiper-slide video_popup">
          <img src="https://qureskincaredns.com/new/assets/qurify-replace.png" alt="" class="img-fluid">
          <div class="play_btn">
            <a class="popup-youtube">
              <div class="wistia_responsive_padding" style="position:relative;">
                <div class="wistia_responsive_wrapper"
                  style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                    class="wistia_embed wistia_async_o6cw529pju popover=true videoFoam=true"
                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="d-none d-md-block">
                  <h6 class="d-none d-md-block">Replace the filter</h6>
                </span>

                <div class="wistia_responsive_wrapper d-block d-md-none"
                  style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                    class="wistia_embed wistia_async_1ipo9ws6ch popover=true videoFoam=true"
                    style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span>
                </div>

                <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="" class="d-block d-md-none">
                  <h6 class="d-block d-md-none">Replace the cartridge</h6>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tab View  -->

<section class="contents">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="contents-title">Contents</h2>
        <div class="contents-info">
          <div class="tab">
            <ul>
              <li><span>01</span> <a class="tablinks active" href="#London" data-count="1"
                  onclick="Safety(event, 'London')">Recommendations of use</a></li>
              <li><span>02</span> <a class="tablinks" href="#Paris" data-count="2"
                  onclick="Safety(event, 'Paris')">Q-urify
                  Water Filter overview</a></li>
              <li><span>03</span> <a class="tablinks" href="#Tokyo" data-count="3"
                  onclick="Safety(event, 'Tokyo')">What’s
                  included</a></li>
              <li><span>04</span> <a class="tablinks" href="#Tokyo_4" data-count="4"
                  onclick="Safety(event, 'Tokyo_4')">Faucets
                  not supported</a></li>
              <li><span>05</span> <a class="tablinks" href="#Tokyo_5" data-count="5"
                  onclick="Safety(event, 'Tokyo_5')">Disassemble the faucet aerator</a></li>
              <li><span>06</span> <a class="tablinks" href="#Tokyo_6" data-count="6"
                  onclick="Safety(event, 'Tokyo_6')">How to
                  install the Q-urify Water Filter</a></li>
              <li><span>07</span> <a class="tablinks" href="#Tokyo_7" data-count="7"
                  onclick="Safety(event, 'Tokyo_7')">Universal joint</a></li>
              <li><span>08</span> <a class="tablinks" href="#Tokyo_8" data-count="8"
                  onclick="Safety(event, 'Tokyo_8')">How to
                  replace the Q-urify Water filter cartridge </a></li>
              <li><span>09</span> <a class="tablinks" href="#Tokyo_9" data-count="9"
                  onclick="Safety(event, 'Tokyo_9')">Filter
                  Maintenance</a></li>
              <li><span>10</span> <a class="tablinks" href="#Tokyo_10" data-count="10"
                  onclick="Safety(event, 'Tokyo_10')">FAQ’s</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="tabing-new">
  <div class="tab">
    <button class="tablinks" onclick="Safety(event, 'London')">1</button>
    <button class="tablinks" onclick="Safety(event, 'Paris')">2</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo')">3</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_4')">4</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_5')">5</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_6')">6</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_7')">7</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_8')">8</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_9')">9</button>
    <button class="tablinks" onclick="Safety(event, 'Tokyo_10')">10</button>
  </div>
  <div class="tab_slider">
    <div id="introduction" class="tabcontent" style="display:block;">
      <div class="tab_con">
        <div class="tab_section_header">
          <h2> Why you’ll love Q-urify Water Filter</h2>
        </div>
        <div class="tab_img_text">
          <div class="tab_img">
            <p class="d-block d-md-none">Q-urify Water Filter reduces skin irritants like calcium and magnesium from
              your tap water to help maintain the integrity of your skin barrier for healthier, clearer, more
              hydrated skin. </p>
            <img src="https://qureskincaredns.com/new/assets/qurify-main.png" alt="" class="img-fluid w-100">
          </div>
          <div class="tab_text">
            <p class="d-none d-md-block pb-4">Q-urify Water Filter reduces skin irritants like calcium and magnesium
              from your tap water to help maintain the integrity of your skin barrier for healthier, clearer, more
              hydrated skin. </p>

            <p>It’s easy to install, and the filter only needs to be replaced once every 3 months.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="London" class="tabcontent" style="display:block;">
      <div class="tab_con tab_con_1 mw-768">
        <div class="num_box">
          <h6 class="num_tab">1</h6>
        </div>
        <div class="tab_section_header">
          <h2>Recommendations of use</h2>
        </div>
        <div class="guideline_content">
          <div class="guideline_left">
            <p>
              This manual gives information about the safe use of the Qure™ Q-urify Water Filter. It is the
              responsibility of the user to carefully read all information presented in this manual and guide before
              starting to use the Qure™ Q-urify Water Filter. It is always the responsibility of the user to adhere
              to the instructions in this manual. Keep this Instruction for use so it’s always accessible.
            </p>
          </div>
          <div class="guideline_right">
            <p>
              <span>DISCLAIMER</span>Qure Skincare Pty Ltd or its representatives hold no responsibility for
              treatment outcomes as individual results may vary. Qure™ Q-urify Water Filter is not designed to cure
              diseases, and is to be used as directed.
            </p>
          </div>
        </div>
        <p class="care_des">
          To ensure a safe and effective experience, please read and understand the following disclaimers before
          using the Q-urify Water Filter.
          <span id="dots"></span>
          <button onclick="myFunction()" id="myBtn">Read more</button>
        <div id="more">
          <div class="care_detail">
            <div class="care_content">
              <h6>Water Quality Variability:</h6>
              <p>The effectiveness of the filter may vary based on the tap water quality in different locations.
                It
                may not remove all impurities or contaminants, and users should be aware of these limitations.
              </p>
              <h6>Maintenance Requirements:</h6>
              <p>
                Follow the maintenance and replacement schedule outlined in this user manual. Failure to do so may
                compromise the filter's effectiveness.
              </p>
              <h6>Not a Medical Device:</h6>
              <p>
                This tap water filter is not a medical device. It is not a substitute for professional medical
                advice
                or treatment. Seek guidance from a healthcare professional for specific skin concerns.
              </p>
              <h6>Manufacturer's Liability:</h6>
              <p>The manufacturer's liability is limited. We are not responsible for any skin reactions, damages,
                or
                other issues that may arise from the use of this product.</p>
              <h6>Discontinue Use if Issues Arise:</h6>
              <p>Discontinue use and seek professional advice if you experience any skin irritation, redness, or
                other
                adverse reactions.</p>
            </div>
            <div class="care_content">
              <h6>Intended Use:</h6>
              <p>
                This filter is intended for skincare purposes only. Do not use it for drinking water or other
                non-skincare applications.
              </p>
              <h6>Skin Sensitivity:</h6>
              <p>
                Users with sensitive skin or skin conditions should consult with a dermatologist before using the
                filtered water for skincare, as individual skin reactions can vary.
              </p>
              <h6>Regulatory Compliance:</h6>
              <p>Ensure that the tap water filter complies with relevant regulatory standards for skincare
                devices.
                Check for certifications and testing conducted to meet these standards.</p>
              <h6>Proper Installation:</h6>
              <p>Properly install and use the filter according to the provided instructions. Incorrect
                installation
                may affect the performance of the filter.</p>
              <p class="customer_support">Please contact our customer support if you have any questions or
                concerns.
                Thank you for choosing our product, and we hope it enhances your skincare routine.</p>
              <h6>CONTACT DETAILS</h6>
              <p class="customer_support">Qure Skincare Pty Ltd<br>
                Sydney, NSW 2000<br>
                Australia<br>
                Phone: +1 240 702 2228<br>
                Email: support@qureskincare.com<br>
                Website: <a href="www.qureskincare.com"
                  style="text-decoration: underline;cursor: pointer;">www.qureskincare.com</a></p>
            </div>
          </div>
        </div>
        </p>


      </div>
    </div>
    <div id="Paris" class="tabcontent">
      <div class="tab_con tab_con_2">
        <div class="num_box">
          <h6 class="num_tab">2</h6>
        </div>
        <h2>Q-urify Water Filter overview</h2>
        <div class="tab_step2">
          <img src="https://qureskincaredns.com/new/assets/filter_overview.webp" alt="" class="img-fluid d-none d-md-block">
          <img src="https://qureskincaredns.com/new/assets/filter_overview-mob.webp" alt="" class="img-fluid d-block d-md-none">
        </div>
      </div>
    </div>
    <div id="Tokyo" class="tabcontent">
      <div class="tab_con tab_con_3 mw-768">
        <div class="num_box">
          <h6 class="num_tab">3</h6>
        </div>
        <div class="tab_section_header">
          <h2>What’s included</h2>
        </div>
        <div class="unique_c_list_block">
          <div class="unique_c_list">
            <ul>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part1.svg" alt=""></span>Key
                for Removal<span class="pc_numbr">1pc</span></li>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part2.svg" alt=""></span>Universal joint<span
                  class="pc_numbr">1pc</span></li>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part3.svg" alt=""></span>Silicone rings<span
                  class="pc_numbr">4pcs</span></li>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part4.svg" alt=""></span>Faucet thread accessories<span
                  class="pc_numbr">7pcs</span></li>
            </ul>
          </div>
          <div class="step_diffrent">
            <ul>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part5.svg" alt=""></span>Q-urify Water Filter<span
                  class="pc_numbr">1pc</span></li>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part6.svg" alt=""></span>Filter cartridge<span
                  class="pc_numbr">1pc</span></li>
              <li><span><img src="https://qureskincaredns.com/new/assets/qurify-part7.svg" alt=""></span>User
                Manual<span class="pc_numbr">1pc</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_4" class="tabcontent">
      <div class="tab_con tab_con_4">
        <div class="num_box">
          <h6 class="num_tab">4</h6>
        </div>
        <div class="tab_section_header">
          <h2>Faucets not supported</h2>
          <p>
            Q-urify Water Filter is currently compatible with almost all faucets with a circular tip.  Although we
            have supplied enough faucet thread accessories to match the majority of faucets, some still may not be
            supported, as shown below: 
          </p>
        </div>
        <div class="frame_img_box">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_1.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_2.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_3.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_4.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_5.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_6.webp" alt="" class="img-fluid">
          <img src="https://qureskincaredns.com/new/assets/qurify_faq_7.webp" alt="" class="img-fluid">
        </div>
        <div class="care_detail">
          <div class="care_content">
            <h6>The length of the spout </h6>
            <p>The length of the spout is below 15mm</p>
            <p>The length of the spout is over 25mm</p>
          </div>
          <div class="care_content">
            <h6>Sensor faucet</h6>
            <h6>Square or differently shaped faucet</h6>
            <h6>The diameter of the thread does not match</h6>
            <p>
              The bubble covers over 22mm
            </p>
          </div>
        </div>
      </div>
    </div>


    <div id="Tokyo_5" class="tabcontent">
      <div class="tab_con tab_con_5">
        <div class="num_box">
          <h6 class="num_tab">5</h6>
        </div>
        <div class="tab_section_header">
          <h2>Disassemble the faucet aerator</h2>
        </div>
        <div class="care_detail">
          <div class="care_content">
            <p class="customer_support">In order to install the Q-urify Water Filter, the faucet aerator needs to be
              removed. Most faucet aerators can be removed easily by twisting it off using your hand. 
            </p>
            <p class="customer_support">
              In case you need extra help, use the key for removal provided with your Q-urify Water Filter. It comes
              with 4 different sizes to match your faucet. Once you find the one that fits your faucet best, simply
              attach and twist it off using the key for removal.
            </p>
            <h6>DETAILS OF THE KEY FOR REMOVAL:</h6>
            <img src="https://qureskincaredns.com/new/assets/qurify-removal1.png">
          </div>
          <div class="care_content">
            <h6>HOW TO REMOVE</h6>
            <p>
              Select the size to match the faucet aerator.
            </p>
            <img src="https://qureskincaredns.com/new/assets/qurify-removal2.png">
            <p>
              Screw the key to remove and disassemble the faucet aerator.
            </p>
            <img src="https://qureskincaredns.com/new/assets/qurify-removal3.png">
            <p class="customer_support">After removing the faucet aerator, make sure to check that no part was left
              behind inside your tap, such as rubber bands used for support.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_6" class="tabcontent">
      <div class="tab_con tab_con_6">
        <div class="num_box">
          <h6 class="num_tab">6</h6>
        </div>
        <div class="tab_section_header">
          <h2>How to install the Q-urify Water Filter</h2>
        </div>
        <div class="micro_week">
          <div class="micro_left dekstop_view order-2 order-md-1">
            <div class="actVideo_block">
              <div class="ctmVideo__block">
                <div class="player">
                  <div class="wistia_responsive_padding" style="padding:177.78% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                      style="height:100%;left:0;position:absolute;top:0;width:100%;">
                      <div class="wistia_embed wistia_async_jbdi9ookdh seo=true videoFoam=true"
                        style="height:100%;position:relative;width:100%">
                        <div class="wistia_swatch"
                          style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                        </div>
                      </div>
                      <span><img src="https://qureskincaredns.com/new/assets/trusted_play_md.svg" alt="">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="micro_tips d-block">
              <span>tip:</span>
              <p>
                If none of the faucet thread accessories fit your faucet, then use the Universal Joint.<br><br>
                See the next page for instructions.
              </p>
            </div>
          </div>
          <div class="micro_right order-1 order-md-2">
            <div class="right_slider">
              <div class="mobile_micro-slider swiper swiper-container dot_pagination">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>1</span>FIND THE RIGHT ACCESSORY</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-1.png">
                        <ul>
                          <li>Find the faucet thread accessory which best fits your faucet by size from the 7
                            provided. Note: There is a mixture of both internal and external threaded accessories,
                            please test according to what suits your faucet.  If none of the faucet thread
                            accessories fit, then use the Universal Joint(<a class="tablinks" href="#Tokyo_7"
                              data-count="7" onclick="Safety(event, 'Tokyo_7')">refer
                              to section 7</a>)</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>2</span>MATCH THE SILICON RING</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-2.png">
                        <ul>
                          <li>Find the silicone ring that best fits and place it inside the faucet thread accessory.
                            This step is very important as it prevents any possible leakage inside the filter.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>3</span>DETACH THE MOUNTING NUT</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-3.png">
                        <ul>
                          <li>
                            Detach the mounting nut from the Q-urify Water Filter. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>4</span>ASSEMBLE THE DEVICE TO THE FAUCET</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-4.png">
                        <ul>
                          <li>Now it’s time to assemble the Q-urify Water Filter to your faucet. Put the faucet
                            thread accessory (with the silicone ring inside) through the mounting nut and secure it
                            onto your faucet. Make sure to secure it tightly to prevent any leakage. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>5</span>SECURE THE DEVICE</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-5.png">
                        <ul>
                          <li>
                            Once tightened, secure the Q-urify Water Filter to the mounting nut. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>6</span>FILTER VS. TAP</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-6.png">
                        <ul>
                          <li>For filtered water, pivot the switch to the upright position, where it clearly
                            indicates “PUR” (short for purify). Turn the switch to the horizontal position, marked
                            with “TAP,” if you prefer unfiltered water.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>7</span>ENJOY!</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab6-7.png">
                        <ul>
                          <li>
                            Enjoy healthier, clearer skin!</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_7" class="tabcontent">
      <div class="tab_con tab_con_6">
        <div class="num_box">
          <h6 class="num_tab">7</h6>
        </div>
        <div class="tab_section_header">
          <h2>Universal joint </h2>
          <p class="d-none d-md-block">If none of the faucet thread accessories fit your faucet, then use the
            Universal Joint. <br>It’s to help
            you install the Q-urify Water Filter to your circular faucet, regardless of its size. </p>
          <p class="d-block d-md-none text-left">If none of the faucet thread accessories fit your faucet, then use
            the
            Universal Joint. It’s to help
            you install the Q-urify Water Filter to your circular faucet, regardless of its size. </p>
        </div>
        <div class="micro_week">
          <div class="micro_left dekstop_view order-2 order-md-1">
            <div class="actVideo_block">
              <div class="ctmVideo__block">
                <div class="player">
                  <div class="wistia_responsive_padding" style="padding:177.78% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                      style="height:100%;left:0;position:absolute;top:0;width:100%;">
                      <div class="wistia_embed wistia_async_6xcrv0y6cq seo=false videoFoam=true"
                        style="height:100%;position:relative;width:100%">
                        <div class="wistia_swatch"
                          style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                          <img src="https://fast.wistia.com/embed/medias/6xcrv0y6cq/swatch"
                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
                            aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="micro_right order-1 order-md-2">
            <div class="right_slider">
              <div class="mobile_micro-slider swiper swiper-container dot_pagination">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>1</span>DETACH THE MOUNTING NUT</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab7-3.png">
                        <ul>
                          <li>
                            Detach the mounting nut from the Q-urify Water Filter. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>2</span>ADJUST THE RUBBER PIECES</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab7-2.png">
                        <ul>
                          <li>The Universal Joint comes with two rubber pieces inside which you can use to adjust
                            depending on the width of your faucet.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>3</span>FIND THE RIGHT ACCESSORY</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab7-1.png">
                        <ul>
                          <li>From the 7 faucet thread accessories provided, find the one that perfectly fits the
                            Universal Joint and put it aside.</li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>4</span>ASSEMBLE THE DEVICE TO THE FAUCET</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab7-4.png">
                        <ul>
                          <li>Place the faucet thread accessory through the mounting nut, and secure it onto the
                            Universal joint. Then secure the Universal joint onto your faucet using the metal strap.
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>5</span>SECURE THE DEVICE</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab7-5.png">
                        <ul>
                          <li>
                            Once tightened, secure the Q-urify Water Filter into the mounting nut. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_8" class="tabcontent">
      <div class="tab_con mw-1005 tab_con_6" id="Tokyo_8">
        <div class="num_box">
          <h6 class="num_tab">8</h6>
        </div>
        <div class="tab_section_header">
          <h2>How to replace the Q-urify Water filter cartridge </h2>
          <p>With daily use, it’s recommended to replace your Q-urify water filter every 3 months.  </p>
        </div>
        <div class="micro_week">
          <div class="micro_left dekstop_view order-2 order-md-1">
            <div class="actVideo_block">
              <div class="ctmVideo__block">
                <div class="player">
                  <div class="wistia_responsive_padding" style="padding:177.78% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper"
                      style="height:100%;left:0;position:absolute;top:0;width:100%;">
                      <div class="wistia_embed wistia_async_i3irixobev seo=false videoFoam=true"
                        style="height:100%;position:relative;width:100%">
                        <div class="wistia_swatch"
                          style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                          <img src="https://fast.wistia.com/embed/medias/i3irixobev/swatch"
                            style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt=""
                            aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="micro_right order-1 order-md-2">
            <div class="right_slider">
              <div class="mobile_micro-slider swiper swiper-container dot_pagination">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>1</span>OPEN THE DEVICE</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab8-1.png">
                        <ul>
                          <li>Remove the Filter tube cover on the left side of the filter by turning it away from
                            you, and separate it from the base. </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>2</span>remove the old cartridge</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab8-2.png">
                        <ul>
                          <li>Carefully remove the filter cartridge inside by slightly twisting and pulling it out
                            of the Q-urify Water Filter base, then dispose of it safely.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>3</span>prepare the replacement</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab8-3.png">
                        <ul>
                          <li>
                            Open the Q-urify Replacement Filter box and remove the seal from the Filter cartridge. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="micro_step">
                      <div class="micro_step_title"><span>4</span>secure the replacement to the device</div>
                      <div class="mico_bullet">
                        <img src="https://qureskincaredns.com/new/assets/qurify-tab8-4.png">
                        <ul>
                          <li>Press and slightly twist replacement filter cartridge into the Q-urify Water Filter
                            base. Once it’s secured, place the Filter Tube Cover back on by twisting towards you. 
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="micro_note">
                <span>Note:</span>
                <p>By having the switch in the horizontal position, marked with “TAP”, raw tap water will flow.<br>
                  For
                  filtered water, turn the diverter switch to the upright position, where it says “PUR”. <br>
                  Expect a small amount of carbon to flow through the tap as the carbon granules are activated.<br>
                  This
                  should clear in 5-10 seconds.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_9" class="tabcontent">
      <div class="tab_con tab_con_6 mw-768">
        <div class="num_box">
          <h6 class="num_tab">9</h6>
        </div>
        <div class="tab_section_header">
          <h2>Filter Maintenance</h2>
        </div>

        <div class="care_detail">
          <div>
            <div class="care_content">
              <h6>Cleaning the filter:</h6>
              <p>If the water flow slows significantly, please close the faucet and remove the filter cartridge. 
              </p>
              <p>Clean surface impurities with light sandpaper or steel brush, followed by rinsing with running
                water. </p>
            </div>
            <div class="micro_note">
              <span>Note:</span>
              <p>Do not use detergents or other cleaning products to clean the filter.</p>
            </div>
          </div>

          <div class="care_content">
            <h6>FILTER REPLACEMENT</h6>
            <p>
              To ensure clean, freshwater replace the filter regularly. Recommended filter replacement cycle is
              every 3 months. Where initial quality water is poor, a reduced cycle may be required to maintain
              filter performance. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="Tokyo_10" class="tabcontent">
      <div class="tab_con tab_con_10">
        <div class="num_box">
          <h6 class="num_tab">10</h6>
        </div>
        <div class="tab_section_header">
          <h2>Frequently Asked Questions</h2>
        </div>
        <div class="accordion-main">
          <div class="set-innner" id="accordion-no-dek-1">
            <a href="javascript:;">
              How often should I replace the filter cartridge?<i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>
                We recommend replacing the filter cartridge every 3 months to ensure optimal performance and
                maintain clean, purified water for your skincare routine. In areas with poor water quality, more
                frequent replacements may be necessary.
              </p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-2">
            <a href="javascript:;">Can I use the filtered water for drinking purposes?<i class="fa fa-plus"></i>
            </a>
            <div class="content">
              <p>No, the water filter is designed specifically for skincare purposes. Do not use the filtered water
                for drinking or other non-skincare applications.</p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-3">
            <a href="javascript:;"> What should I do if the water flow slows down significantly?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                If you experience a significant reduction in water flow, close the faucet, remove the filter
                cartridge, and clean the surface impurities using light sandpaper or a steel brush. Rinse thoroughly
                with running water. Do not use detergents or other cleaning products.
              </p>
            </div>
          </div>

          <div class="set-innner" id="accordion-no-dek-4">
            <a href="javascript:;">How do I replace the filter cartridge?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                Refer to the "Installation & Replacement of the Filter Element" section on section 9 of the user
                manual for detailed instructions on replacing the filter cartridge.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-13">
            <a href="javascript:;"> Is it normal for the water flow to vary based on my location?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                Yes, the effectiveness of the filter may vary depending on the tap water quality in different
                locations. The filter is designed to reduce impurities, but water conditions can differ.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-14">
            <a href="javascript:;"> Can I clean the filter cartridge with detergents or cleaning products?<i
                class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                No, it is not recommended to use detergents or other cleaning products to clean the filter. Clean
                surface impurities with light sandpaper or a steel brush and rinse with running water.
              </p>
            </div>
          </div>
          <div class="set-innner" id="accordion-no-dek-16">
            <a href="javascript:;">What if I have sensitive skin or a skin condition?<i class="fa fa-plus"></i> </a>
            <div class="content">
              <p>
                If you have sensitive skin or a skin condition, consult with a dermatologist before using the
                filtered water for skincare. Individual skin reactions can vary.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab_button" page-count>
      <a class="preview-btn" rel="noindex nofollow">
        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <mask id="mask0_8371_7407" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="22"
            height="20">
            <rect width="21.403" height="18.4" transform="matrix(-1 0 0 1 21.8018 0.800049)"
              fill="url(#pattern0)" />
          </mask>
          <g mask="url(#mask0_8371_7407)">
            <rect width="77.2038" height="74.2571" transform="matrix(-1 0 0 1 53.1406 -18.9146)" fill="black" />
          </g>
          <defs>
            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
              <use xlink:href="#image0_8371_7407" transform="matrix(0.00955212 0 0 0.0111111 0.0701545 0)" />
            </pattern>
            <image id="image0_8371_7407" width="90" height="90"
              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAABmJLR0QA/wD/AP+gvaeTAAABNUlEQVR4nO3cvUrDYABG4dMOVsHrVnDp4NTJe3AQL0lw84dOokM2rVokOZFwHsiclzMkGT4CSZIkSZIk+aszYAe8AI/AFbCZddFC7YD3T9cdxR7VCnjma+hiT+CJw6GLPbIt34cu9og2DDGLLTgBbvk59j1wOtfAJSm2qNiiYouKLSq2qNiiYouKLSq2qNiiYouKLSq2qNiiYouKLSq2qNiiYouKLSq2qNiiYos6pCM6JvblbOsW5rfHyIM5Zm3e7J95m3vAEhzz6LiYbd1C9DIU9HknKLKgyIIiC4osKLKgyIIiC4osKLKgyIIiC4osKLKgyIIiC4osKLKgyIIiC4osKLKgyIIiCzrcIrmmyJNbA68UeXJrYE+RFTcUWXHOEHvP8IvjLUWe1GruAUmSJEmSZJE+AGOSDlfn8cwbAAAAAElFTkSuQmCC" />
          </defs>
        </svg>
        Previous
      </a>
      <a class="next-btn without_started" rel="noindex nofollow"><span>Next</span>
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Arrow_1_adc63b2f-961f-43c4-ad6c-b8c4215ebf93.png?v=1686664282">
      </a>
      <a class="next-btn lets_started" rel="noindex nofollow"><span>Let's Get Started</span>
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Arrow_1_adc63b2f-961f-43c4-ad6c-b8c4215ebf93.png?v=1686664282">
      </a>
    </div>
  </div>
</div>

<script src="https://fast.wistia.com/embed/medias/3ahwzg8wjz.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>