/* Start Side Cart: Upsell Carousel by samu3le*/
.my-floating-cart{
  position: absolute;
  top: 0;
  bottom: 0;
  display: none;

  .drawer__overlay{
    opacity: .8;
    z-index: 999;
  }
  
  form.my-cart { 
    @media screen and (min-width:1180px) and (min-height: 779px) {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        .my-cart__info{
          overflow-y: auto;
          flex: 1;
        }
      }
    }
    .custom_upsell {
      background:  #C8E6DC;
      padding: 14px 20px;
      display: block;
      .upsell_title {
        font-family: "Canela Web",sans-serif;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 28px; /* 200% */
        letter-spacing: 0.14px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        gap: 0;
        padding:0;
        margin-bottom: 8px;
      }
      > div{
        display: flex;
        align-items: flex-start;
        gap: 13px;
        height: auto;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
        @media screen and (min-width:768px){
          justify-content: center;
        }
        .upsell_main{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          background:  #C8E6DC;
          gap: 8px;
          padding: 0;
          border: none;
          flex: auto;
          max-height: 215px;
          height: 215px;
          max-width: 127px;
          width: 127px;

          > div{
            align-items: flex-start;
            gap: 8px;
          }
          .upsell_image{
            flex-direction: column;
            padding-top: 0;
            flex: 1;
            width: 100%;
            .upsell_product{
              max-width: none;
              /* background: #FFF; */
              width: 100%;
              height: auto;
              border-radius: 8px;
              display: flex;
              justify-content: center;

              img{
                max-width: 127px;
                max-height: 92px;
                width: 127px;
                height: 92px;
                background: #FFF;
                border-radius: 8px;
                object-fit: contain;
              }           
            }
            .upsell_content {
              display: flex;
              flex-direction: column;
              gap: 8px;
              padding:0;
              color: #000;
              font-family: "Canela Web",sans-serif;
              max-width: 127px;
              width: 100%;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 18px;
              letter-spacing: 0.14px;

              h4,
              p {
                width: 100%;
              }
              h4{
                color: #000;
                font-family: "Canela Web";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 128.571% */
                letter-spacing: 0.14px;
                opacity: 0.8;
              }
              p {
                opacity: 0.8;
                color: #000;
                font-family: Poppins;
                font-size: 10px;
                font-style: italic;
                font-weight: 400;
                line-height: 10px;
                letter-spacing: 0.1px;
              }
            }
          }
          .upsell_price{
            .upsell_amt{
              display: none;
            }
            a {
              color: #FFF;
              text-align: center;
              font-family: Poppins;
              font-size: 11px;
              font-style: normal;
              font-weight: 600;
              line-height: 18.683px; /* 169.849% */
              letter-spacing: 0.11px;
              width: auto;
              display: flex;
              align-items: center;
              padding: 6px 10px;
              .upsell_amt{
                display: flex;
                margin: 0;
                text-align: start;
                min-width: 0 !important;
                span{
                  color: #D7D9D9;
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 18.683px;
                  letter-spacing: 0.11px;
                  text-decoration-line: strikethrough;
                  -moz-text-decoration-line: strikethrough;
                }
                i{
                  color: #FFF;
                  text-align: center;
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 18.683px; /* 169.849% */
                  letter-spacing: 0.11px;
                }
              }
            }
          }
        }
      }
      > div::-webkit-scrollbar {
        display: none;
      }
      .align-slide{
        justify-content: flex-start;
      }
      @media screen and (min-width:1180px) and (min-height: 779px) {
        position: fixed;
        transform: translate(-100%, 0%);
        height: 100vh;
        display: inline-flex;
        flex-direction: column;
        gap: 22px;
        justify-content: center;
        overflow-y: hidden;
        background: transparent;
        padding-right: 1vw;
        .upsell_title{
          color: #FFF;
          font-size: 28px;
          font-style: normal;
          font-weight: 300;
          letter-spacing: 0.28px;
          margin-bottom: 0;
        }
        > div{
          gap: 20px;
          .upsell_main{
            max-width: 186px;
            width: 186px;
            padding: 12px;
            gap: 0;
            justify-content: space-between;
            border-radius: 8px;
            flex: 1;
            max-height: 281px;
            height: 281px;
            > div{
              gap: 18px;
            }
            .upsell_image{
              gap: 12px;
              max-height: 213px;
              .upsell_product{
                
                border-radius: 6px;
                img{
                  width: 162px;
                  max-width: 162px;
                  height: 108px;
                  max-height: 108px;
                  border-radius: 6px;
                  object-fit: contain;
                }
              }
              .upsell_content {
                display: flex;
                flex-direction: column;
                gap: 12px;
                max-width: none;
                width: 100%;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.16px;
                h4{
                  color: #000;
                  font-family: "Canela Web";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px; /* 125% */
                  letter-spacing: 0.16px;
                }
                p {
                  color: #000;
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 12px; /* 145.455% */
                }
              }
            }
            .upsell_price{
              margin-top: 0;
              justify-content: space-between;
              .upsell_amt{
                display: none;
              }
              a {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 18.683px; /* 169.849% */
                letter-spacing: 0.11px;
                width: auto;
                display: flex;
                align-items: center;
                .upsell_amt{
                  display: flex;
                  margin: 0;
                  text-align: start;
                  min-width: 0 !important;
                  span{
                    color: #D7D9D9;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18.683px;
                    letter-spacing: 0.11px;
                    text-decoration-line: strikethrough;
                    -moz-text-decoration-line: strikethrough;
                  }
                  i{
                    color: #FFF;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18.683px; /* 169.849% */
                    letter-spacing: 0.11px;
                  }
                }
              }
            }
          }
        }
        .align-slide{
          justify-content: space-between;
        }      
      }
      @media screen and (min-width:1203px) {
        padding-right: 80px;
      }
      .swiper-pagination{
        display: block;
        margin: 0px;
        @media screen and (min-width:1180px) and (min-height: 779px) {
          display: none;
        }
        .swiper-pagination-bullet {
          background: #FFF;
          opacity: 1;
        }
        .swiper-pagination-bullet-active{
          background: #000;
        }
      }
      
    }
    .custom_upsell.notVisible {
      display: none;
    }
  }
}  
@media screen and (min-width:1140px) {
  .cart_total-checkout .drawer__cart-checkout-btn {
    padding: 3px 20px;
  }
}

.my-floating-cart form.my-cart .custom_upsell .swiper-button-next,
.my-floating-cart form.my-cart .custom_upsell .swiper-button-prev{
display: none !important;
} 
