/* GENERAL CSS */
.hidden {
  display: none !important;
}

/* navbar fix for ab test */

.header-new.new-hp-header{
  width: 100%;
  max-width: none !important;
  padding: 5px 2rem !important;
}

.header-new .menu{
  justify-content: space-around;
}

.header-new .menu li {
  padding-right: 14px !important;
}


/* buttons banner abt test */

.btn-container-sunil {
  display: flex;
  gap: 10px;
}

 #btn-hero-sunil {
  width: 50% !important;
  font-size: 20px;
}

.order-home-sunil > p {
  visibility: hidden;
}

@media screen and (max-width: 768px) {

  /* navbar */
  .mobile-menu-custome ul#menu li.title:first-child {
    margin-top: 25px !important;
  }

  .mobile-menu-custome ul#menu li.title {
    margin-bottom: 22px!important;
  }

  /* hero */
  
  .btn-container-sunil{
    flex-direction: column;
  }
    
  #btn-hero-sunil{
    width: 100% !important;
  }

  .order-home-sunil{
    order: 1 !important;
  }

  
}


/* INFO CARD */

.info-card .info-card__mobile-image {
  display: none;
}
.info-card .info-card__desktop-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 768px) {

  .info-card .info-card__desktop-image {
    display: none;
  }

  .info-card .info-card__mobile-image {
    display: block;
  }
  
}
/* PDP Social Proof Data*/
.social-proof-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -20px;
  z-index: 99;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid #C92127;
  border-right: 1px solid #C92127;
  border-left: 1px solid #C92127;
  background: #D44D52;
  transform: translate(-50%, -50%);
  padding: 9px 12px 8px 16px;
  gap: 16px;
}
.social-proof-data-container.hidden { 
  display: none;
}
.social-proof-data-container .text-container { 
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 1px;
}
.social-proof-data-container .close-icon { 
  color: #870B0F;  
  cursor: pointer;
}
.social-proof-data-container .circle-container {
  position: relative;
  width: 20px; 
  height: 20px; 
}
.social-proof-data-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  background-color: #C8E6DC;
  border-radius: 50%;
}
.social-proof-data-container .shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(200, 230, 220); 
  animation: shine 2s linear infinite; 
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1); 
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
}

@media screen and (max-width: 768px) {
  .social-proof-data-container { 
    width: 85%;
    padding-bottom: 18px;
    bottom: -25px;
  }
  iframe#launcher.new-bottom { 
    bottom: 40px !important;
  }
  .button_sticky_wrapper.new-bottom { 
    bottom: 60px !important;
  }

}
@media screen and (max-width: 400px) {
  .social-proof-data-container { 
    bottom: -30px;
    padding-bottom: 18px;
    gap: 8px;
  }
}

/* ORDER BY RECEIVE BY */

.orderby-receiveby {
  display: flex;
  text-align: center;
  margin: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mi_refill1 .orderby-receiveby {
  margin-bottom: 0;
}

.orderby-receiveby svg {
  margin: 0 6px;
}

.orderby-receiveby .orderby-receiveby__today-text {
  margin-right: 6px;
}
.orderby-receiveby .orderby-receiveby__today-text,
.orderby-receiveby .orderby-receiveby__shipping-text {
  color:#000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 834px) {
  .orderby-receiveby .orderby-receiveby__today-text {
    margin-right: 6px;
  }
  .orderby-receiveby .orderby-receiveby__today {
    margin-right: 8px;
  }
  .orderby-receiveby .orderby-receiveby__today-text,
  .orderby-receiveby .orderby-receiveby__shipping-text {
    font-size: 12px;
    line-height: 16px;
  }
  .orderby-receiveby svg {
    margin: 0;
    width: 22px;
    height: 22px;
  } 
}

@media screen and (min-width: 767px) {
  .orderby-receiveby {
    display: none;
  }
}

/*   PDP: Before & After First Image  */

/* animatios */
@keyframes fadeInBa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#testing .container{
  max-width: 100%;
}

#testing .container .row .testingdiv{
  display: flex;
  justify-content: center;
}

/* main container */
.ba-main__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ba-main__container .main__wrapper{
  padding: 10px;
}

.ba-main__container .panel{
  display: none;
}

.ba-main__container .main__wrapper .panel__container{
  width: 100%;
  max-width: 550px;
  height: 100%;
  max-height: 472px;
}

@media screen and (max-width: 1024px){
  .ba-main__container .main__wrapper .panel__container{
    max-width: 500px;
  }  
}

@media screen and (max-width: 768px){
  .ba-main__container .main__wrapper .panel__container{
    max-width: calc(768px - (768px * 0.55 ));
  }
}

@media screen and (max-width: 425px){
  .ba-main__container .main__wrapper .panel__container{
    max-width: calc(425px - (425px * 0.1 ));
  }
}
@media screen and (max-width: 375px){
  .ba-main__container .main__wrapper .panel__container{
    max-width: calc(375px - (375px * 0.1 ));
  }
}
@media screen and (max-width: 320px){
  .ba-main__container .main__wrapper .panel__container{
    max-width: calc(320px - (320px * 0.1 ));
  }
}

.ba-main__container .panel.active{
  display: block;
  animation: fadeInBa 1s linear;
}

#info-product,
#info-result,
#info-derma{
  width: 100%;
  height: 472px;
}

@media screen and (max-width: 1024px){
  #info-product,
  #info-result,
  #info-derma{
    height: 430px;
  }
}
@media screen and (max-width: 768px){
  #info-product,
  #info-result,
  #info-derma{
    height: 315px;
  }
}
@media screen and (max-width: 320px){
  #info-product,
  #info-result,
  #info-derma{
    height: 265px;
  }
}

/* product - pdp */

#info-product .swiper-products{
  width: 100%;
  /* height: 472px; */
  max-height: 100%;
}

#info-product .img-fluid.tab_img{
 max-width: 94% !important;
}

#info-product .swiper-products .swiper-slide{
  margin-left: 20px;
}

#info-product .swiper-products .swiper-pagination-products{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
}

#info-product .swiper-products .swiper-pagination-products .swiper-pagination-bullet{
  height: 10px;
  width: 10px;
}

#info-product .swiper-products .swiper-pagination-products .swiper-pagination-bullet-active{
  background-color: black;
}


/* product - page */


/* real result element  */
#info-result .info-result__wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#info-result .swiper-info-result .swiper-slide {
  padding: 0 10px;
}

#info-result .swiper-info-result .swiper-pagination-real-result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#info-result .swiper-info-result .swiper-pagination-real-result .swiper-pagination-bullet{
  height: 10px;
  width: 10px;
}

#info-result .swiper-info-result .swiper-pagination-real-result .swiper-pagination-bullet-active{
  background-color: black;
}

/* video element */

#info-derma .derma-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#info-derma .video-container{
  padding: 10px;
  width: 100%;
  max-width: 600px;
  height: auto;
}

#info-derma .video-container .derma-video{
  width: 100%;
  height: auto;
  border-radius: 16px;
}
/* nav buttons */

.ba-main__container .selector-container{
  padding: 5px;
  width: 100%;
}


.ba-main__container .selector-container .nav-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.ba-main__container .selector-container .nav-wrapper .nav-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.ba-main__container  .selector-container .nav-wrapper .nav-item .nav-button{
  border: 1px solid #D0D0D0;
  width: 169px;
  height: 32px;
  border-radius: 40px;
  background-color: white;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.ba-main__container .selector-container .nav-wrapper .nav-item .nav-button:hover{
  background-color: black;
  color: white;
}

.ba-main__container .selector-container .nav-wrapper .nav-item .nav-button.active{
  background-color: black;
  color: white;
}

@media screen and (max-width: 1024px){
  .ba-main__container  .selector-container .nav-wrapper .nav-item .nav-button{
    width: 150px;
  }
  
}


@media screen and (max-width: 768px){
  .ba-main__container  .selector-container .nav-wrapper .nav-item .nav-button{
    width: 100%;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
  }
  
}

@media screen and (max-width: 320px){
  .ba-main__container  .selector-container .nav-wrapper .nav-item .nav-button{
    width: 100%;
    height: 42px;
    font-size: 10px;
  }
  
}



/* end PDP: Before & After First Image  */