/* landing purchase */


/* card */
  .panel-hidden{
      display: none;
    }

  .new-landing-purchase{
    /* input[type="radio"]{
      display: none;
    } */
    .purchase-card-container{
      border: 1px solid #C8E6DC;
      width: 304px;
      height: 600px;
        .card-img-container{
        width: 100%;
        height: 236px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  /* inputs */

  
  .inputs-mix{
    display: none;
  }
  .inputs-silver {
    display: none;
  }
  .inputs-gold {
    display: none;
  }
  .show-inputs{
    display: block;
  }




/* endcard */