/* GENERAL CSS */
.hidden {
  display: none !important;
}

/* navbar fix for ab test */

.header-new.new-hp-header{
  width: 100%;
  max-width: none !important;
  padding: 5px 2rem !important;
}

.header-new .menu{
  justify-content: space-around;
}

.header-new .menu li {
  padding-right: 14px !important;
}


/* buttons banner abt test */

.btn-container-sunil {
  display: flex;
  gap: 10px;
}

 #btn-hero-sunil {
  width: 50% !important;
  font-size: 20px;
}

.order-home-sunil > p {
  visibility: hidden;
}

@media screen and (max-width: 768px) {

  /* navbar */
  .mobile-menu-custome ul#menu li.title:first-child {
    margin-top: 25px !important;
  }

  .mobile-menu-custome ul#menu li.title {
    margin-bottom: 22px!important;
  }

  /* hero */
  
  .btn-container-sunil{
    flex-direction: column;
  }
    
  #btn-hero-sunil{
    width: 100% !important;
  }

  .order-home-sunil{
    order: 1 !important;
  }

  
}


/* INFO CARD */

.info-card .info-card__mobile-image {
  display: none;
}
.info-card .info-card__desktop-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 768px) {

  .info-card .info-card__desktop-image {
    display: none;
  }

  .info-card .info-card__mobile-image {
    display: block;
  }
  
}
/* PDP Social Proof Data*/
.social-proof-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -20px;
  z-index: 99;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid #C92127;
  border-right: 1px solid #C92127;
  border-left: 1px solid #C92127;
  background: #D44D52;
  transform: translate(-50%, -50%);
  padding: 9px 12px 8px 16px;
  gap: 16px;
}
.social-proof-data-container.hidden { 
  display: none;
}
.social-proof-data-container .text-container { 
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 1px;
}
.social-proof-data-container .close-icon { 
  color: #870B0F;  
  cursor: pointer;
}
.social-proof-data-container .circle-container {
  position: relative;
  width: 20px; 
  height: 20px; 
}
.social-proof-data-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  background-color: #C8E6DC;
  border-radius: 50%;
}
.social-proof-data-container .shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(200, 230, 220); 
  animation: shine 2s linear infinite; 
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1); 
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
}

@media screen and (max-width: 768px) {
  .social-proof-data-container { 
    width: 85%;
    padding-bottom: 18px;
    bottom: -25px;
  }
  iframe#launcher.new-bottom { 
    bottom: 40px !important;
  }
  .button_sticky_wrapper.new-bottom { 
    bottom: 60px !important;
  }

}
@media screen and (max-width: 400px) {
  .social-proof-data-container { 
    bottom: -30px;
    padding-bottom: 18px;
    gap: 8px;
  }
}

/* ORDER BY RECEIVE BY */

.orderby-receiveby {
  display: flex;
  text-align: center;
  margin: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mi_refill1 .orderby-receiveby {
  margin-bottom: 0;
}

.orderby-receiveby svg {
  margin: 0 6px;
}

.orderby-receiveby .orderby-receiveby__today-text {
  margin-right: 6px;
}
.orderby-receiveby .orderby-receiveby__today-text,
.orderby-receiveby .orderby-receiveby__shipping-text {
  color:#000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 834px) {
  .orderby-receiveby .orderby-receiveby__today-text {
    margin-right: 6px;
  }
  .orderby-receiveby .orderby-receiveby__today {
    margin-right: 8px;
  }
  .orderby-receiveby .orderby-receiveby__today-text,
  .orderby-receiveby .orderby-receiveby__shipping-text {
    font-size: 12px;
    line-height: 16px;
  }
  .orderby-receiveby svg {
    margin: 0;
    width: 22px;
    height: 22px;
  } 
}

@media screen and (min-width: 767px) {
  .orderby-receiveby {
    display: none;
  }
}

/* best seller section on homepage */
:root {
  --star-size: 20px;
  --star-color: #d9d9d9;
  --star-background: #3B8566
}
.best-seller-container { 
  max-width: 1380px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  position: relative;
}
.best-seller-section {
    margin: 0;
    background-color: #D7EBE3;
    position: relative;
    .best-seller-hidden {
      display: none;
    }
    .best-seller-wrapper {
      width: 100%;
      min-width: 320px;
      max-width: 1380px;
      padding-top: 80px;
      padding-bottom: 37px;
      position: unset;
      display: flex;
      flex-direction: column;
      gap: 48px;
      .title-btns-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .best-seller-wrapper__title {
          color: #000;
          font-family: "Canela Web",sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 300;
          line-height: 48px; 
          text-transform: capitalize;
        }
        .best-seller-wrapper__categories {
          display: flex;
          gap: 16px;
          .btn {
            height: 36px;
            display: flex;
            padding: 8px 32px;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background-color: #FFF;
            .label {
              color: #000;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px;
              letter-spacing: 0.16px;
            }
            &.active, &:hover {
              background-color: #000;
              .label {
                color: #fff;
              }
            }
          }

        }
      }
      .best-seller-wrapper__products-container {
        display: flex;
        .product-link {
          text-decoration: none;
          width: 308px !important;
          .product-wrapper {
            width: 308px !important;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            background-color: #fff !important;
            .images-container {
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                height: 238px;
                width: 100% !important;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                object-fit: cover;
                &:not(.hover-image) {
                  object-fit: contain;
                }
              }
            }
            .content-container {
              height: 312px;
              padding: 24px 16px;
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              display: flex;
              flex-direction: column;
              .product-title {
                color: #000;
                font-family: "Canela Web",sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                text-transform: capitalize;
                text-align: left;
              }
              .Stars {
                width: fit-content;
                margin-top: 8px;
                --percent: calc(var(--rating) / 5 * 100%);
                display: inline-block;
                font-size: var(--star-size);
                line-height: 1;
                &::before {
                  content: '★★★★★';
                  letter-spacing: 3px;
                  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
                .rating-value {
                  color: #000;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                  margin-left: 4px;
                }
              }
              .product-description {
                color: #000;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-top: auto;
                margin-bottom: auto;
                ul {
                  padding-inline-start: 20px;
                  margin-bottom: 0;
                  letter-spacing: 0;
                  li {
                    text-align: left;
                    list-style: disc;
                    letter-spacing: 0;
                  }
                }
              }
              .cta-button {
                display: flex;
                padding: 8px 32px;
                justify-content: center;
                align-items: center;
                align-self: stretch;
                border-radius: 100px;
                background: #000;
                .label {
                  color: #FFF;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px; 
                  letter-spacing: 0.16px;
                }
              }
            }
          }
        }
        &.not-slider {
          justify-content: center;
          gap: 16px;
          .product-link {
            margin-right: 0 !important;
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        transform: scale(0.5);
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
      }
      .swiper-pagination {
        bottom: 90px;
        .swiper-pagination-bullet-active {
          background-color: #000;
        }
      }
      .best-seller-wrapper__footer {
        padding-top: 48px;
        text-align: center;
        .btn {
          &:hover {
            text-decoration: none;
          }
          .label {
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; 
            letter-spacing: 0.16px;
            border-bottom: 1px solid #000;
            cursor: pointer;
          }
        }
        &.not-slider {
          padding-top: 0;
        }
      }
    }
}
[data-bestseller-c] {
  .best-seller-section {
    .best-seller-wrapper {
      .best-seller-wrapper__products-container { 
        .product-wrapper {
          .images-container {
            &:hover {
              .main-image {
                display: none;
              }
              .hover-image {
                display: block;
              }
            }
          }
          .content-container {
              height: 224px;
              padding-left: 24px;
              padding-right: 24px;
              padding-bottom: 0;
              .product-title {
                line-height: 32px;
                letter-spacing: .3px;
              }
              .product-description {
                display: none;
              }
             .cta-button {
              position: relative;
              bottom: 24px;
              margin-top: auto;
             }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .best-seller-container { 
    padding: 0;
  }
  .best-seller-section {
    .best-seller-wrapper {
      width: 100%;
      padding-top: 34px;
      padding-bottom: 34px;
      position: unset;
      gap: 24px;
      .title-btns-container {
        flex-direction: column;
        .best-seller-wrapper__title {
          font-weight: 400;
        }
        .best-seller-wrapper__categories {
          overflow-x: auto;
          scrollbar-width: 0;
          margin: 24px 0 0;
          padding-left: 24px;
          padding-right: 24px;
          .btn {
            flex-shrink: 0;
            padding: 8px 24px;
          }
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
      .swiper-button-next, .swiper-button-prev {
        display:none;
      }  
      .swiper-pagination-bullets {
        bottom: 65px;
        margin-bottom: 24px;
      }
    }
  }
}

/* bestseller-section test visibility */
.best-seller-section {
  display: none;
}
[data-bestseller-b] .best-seller-section,
[data-bestseller-c] .best-seller-section {
  display: block;
}

/* Start Side Cart: Upsell Carousel A/B/C by samu3le*/
@media screen and (min-width:1024px) {
  .cart_total-checkout .drawer__cart-checkout-btn {
    padding: 3px 20px;
  }
  .my-floating-cart {
    position: relative;
    z-index: 101;
  }
  .my-floating-cart form.my-cart{
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
  }
  .my-floating-cart form.my-cart .my-cart__info{
    overflow-y: auto;
    flex: 1;
  }
  .my-floating-cart form.my-cart .custom_upsell{
    position: fixed;
    transform: translate(-100%, 0%);
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    justify-content: center;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.80);
    padding-left: 100vw;
    padding-right: 80px;
  }
  .my-floating-cart form.my-cart .custom_upsell .upsell_title{
    color: transparent;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    margin: 0;
    width: 100%;
    position: relative;
  }
  .my-floating-cart form.my-cart .custom_upsell .upsell_title::before {
      content: 'Achieve your skin goals faster ';
      visibility: visible; /* Hace que el pseudo-elemento sea visible */
      color: #FFF;
      font-family: "Canela Web",sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.28px;
      position: absolute;
    }


  .my-floating-cart form.my-cart .custom_upsell .upsell_title span{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 4px 17px;
    height: auto;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.286px;
  }      
  .my-floating-cart form.my-cart .custom_upsell > div{
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main{
    display: flex;
    width: 170px;
    padding: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background:  #C8E6DC;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main > div{
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product{
    max-width: none;
    width: 145.8px;
    height: 108px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_product img{
    width: 145.8px;
    height: 108px;
  }
              
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content {
    max-width: 134px;
    padding:0;
    color: #000;
    width: 134px;
    font-family: "Canela Web",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.16px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_image .upsell_content h4{
    width: 100%;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_price a{
    width: auto;
    visibility: hidden;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_price a::after {
      content: 'Add +';
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 64.5px;
      height: 31px;
      padding: 6px 10.5px 6px 9px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 20px;
      background: #000;
      color:  #FFF;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 18.683px;
      letter-spacing: 0.13px;
  }
  .my-floating-cart form.my-cart .custom_upsell > div .upsell_main .upsell_price a > svg{
    display: none;
  }
}
/* End Side Cart: Upsell Carousel A/B/C by samu3le*/