/* GENERAL CSS */
.hidden {
  display: none !important;
}

/* navbar fix for ab test */

.header-new.new-hp-header{
  width: 100%;
  max-width: none !important;
  padding: 5px 2rem !important;
}

.header-new .menu{
  justify-content: space-around;
}

.header-new .menu li {
  padding-right: 14px !important;
}


/* buttons banner abt test */

.btn-container-sunil {
  display: flex;
  gap: 10px;
}

 #btn-hero-sunil {
  width: 50% !important;
  font-size: 20px;
}

.order-home-sunil > p {
  visibility: hidden;
}

@media screen and (max-width: 768px) {

  /* navbar */
  .mobile-menu-custome ul#menu li.title:first-child {
    margin-top: 25px !important;
  }

  .mobile-menu-custome ul#menu li.title {
    margin-bottom: 22px!important;
  }

  /* hero */
  
  .btn-container-sunil{
    flex-direction: column;
  }
    
  #btn-hero-sunil{
    width: 100% !important;
  }

  .order-home-sunil{
    order: 1 !important;
  }

  
}


/* INFO CARD */

.info-card .info-card__mobile-image {
  display: none;
}
.info-card .info-card__desktop-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 768px) {

  .info-card .info-card__desktop-image {
    display: none;
  }

  .info-card .info-card__mobile-image {
    display: block;
  }
  
}
/* PDP Social Proof Data*/
.social-proof-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -20px;
  z-index: 99;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid #C92127;
  border-right: 1px solid #C92127;
  border-left: 1px solid #C92127;
  background: #D44D52;
  transform: translate(-50%, -50%);
  padding: 9px 12px 8px 16px;
  gap: 16px;
}
.social-proof-data-container.hidden { 
  display: none;
}
.social-proof-data-container .text-container { 
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 1px;
}
.social-proof-data-container .close-icon { 
  color: #870B0F;  
  cursor: pointer;
}
.social-proof-data-container .circle-container {
  position: relative;
  width: 20px; 
  height: 20px; 
}
.social-proof-data-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  background-color: #C8E6DC;
  border-radius: 50%;
}
.social-proof-data-container .shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(200, 230, 220); 
  animation: shine 2s linear infinite; 
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1); 
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
}

@media screen and (max-width: 768px) {
  .social-proof-data-container { 
    width: 85%;
    padding-bottom: 18px;
    bottom: -25px;
  }
  iframe#launcher.new-bottom { 
    bottom: 40px !important;
  }
  .button_sticky_wrapper.new-bottom { 
    bottom: 60px !important;
  }

}
@media screen and (max-width: 400px) {
  .social-proof-data-container { 
    bottom: -30px;
    padding-bottom: 18px;
    gap: 8px;
  }
}

/* ORDER BY RECEIVE BY */

.orderby-receiveby {
  display: flex;
  text-align: center;
  margin: 20px 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mi_refill1 .orderby-receiveby {
  margin-bottom: 0;
}

.orderby-receiveby svg {
  margin: 0 6px;
}

.orderby-receiveby .orderby-receiveby__today-text {
  margin-right: 6px;
}
.orderby-receiveby .orderby-receiveby__today-text,
.orderby-receiveby .orderby-receiveby__shipping-text {
  color:#000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (max-width: 834px) {
  .orderby-receiveby .orderby-receiveby__today-text {
    margin-right: 6px;
  }
  .orderby-receiveby .orderby-receiveby__today {
    margin-right: 8px;
  }
  .orderby-receiveby .orderby-receiveby__today-text,
  .orderby-receiveby .orderby-receiveby__shipping-text {
    font-size: 12px;
    line-height: 16px;
  }
  .orderby-receiveby svg {
    margin: 0;
    width: 22px;
    height: 22px;
  } 
}

@media screen and (min-width: 767px) {
  .orderby-receiveby {
    display: none;
  }
}


/*   PDP: Before & After First Image  */
.before-after-original-component{
  display: block;
}

.ba-container{
  display: none;
}

@keyframes fadeInBa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body[data-before-after='b'],
body[data-before-after='c']{

  body.product.sunil-q-urify{
    #info-product{
      height: 472px;
      @media screen and (max-width: 768px){
        height: 350px;
      }
      @media screen and (max-width: 640px){
        height: 330px;
      }
      @media screen and (max-width: 375px){
        height: 310px;
      }
      @media screen and (max-width: 320px){
        height: 265px;
      }
      .swiper-products{
        width: 100%;
        .swiper-slide{
          height: 472px;
          @media screen and (max-width: 768px){
            height: 350px;
          }
          @media screen and (max-width: 375px){
            height: 330px;
          }
          @media screen and (max-width: 375px){
            height: 310px;
          }
          @media screen and (max-width: 320px){
            height: 265px;
          }
        }
        .swiper-slide .popup-youtube{
          height: 472px;
          @media screen and (max-width: 768px){
            height: 350px;
          }
          @media screen and (max-width: 640px){
            height: 330px;
          }
          @media screen and (max-width: 375px){
            height: 310px;
          }
          @media screen and (max-width: 320px){
            height: 265px;
          }
        #image-id{
          display: flex;
          width: 100%;
          height: 100%;
            .img-fluid{
              border-radius: 0 0 16px 16px;
              padding: 0 2px 2px 2px;
              object-fit: contain;
              max-width: fit-content;
              margin: 0 auto;
            }
          }
        }

        .banner-popup-link{
          #image-id{
            display: flex;
            width: 100%;
            height: 100%;
            .img-fluid{
              max-width: fit-content;
              margin: 0 auto;
              border-radius: 0 0 16px 16px;
              padding: 0 2px 2px 2px;
              object-fit: contain;
            
            }
          }
        }
        .banner-popup-link::before{
          content: none;
        }

        .swiper-pagination-products{
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          padding-bottom: 15px;
          z-index: 2;
          .swiper-pagination-bullet-active{
            background-color: black;
          }
        }
      }
    }

  }

  .before-after-original-component {
    display: none;
  } 

  .before-after-result-test{
    .container {
      max-width: 100%;
      .row {
        .before-after-main {
          display: flex;
          justify-content: center;
        }
      }
    }
  }



  /* main container */

  .ba-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ba-container-wrapper{
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 0 10px 10px 10px;
      @media screen and (max-width: 768px){
        gap: 8px;   
      }
      @media screen and (max-width: 640px){
        padding: 0px 0px 10px 0px;
      }
      .panel__container{
        width: 100%;
        max-width: 550px;
        height: 100%;
        max-height: 472px;
        @media screen and (max-width: 1024px){
          max-width: 500px;
        }
        @media screen and (max-width: 768px){
          max-width: calc(768px - (768px * 0.55 ));
        }
        @media screen and (max-width: 640px){
          max-width: calc(425px - (425px * 0.1 ));
        }
        @media screen and (max-width: 375px){
          max-width: calc(375px - (375px * 0.1 ));
        }
        @media screen and (max-width: 320px){
          max-width: calc(320px - (320px * 0.1 ));
        }
        .panel{
          display: none;
          &.active{
            display: block;
            animation: fadeInBa 1s linear;
          }
        }

        /* elements in panels */
        /* product */
          /* pdp */

          #info-product{
            height: 472px;
            @media screen and (max-width: 768px){
              height: 350px;
            }
            @media screen and (max-width: 640px){
              height: 330px;
            }
            @media screen and (max-width: 375px){
              height: 310px;
            }
            @media screen and (max-width: 320px){
              height: 265px;
            }
            .swiper-products{
              width: 100%;
              .swiper-slide{
                height: 472px;
                @media screen and (max-width: 768px){
                  height: 350px;
                }
                @media screen and (max-width: 640px){
                  height: 330px;
                }
                @media screen and (max-width: 375px){
                  height: 310px;
                }
                @media screen and (max-width: 320px){
                  height: 265px;
                }
              }
              .swiper-slide .popup-youtube{
                height: 472px;
                @media screen and (max-width: 768px){
                  height: 350px;
                }
                @media screen and (max-width: 640px){
                  height: 330px;
                }
                @media screen and (max-width: 375px){
                  height: 310px;
                }
                @media screen and (max-width: 320px){
                  height: 265px;
                }
              #image-id{
                display: flex;
                width: 100%;
                height: 100%;
                  .img-fluid{
                    border-radius: 0 0 16px 16px;
                    padding: 0 2px 2px 2px;
                    object-fit: contain;
                    max-width: fit-content;
                    margin: 0 auto;
                  }
                }
              }

              .banner-popup-link{
                #image-id{
                  display: flex;
                  width: 100%;
                  height: 100%;
                  .img-fluid{
                    max-width: fit-content;
                    margin: 0 auto;
                    border-radius: 0 0 16px 16px;
                    padding: 0 2px 2px 2px;
                    object-fit: cover;
                  
                  }
                }
              }
              .banner-popup-link::before{
                content: none;
              }

              .swiper-pagination-products{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding-bottom: 15px;
                z-index: 2;
                .swiper-pagination-bullet-active{
                  background-color: black;
                }
              }
            }
          }

          /* page */

          #info-product{
            height: 472px;
            @media screen and (max-width: 768px){
              height: 350px;
            }
            @media screen and (max-width: 640px){
              height: 330px;
            }
            @media screen and (max-width: 375px){
              height: 310px;
            }
            @media screen and (max-width: 320px){
              height: 265px;
            }
            .banner_img{
              width: 100%;
              height: 100%;
              .img-fluid{
                width: 100%;
                height: 100%;
                border-radius: 0 0 16px 16px;
                padding: 0 3px 3px 3px;
              }
            }
            .swiper-page-product{
              width: 100%;
              .swiper-slide{
                height: 472px;
                @media screen and (max-width: 768px){
                  height: 350px;
                }
                @media screen and (max-width: 640px){
                  height: 330px;
                }
                @media screen and (max-width: 375px){
                  height: 310px;
                }
                @media screen and (max-width: 320px){
                  height: 265px;
                }
              }
              .swiper-slide .banner-popup-link{
                .img-fluid{
                  border-radius: 0 0 16px 16px;
                  padding: 0 5px 5px 5px;
                }
              }
              .swiper-slide .banner-popup-link::before{
                content: none;
              }
              .swiper-pagination-product-page{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                padding-bottom: 15px;
                z-index: 2;
                .swiper-pagination-bullet-active{
                  background-color: black;
                }
              }
            }
          }
        /* end product */

        /* real-result */
        #info-result{
          height: 472px;
          @media screen and (max-width: 768px){
            height: 350px;
          }
          @media screen and (max-width: 640px){
            height: 330px;
          }
          @media screen and (max-width: 375px){
            height: 310px;
          }
          @media screen and (max-width: 320px){
            height: 265px;
          }
          .info-result__wrapper{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .swiper-info-result{
              .swiper-slide{
                padding: 0 10px;
              }
              .swiper-pagination-real-result{
                display: flex;
                justify-content: center;
                align-items: center;
                .swiper-pagination-bullet-active{
                  background-color: black;
                }
              }
            }
          }
        }

        /* video */
        #info-derma{
          height: 472px;
          @media screen and (max-width: 768px){
            height: 350px;
          }
          @media screen and (max-width: 640px){
            height: 330px;
          }
          @media screen and (max-width: 375px){
            height: 310px;
          }
          @media screen and (max-width: 320px){
            height: 265px;
          }
          .derma-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            .video-container{
              padding: 10px;
              width: 100%;
              max-width: 600px;
              height: auto;
              @media screen and (max-width: 640px){
                padding: 0;
              }
              .derma-video{
                width: 100%;
                height: auto;
                border-radius: 16px;
              }
            }
          }
        }
        /* end video */
        /* end elements in panels */

      }

      /* navigation */
      .selector-container{
        padding: 5px;
        width: 100%;
        .nav-wrapper{
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
          .nav-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            .nav-button{
              border: 1px solid #D0D0D0;
              width: 169px;
              height: 32px;
              border-radius: 40px;
              background-color: white;
              font-family: 'Poppins';
              font-size: 16px;
              font-weight: 400;
              line-height: 30px;
              color: black;
              @media screen and (max-width: 1024px){
                width: 150px;
              }
              @media screen and (max-width: 768px){
                width: 100%;
                height: 24px;
                font-size: 12px;
                line-height: 16px;
                padding: 0 10px;
              }
              @media screen and (max-width: 640px) {
                padding: 0 15px;
              }
              @media screen and (max-width: 375px) {
                padding: 0 10px;
              }
              @media screen and (max-width: 320px){
                width: 100%;
                height: 42px;
                font-size: 10px;
              }
              &:visited{
                color: black;
              }
              &:hover{
                background-color: black;
                color: white;
              }
              &.active{
                background-color: black;
                color: white;
              }
            }
          }
        }
      }
      /* end navigation */
    }
  }
}

/* end PDP: Before & After First Image  */

/* Start Side Cart: Upsell Carousel A/B/C by samu3le*/
.swiper.custom_upsell.variant_v{
  display: none;
}
body[data-variantb-upsell-carousel] {
  .custom_upsell.original_v {
    display: none !important;
  }
  .my-floating-cart{
    position: absolute;
    top: 0;
    bottom: 0;

    .drawer__overlay{
      opacity: .8;
      z-index: 999;
    }
    
    form.my-cart { 
      @media screen and (min-width:1180px) {
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        .my-cart__info{
          overflow-y: auto;
          flex: 1;
        }
      }
      .custom_upsell {
        background:  #C8E6DC;
        padding: 14px 20px;
        display: block;
        .upsell_title {
          font-family: "Canela Web",sans-serif;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px; /* 200% */
          letter-spacing: 0.14px;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          gap: 0;
          padding:0;
          margin-bottom: 8px;
        }
        > div{
          display: flex;
          align-items: flex-start;
          gap: 13px;
          height: auto;
          width: 100%;
          justify-content: space-between;
          margin-bottom: 10px;
          @media screen and (min-width:768px){
            justify-content: center;
          }
          .upsell_main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background:  #C8E6DC;
            gap: 8px;
            padding: 0;
            border: none;
            flex: auto;
            max-height: 215px;
            height: 215px;
            max-width: 127px;
            width: 127px;

            > div{
              align-items: flex-start;
              gap: 8px;
            }
            .upsell_image{
              flex-direction: column;
              padding-top: 0;
              flex: 1;
              width: 100%;
              .upsell_product{
                max-width: none;
                /* background: #FFF; */
                width: 100%;
                height: auto;
                border-radius: 8px;
                display: flex;
                justify-content: center;

                img{
                  max-width: 127px;
                  max-height: 92px;
                  width: 127px;
                  height: 92px;
                  background: #FFF;
                  border-radius: 8px;
                  object-fit: contain;
                }           
              }
              .upsell_content {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding:0;
                color: #000;
                font-family: "Canela Web",sans-serif;
                max-width: 127px;
                width: 100%;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0.14px;

                h4,
                p {
                  width: 100%;
                }
                h4{
                  color: #000;
                  font-family: "Canela Web";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 18px; /* 128.571% */
                  letter-spacing: 0.14px;
                  opacity: 0.8;
                }
                p {
                  opacity: 0.8;
                  color: #000;
                  font-family: Poppins;
                  font-size: 10px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 10px;
                  letter-spacing: 0.1px;
                }
              }
            }
            .upsell_price{
              .upsell_amt{
                display: none;
              }
              a {
                color: #FFF;
                text-align: center;
                font-family: Poppins;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 18.683px; /* 169.849% */
                letter-spacing: 0.11px;
                width: auto;
                display: flex;
                align-items: center;
                padding: 6px 10px;
                .upsell_amt{
                  display: flex;
                  margin: 0;
                  text-align: start;
                  min-width: 0 !important;
                  span{
                    color: #D7D9D9;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18.683px;
                    letter-spacing: 0.11px;
                    text-decoration-line: strikethrough;
                    -moz-text-decoration-line: strikethrough;
                  }
                  i{
                    color: #FFF;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18.683px; /* 169.849% */
                    letter-spacing: 0.11px;
                  }
                }
              }
            }
          }
        }
        > div::-webkit-scrollbar {
          display: none;
        }
        .align-slide{
          justify-content: flex-start;
        }
        @media screen and (min-width:1180px) {
          position: fixed;
          transform: translate(-100%, 0%);
          height: 100vh;
          display: inline-flex;
          flex-direction: column;
          gap: 22px;
          justify-content: center;
          overflow-y: hidden;
          background: transparent;
          padding-right: 1vw;
          .upsell_title{
            color: #FFF;
            font-size: 28px;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.28px;
            margin-bottom: 0;
          }
          > div{
            gap: 20px;
            .upsell_main{
              max-width: 186px;
              width: 186px;
              padding: 12px;
              gap: 0;
              justify-content: space-between;
              border-radius: 8px;
              flex: 1;
              max-height: 281px;
              height: 281px;
              > div{
                gap: 18px;
              }
              .upsell_image{
                gap: 12px;
                max-height: 213px;
                .upsell_product{
                  
                  border-radius: 6px;
                  img{
                    width: 162px;
                    max-width: 162px;
                    height: 108px;
                    max-height: 108px;
                    border-radius: 6px;
                    object-fit: contain;
                  }
                }
                .upsell_content {
                  display: flex;
                  flex-direction: column;
                  gap: 12px;
                  max-width: none;
                  width: 100%;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: 0.16px;
                  h4{
                    color: #000;
                    font-family: "Canela Web";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 125% */
                    letter-spacing: 0.16px;
                  }
                  p {
                    color: #000;
                    font-family: Poppins;
                    font-size: 11px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 12px; /* 145.455% */
                  }
                }
              }
              .upsell_price{
                margin-top: 0;
                justify-content: space-between;
                .upsell_amt{
                  display: none;
                }
                a {
                  color: #FFF;
                  text-align: center;
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 18.683px; /* 169.849% */
                  letter-spacing: 0.11px;
                  width: auto;
                  display: flex;
                  align-items: center;
                  .upsell_amt{
                    display: flex;
                    margin: 0;
                    text-align: start;
                    min-width: 0 !important;
                    span{
                      color: #D7D9D9;
                      font-family: Poppins;
                      font-size: 11px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 18.683px;
                      letter-spacing: 0.11px;
                      text-decoration-line: strikethrough;
                      -moz-text-decoration-line: strikethrough;
                    }
                    i{
                      color: #FFF;
                      text-align: center;
                      font-family: Poppins;
                      font-size: 11px;
                      font-style: normal;
                      font-weight: 600;
                      line-height: 18.683px; /* 169.849% */
                      letter-spacing: 0.11px;
                    }
                  }
                }
              }
            }
          }
          .align-slide{
            justify-content: space-between;
          }      
        }
        @media screen and (min-width:1203px) {
          padding-right: 80px;
        }
        .swiper-pagination{
          display: block;
          margin: 0px;
          @media screen and (min-width:1180px) {
            display: none;
          }
          .swiper-pagination-bullet {
            background: #FFF;
            opacity: 1;
          }
          .swiper-pagination-bullet-active{
            background: #000;
          }
        }
        
      }
      .custom_upsell.notVisible {
        display: none;
      }
    }
  }  
  @media screen and (min-width:1140px) {
    .cart_total-checkout .drawer__cart-checkout-btn {
      padding: 3px 20px;
    }
  }
}
.my-floating-cart form.my-cart .custom_upsell .swiper-button-next,
.my-floating-cart form.my-cart .custom_upsell .swiper-button-prev{
  display: none !important;
} 
body[data-variantc-upsell-carousel] {
  .custom_upsell.original_v{
    display: none !important;
  }
  .my-floating-cart{
    position: absolute;
    top: 0;
    bottom: 0;
    .drawer__overlay{
      opacity: .8;
      z-index: 999;
    }
    form.my-cart {
      display: flex;
      flex-direction: column;
      .my-cart__info{
        flex: min-content;
        height: auto;
      } 
      .custom_upsell {
        background:  #C8E6DC;
        padding: 14px 20px;
        width: 100%;
        max-height: none;
        height: auto;
        display: flex;
        flex-direction: column;
        height: 167px;
        min-height: 167px;
        .upsell_title {
          font-family: "Canela Web",sans-serif;
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px; /* 200% */
          letter-spacing: 0.14px;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          gap: 8px;
          padding-bottom: 8px;
          span{
            width: auto;
            height: auto;
            color: #FFF;
            text-align: right;
            font-size: 9px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px;
            padding: 0 4px;
          }
        }
        .swiper-wrapper{
          margin-bottom: 10px;
          display: flex;
          align-items: flex-start;
          gap: 10px;
          height: auto;
        }
        > div{
          .upsell_main{
            display: flex;
            width: 306px;
            height: 84px;
            max-width: 306px;
            max-height: 84px;
            padding: 12px;
            justify-content: center;
            align-items: center;
            gap: 0;
            justify-content: space-between;
            flex-shrink: 0;
            border-radius: 8px;
            background: #FFF;
            .upsell_image{
              display: flex;
              flex-direction: row;
              gap: 8px;
              flex: 1;
              width: 100%;
              height: 100%;
              .upsell_product {
                width: 42px;
                max-width: 42px;
                img{
                  width: 42px;
                  max-width: 42px;
                  max-height: 42px;
                  height: 42px;
                  object-fit: contain;
                }
              }
              .upsell_content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                padding: 0;
                flex: 1;
                gap: 0;
                h4{
                  align-self: stretch;
                  color: #000;
                  font-family: "Canela Web";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 18px; /* 128.571% */
                  opacity: 0.8;
                  width: auto;
                p{
                  width: auto;
                  color: #000;
                  font-family: Poppins;
                  font-size: 10px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 16px; /* 160% */
                  opacity: 0.8;
                }
              }
              }
            }
            .upsell_price {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: space-between;
              height: 100%;
              .upsell_amt{
                margin: 0;
                display: flex;
                text-align: start;
                justify-content: flex-end;
                span{
                  color: #C4C4C4;
                  text-align: right;
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 16px; /* 114.286% */
                  letter-spacing: 0.14px;
                  text-decoration-line: strikethrough;
                }
                i{
                  color: #000;
                  font-family: Poppins;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 16px;
                  letter-spacing: 0.14px;
                }
              }
              a {
                display: flex;
                width: 64px;
                height: 28px;
                padding: 4px 2px 5px 2px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 20px;
                background: var(--Black, #000);
                width: 60px;
                flex-shrink: 0;
                color: var(--Site-White, #FFF);
                text-align: center;
                font-family: Poppins;
                font-size: 11px;
                font-style: normal;
                font-weight: 600;
                line-height: 18.683px; /* 169.849% */
                letter-spacing: 0.11px;
                .upsell_amt{
                  display: none;
                }
              }
            }

        }
        .swiper-pagination{
          justify-content: center;
        }
        .swiper-pagination .swiper-pagination-bullet {
          opacity: 1;
        }
        .swiper-pagination .swiper-pagination-bullet-active {
          background: #FFF;
        }
      }
      .swiper-button-next::after,
      .swiper-button-prev::after{
        background: #C8E6DC;
      }
      .swiper-pagination-bullet {
        background: #FFF;
        opacity: 1;
      }
      .swiper-pagination-bullet-active{
        background: #000;
      }
      }
      .custom_upsell.notVisible {
        display: none;
      }
      @media screen and (min-width:769px){
      .swiper-button-disabled{
        opacity: 0;
      }
      .custom_upsell {
        background:  #C8E6DC;
        padding: 14px 20px 0 20px;
        height: 167px;
        min-height: 167px;
        .upsell_title {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 28px; /* 175% */
          letter-spacing: 0.16px;
          font-family: "Canela Web",sans-serif;
          span{
            color: #FFF;
            text-align: right;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 12px; /* 120% */
            color: #FFF;
            text-align: right;
            padding: 2px 4px;
            flex-shrink: 0;
            border-radius: 15.873px;
            background: #008763;
          }
        }
        .swiper-wrapper{
          gap: 12px;
          margin-bottom: 10px;
          .upsell_main{
            width: 384px;
            height: 98px;
            max-width: 384px;
            max-height: 98px;
            padding: 16px 12px;
            gap: 24px;
            .upsell_image{
              .upsell_product {
                width: 70px;
                max-width: 70px;
                img{
                  width: 70px;
                  max-width: 70px;
                  max-height: 70px;
                  height: 70px;
                  object-fit: contain;
                }
              }
              .upsell_content{
                h4{
                  align-self: stretch;
                  color: #000;
                  font-family: "Canela Web";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 20px; /* 125% */
                  opacity: 0.8;
                p{
                  width: auto;
                  color: #000;
                  font-family: Poppins;
                  font-size: 11px;
                  font-style: italic;
                  font-weight: 400;
                  line-height: 16px;
                }
              }
            }
            }
            .upsell_price{
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              justify-content: space-between;
              height: 100%;
              a .upsell_amt{
                display: none;
              }
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev{
          display: flex !important;
          justify-content: center;
          align-items: center;
          background: #C8E6DC;
          top: 43%;
          width: 8%;
          height: 100px;
        }
        .swiper-button-next{
          right: 0;
        }
        .swiper-button-prev{
          left: 0;
        }
      }
    }
  }

  @media screen and (min-width:968px) {
    .cart_total-checkout .drawer__cart-checkout-btn {
      padding: 0 25px;
    }
  }
  }
}
/* End Side Cart: Upsell Carousel A/B/C by samu3le*/

/* CROSS SELL */
  .cross-sell {
    max-width: 550px;
    margin: 0 auto 40px;
  }
  .cross-sell .cross-sell__products {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 520px;
  }
  .cross-sell .cross-sell__title {
    font-family: "Canela Web", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000;
    margin-bottom: 16px;
  }
  .cross-sell .cross-sell__product {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    border-radius: 16px;
    border: 1px solid #C8E6DC;
    background: #E7F3EE;
    overflow: hidden;
  }
  .cross-sell .cross-sell__product-content-image {
    background: white;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 128px;
    display: flex;
  }

  .cross-sell .cross-sell__product-content {
    flex: 1 1 auto;
    align-self: auto;
    padding: 8px 24px 8px 16px;
    align-content: center;
    min-height: 100px;
  }

  .cross-sell .cross-sell__product-content__top {
    margin-bottom: 6px;
  }
  .cross-sell .cross-sell__product-content--title {
    color: #000;
    font-family: "Canela Web";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .cross-sell .cross-sell__product-content--subtitle {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
  }

  .cross-sell .cross-sell__product-content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .cross-sell .cross-sell__product-content--price {
    color: #000;
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  .cross-sell .cross-sell__product-content--button {
    display: flex;
    padding: 8px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 12px;
  }

  @media screen and (max-width:767px) {
    .cross-sell .cross-sell__title {
      font-size: 20px;
    }
    .cross-sell .cross-sell__product-content--title.small-text {
      font-size: 14px;
    }
  }
/* CROSS SELL END */