/* landing purchase */

/* card */
  .panel-hidden{
      display: none;
    }

  .new-landing-purchase{

    /* variables */

    --no-active-color: #D7D9D9;
    --active-color: #C8E6DC;
    /* images background colors - gradient */
    --img-color-gold: #fffaf0;
    --img-color-silver: #f5f5f5;
    --img-gradient-gold-silver:linear-gradient(90deg, #FFFAF1 0.66%, #F5F5F5 100%); 

    /* title card gradiant */

    --gradiant-color-silver: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 50%, #ffffff 50%, #ffffff 100%);;
    --gradiant-color-gold: linear-gradient(to bottom, #fffaf0 0%, #fffaf0 50%, #ffffff 50%, #ffffff 100%);
    --gradient-corners-gold-silver: radial-gradient(circle at top left, #FFFAF1, transparent),radial-gradient(circle at top right, #F5F5F5, transparent);
    --gradient-distribution: 100% 50%;
    --gradient-repeat: no-repeat;

    /* end variables */

    background: linear-gradient(180deg, #DBEFE8 -3.91%, #FFFFFF 51.05%);

    /* title */

    .landing-container-title {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      h3{
        font-family: 'Canela Web';
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
      }
      p{
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

      }
    }

    /* breadcrumbs */
    #landing-breadcrumbs{
      .landing-breadcrumbs-container{
        .landing-breadcrumbs-wrapper{
          display: flex;
          gap: 8px;
        }

        .landing-breadcrumbs-item{
          width: 244px;
          height: 52px;
          border: 2px solid #D7D9D9;
          background-color: rgb(217, 202, 202);
          position: relative;
          /* border-radius: 26px; */
          display: flex;
          justify-content: center;
          align-items: center;
          &.active-breadcrumb{
            background-color: #C8E6DC;
            border: 2px solid #C8E6DC;
          }
        }

        .breadCrumb-arrow-shape-start-cricle::before,
        .breadCrumb-arrow-shape-start-cricle::after{
          content: '';
          position: absolute;
          top:0;
        }

        .breadCrumb-arrow-shape-start-cricle::before {
          height: 100%;
          background: red;
          left: 0;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          border: 12px solid transparent;
          transform: translateX(-36%);
        }
        
        .breadCrumb-arrow-shape-start-cricle::after {
          height: 100%;
          right: 0;
          border-top: 25px solid red;
          border-bottom: 25px solid red;
          border-left: 14px solid transparent;
          transform: translateX(100%);
        }
        /* /

        .breadCrumb-arrow-shape-end-cricle{}

        .breadCrumb-arrow-shape{
          
        } */


      }

      .hide-breadcrumbs{
        display: none;
      }
    }

    /* input[type="radio"]{
      display: none;
    } */

    
    #main-panel-lading{
      width: 100%;
      height: 700px;
      /* step 1 */
      .lading-one-title-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 32px;
        h3{
          font-family: 'Poppins';
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .step1-purchase-card-container{
        border: 2px solid var(--no-active-color);
        width: 304px;
        height: 600px;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        .step1-card-choise-container{
          height: 22px;
          position: absolute;
          top: -23px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            background-color: black;
            font-family: 'Poppins';
            font-size: 10px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-align: left;
            color: white;
            padding: 3px 16px;
            border-radius: 16px 16px 0px 0px;
          }
        }
        .card-img-container{
          width: 100%;
          height: 236px;
          border-radius: 24px 24px 0px 0px;
          background-color: #f6f7f8;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .step1-card-price-container{
          position: relative;
          .step1-card-price-discount{
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -28px;
            p{
              font-family: 'Poppins';
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0.05em;
              text-align: left;
              background-color: #3B8566;
              color: white;
              border-radius: 16px 16px 0 0;
              padding: 1px 16px 3px;
              
            }
          }
          .step1-card-price{
            .step1-card-price-information{
              padding: 12px 33px 12px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 8px;
              border: 1px solid var(--no-active-color);
              border-radius: 40px;
              .step1-card-price__title{
                font-family: 'Canela Web';
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.01em;
                text-align: left;
              }
              .step1-card-price-wrapper{
                display: flex;
                gap: 4px;
                flex-direction: row;
                .step1-card-price-wrapper__real{
                  font-family: 'Poppins';
                  font-size: 14px;
                  font-weight: 300;
                  line-height: 24px;
                  letter-spacing: 0.01em;
                  text-align: left;
                  text-decoration-line: line-through;
                }
                .step1-card-price-wrapper__discount{
                  font-family: 'Poppins';
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 24px;
                  letter-spacing: 0.01em;
                  text-align: left;
                }
              }
            }
          }
        }

        .step1-card-value-props{
          padding: 10px 16px 10px;
          .step1-value-doctor{
            background-color: #F6F6F6;
            margin-bottom: 8px;
            display: flex;
            gap: 8px;
            align-items: center;
            padding: 4px 12px 4px 8px;
            border-radius: 8px;
            p{
              font-family: 'Poppins';
              font-size: 12px;
              font-weight: 500;
              line-height: 16px;
              text-align: left;
            }
          }
          .step1-value-static-props{
            padding-right: 13px;
            padding-bottom: 8px;
            .metafield-rich_text_field{
              ul{
                display: flex;
                flex-direction: column;
                gap: 8px;
                li{
                  font-family: 'Poppins';
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                  text-align: left;
                }
              }
            }
          }
          .step1-value-props-dropdown{
            border-top: 1px solid #C8E6DC;
            .step1-value-dropdown-title{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              height: 32px;
              .step1-value-dropdown-title-wrapper{
                display: flex;
                flex-direction: row;
                gap: 8px;
                .step1-value-dropdown-title-wrapper__title{
                  font-family: 'Poppins';
                  font-size: 12px;
                  font-weight: 600;
                  line-height: 24px;
                  letter-spacing: 0.02em;
                  text-align: left;
                }
                .step1-value-dropdown-title-wrapper__text{
                  font-family: 'Poppins';
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0.02em;
                  text-align: left;
                }
              }
            }
            .step1-value-dropdown-information{
              padding-top: 4px;
              .metafield-rich_text_field{
                ul{
                  display: flex;
                  flex-direction: column;
                  li{
                    font-family: 'Poppins';
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    strong {
                      font-family: 'Poppins';
                      font-size: 10px;
                      font-weight: 500;
                      line-height: 20px;
                      text-align: left;
                    }
                  }
                }
              
              }
            }
          }
        }
      }

      input[type="radio"]:checked + label[for="products1-one"],
      input[type="radio"]:checked + label[for="products1-two"],
      input[type="radio"]:checked + label[for="products1-three"]{
        .step1-purchase-card-container{
          border: 2px solid var(--active-color);
        }
        .card-img-container{
          background: linear-gradient(90deg, #FFFAF1 0.66%, #F5F5F5 100%);
          border-radius: 24px 24px 0px 0px;
        }
        .step1-card-price-information{
          border-color: var(--active-color);
          background-color: var(--active-color);
        }
      }

      input[type="radio"]:checked + label[for="products2-one"],
      input[type="radio"]:checked + label[for="products2-two"],
      input[type="radio"]:checked + label[for="products2-three"]{
        .step1-card-price-information{
          border-color: var(--active-color);
          background-color: var(--active-color);
        }
      }

      input[type="radio"]:checked + label[for="products3-one"],
      input[type="radio"]:checked + label[for="products3-two"],
      input[type="radio"]:checked + label[for="products3-three"]{
        /* cambiar las imagnes si esta funcionando pero la imagen que existe tiene fondo blanco
          !cambiar todas las imagenes

        */
        .card-img-container{
          background: linear-gradient(90deg, #FFFAF1 0.66%, #F5F5F5 100%);
          border-radius: 24px 24px 0px 0px;
        }
        .step1-card-price-information{
          border-color: var(--active-color);
          background-color: var(--active-color);
        }
      }

    }

    /* step2 */
    /* !cambiar las imagenes de paul */
    #landing-step-two{
      .step2-purchase-card-container{
        width: 304px;
        height: auto;
        border-radius: 24px;
        border: 2px solid var(--no-active-color);
        display: flex;
        flex-direction: column;
        .step2-card-img-container{
          width: 100%;
          height: 236px;
          background-color: #f5f5f5;
          border-radius: 24px 24px 0px 0px;
          padding: 24px 0;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .step2-card-title-container{
          background: var(--gradiant-color-silver);
          .step2-card-title{
            padding: 16px 24px 16px;
            border: 1px solid var(--no-active-color);
            border-radius: 24px;
            background-color: white;
            h3{
              font-family: 'Canela Web';
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0.01em;
              text-align: center;
              text-transform: capitalize;
              margin: 0;
            }
          }
        }
        

        .step2-card-value-props{
          padding: 14px 24px 20px;
          background-color: white;
          border-radius: 0 0 24px 24px;
          ul{
            li{
              list-style: initial;
              font-family: 'Poppins';
              font-size: 12px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
            }
          }
        }
      }

      input[type="radio"]:checked + label[for="serum-1"]{
        .step2-card-img-container{
          background-color: var(--img-color-gold);
          border-radius: 24px 24px 0px 0px;
        }
        .step2-card-title-container{
          background: var(--gradiant-color-gold);
        }
      }

      input[type="radio"]:checked + label[for="serum-3"]{
        .step2-card-img-container{
          background: var(--img-gradient-gold-silver);
          border-radius: 24px 24px 0px 0px;
        }
        .step2-card-title-container{
          background: var(--gradient-corners-gold-silver);
          background-size: var(--gradient-distribution);
          background-repeat: var(--gradient-repeat);
        }
      
      }

      input[type="radio"]:checked + label[for="serum-1"],
      input[type="radio"]:checked + label[for="serum-2"],
      input[type="radio"]:checked + label[for="serum-3"]{
        .step2-purchase-card-container{
          border: 2px solid #C8E6DC;
        }
        
        .step2-card-title{
          background-color: #C8E6DC;
          border-color: #C8E6DC;
        }
      }
    }


    /* step3 */
    #landing-step-three{
      .step3-purchase-card-container{
        width: 304px;
        height: auto;
        border-radius: 24px;
        border: 2px solid var(--no-active-color);
        display: flex;
        flex-direction: column;
        background-color: white;
        .step3-card-price-container{
          width: 100%;
          height: 108px;
          background: var(--img-color-silver);
          border-radius: 22px 22px 0px 0px;
        }
        .step3-card-title-container{
          background: var(--gradiant-color-silver);
          .step3-card-title{
            padding: 16px 24px 16px;
            border: 1px solid var(--no-active-color);
            border-radius: 24px;
            background-color: white;
            h3{
              font-family: 'Canela Web';
              font-size: 18px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0.01em;
              text-align: center;
              text-transform: capitalize;
              margin: 0;
            }
        }      
      }
    }
   
    
  }

  /* inputs */

  /* step1  */
  .inputs-products1{
    display: none;
  }
  .inputs-products2 {
    display: none;
  }
  .inputs-products3 {
    display: none;
  }

  /* step4 */
  .inputs-products4{
    display: none;
  }
  .inputs-products5 {
    display: none;
  }
  .inputs-products6 {
    display: none;
  }
  /* class added */
  .show-inputs{
    display: block;
  }
  
}